<style>
    #areaCode-update {
        padding: 20px 25px 25px 0;
    }

    #areaCode-update .layui-treeSelect .ztree li a, .ztree li span {
        margin: 0 0 2px 3px !important;
    }
</style>
<div class="layui-fluid" id="areaCode-update">
    <form class="layui-form" action="" lay-filter="areaCode-update-form">
        <div class="layui-form-item febs-hide">
            <label class="layui-form-label febs-form-item-require">id：</label>
            <div class="layui-input-block">
                <input type="text" name="id" class="layui-input" data-th-value="${areaCode.id}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">系统区号：</label>
            <div class="layui-input-block">
                <input type="text" name="inArea" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">对接区号：</label>
            <div class="layui-input-block">
                <input type="text" name="outArea" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">地区编码：</label>
            <div class="layui-input-block">
                <input type="text" name="areaCoding" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">地区名称：</label>
            <div class="layui-input-block">
                <input type="text" name="areaName" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">排序序号：</label>
            <div class="layui-input-block">
                <input type="text" name="orderNum" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item febs-hide">
            <button class="layui-btn" lay-submit="" lay-filter="areaCode-update-form-submit" id="submit"></button>
        </div>
    </form>
</div>

<script data-th-inline="javascript">
    layui.use(['febs', 'form', 'validate'], function () {
        var $ = layui.$,
            febs = layui.febs,
            layer = layui.layer,
            formSelects = layui.formSelects,
            treeSelect = layui.treeSelect,
            form = layui.form,
            areaCode = [[${areaCode}]],
            $view = $('#areaCode-update'),
            validate = layui.validate;

        form.verify(validate);
        form.render();

        initareaCodeValue();

        function initareaCodeValue() {
            form.val("areaCode-update-form", {
                "inArea": areaCode.inArea,
                "outArea": areaCode.outArea,
                "areaCoding": areaCode.areaCoding,
                "areaName": areaCode.areaName,
                "orderNum": areaCode.orderNum
            });
        }

        form.on('submit(areaCode-update-form-submit)', function (data) {
            if (febs.nativeEqual(data.field, areaCode)) {
                febs.alert.warn('数据未作任何修改！');
                return false;
            }
            febs.post(ctx + 'areaCode/update', data.field, function () {
                layer.closeAll();
                febs.alert.success('数据修改成功！');
                $('#febs-areaCode').find('#query').click();
            });
            return false;
        });
    });
</script>