<style>
    #numberPoolGroup-add {
        padding: 20px 25px 25px 0;
    }
    #numberPoolGroup-add .layui-treeSelect .ztree li a, .ztree li span {
        margin: 0 0 2px 3px !important;
    }
</style>
<div class="layui-fluid" id="numberPoolGroup-add">
    <form class="layui-form" action="" lay-filter="numberPoolGroup-add-form">
        <div class="layui-form-item">
            <label class="layui-form-label">名称：</label>
            <div class="layui-input-block">
                <input type="text" name="name" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">描述：</label>
            <div class="layui-input-block">
                <input type="text" name="description" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item febs-hide">
            <button class="layui-btn" lay-submit="" lay-filter="numberPoolGroup-add-form-submit" id="submit"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>

<script>
    layui.use(['febs', 'form', 'validate'], function () {
        var $ = layui.$,
            febs = layui.febs,
            layer = layui.layer,
            form = layui.form,
            $view = $('#numberPoolGroup-add'),
            validate = layui.validate;

        form.verify(validate);
        form.render();
        form.on('submit(numberPoolGroup-add-form-submit)', function (data) {
            febs.post(ctx + 'numberPoolGroup', data.field, function () {
                layer.closeAll();
                febs.alert.success('数据新增成功！');
                $('#febs-numberPoolGroup').find('#query').click();
            });
            return false;
        });
    });
</script>