<style>
    #channel-properties-update {
        padding: 15px 15px 0 15px;
    }
</style>
<div class="layui-fluid " id="channel-properties-update">
    <form id="properties-form" class="layui-form layui-form-pane" action="">
        <div id = "addContent" style="height: 500px;overflow:auto;">

            <div class="layui-form-item">
                <div class='contentDiv'>
                    <input type="hidden" class='costValue' name="smsChannelId" data-th-value="${smsChannelId}">
                    <label class="layui-form-label"> 请求地址:</label>
                    <div class="layui-input-inline febs-hide">
                        <input type="text" class='costValue layui-input' name="name" value="reqUrl">
                    </div>
                    <div class="layui-input-block">
                        <input type="text" id="reqUrl" class='costValue layui-input' name="value">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class='contentDiv'>
                    <input type="hidden" class='costValue' name="smsChannelId" data-th-value="${smsChannelId}">
                    <label class="layui-form-label"> 账号:</label>
                    <div class="layui-input-inline febs-hide">
                        <input type="text" class='costValue layui-input' name="name" value="account">
                    </div>
                    <div class="layui-input-block">
                        <input type="text" id="account" class='costValue layui-input' name="value">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class='contentDiv'>
                    <input type="hidden" class='costValue' name="smsChannelId" data-th-value="${smsChannelId}">
                    <label class="layui-form-label"> 商户编号:</label>
                    <div class="layui-input-inline febs-hide">
                        <input type="text" class='costValue layui-input' name="name" value="orgNo">
                    </div>
                    <div class="layui-input-block">
                        <input type="text" id="orgNo" class='costValue layui-input' name="value">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
            <div class='contentDiv'>
                <input type="hidden" class='costValue' name="smsChannelId" data-th-value="${smsChannelId}">
                <label class="layui-form-label"> 密钥:</label>
                <div class="layui-input-inline febs-hide">
                    <input type="text" class='costValue layui-input' name="name" value="signKey">
                </div>
                <div class="layui-input-block">
                    <input type="text" id="signKey" class='costValue layui-input' name="value">
                </div>
            </div>
        </div>

            <div class="layui-form-item">
                <div class='contentDiv'>
                    <input type="hidden" class='costValue' name="smsChannelId" data-th-value="${smsChannelId}">
                    <label class="layui-form-label" style="padding: 8px 2px;"> 链接超时时间:</label>
                    <div class="layui-input-inline febs-hide">
                        <input type="text" class='costValue layui-input' name="name" value="connectTimeout">
                    </div>
                    <div class="layui-input-inline">
                        <input type="text" id="connectTimeout" class='costValue layui-input' name="value">
                    </div>
                </div>
                <div class='contentDiv'>
                    <input type="hidden" class='costValue' name="smsChannelId" data-th-value="${smsChannelId}">
                    <label class="layui-form-label" style="padding: 8px 2px;"> 读取超时时间:</label>
                    <div class="layui-input-inline febs-hide">
                        <input type="text" class='costValue layui-input' name="name" value="readTimeout">
                    </div>
                    <div class="layui-input-inline">
                        <input type="text" id="readTimeout" class='costValue layui-input' name="value">
                    </div>
                </div>
            </div>

            <hr class="layui-bg-gray">
        </div>

        <div class="layui-form-item febs-hide">
            <button class="layui-btn" lay-submit="" lay-filter="http-properties-update-form-submit" id="submit"></button>
        </div>
    </form>
</div>

<script data-th-inline="javascript">
    layui.use(['febs', 'form', 'formSelects', 'validate'], function () {
        var $ = layui.$,
            febs = layui.febs,
            layer = layui.layer,
            form = layui.form,
            smsChannelId = [[${smsChannelId}]],
            channelProperties = [[${channelProperties}]],
            $view = $('#channel-properties-update'),
            $addContent = $view.find('#addContent'),
            validate = layui.validate;

        form.verify(validate);
        form.render();

        if(channelProperties.length > 0){
            for (var i = 0; i < channelProperties.length; i++) {
                var name = channelProperties[i].name;
                var elem = $('#'+name);
                if (elem.length > 0){
                    elem.val(channelProperties[i].value)
                }else {
                    addContent(channelProperties[i].name,channelProperties[i].value,"delete","删除","febs-bg-volcano");
                }
            }
        }
        addContent("","","add","新增");
        function addContent(name,value,type,typeName,color) {
            var html =
                "<div class='contentDiv'>"+
                "<div class=\"layui-form-item\">"+
                "<input type=\"hidden\" class='costValue' name=\"smsChannelId\" value=\""+smsChannelId+"\">"+
                "<label class=\"layui-form-label\"> 属性名:</label>"+
                "<div class=\"layui-input-inline\">"+
                "<input type=\"text\" class='costValue layui-input' name=\"name\" value=\""+name+"\">"+
                "</div>"+
                "<label class=\"layui-form-label\">属性值:</label>"+
                "<div class=\"layui-input-inline\">"+
                "<input type=\"text\" class='costValue layui-input' name=\"value\" value=\""+value+"\">"+
                "</div>"+
                "<input  type=\"button\" class=\"layui-btn addButton "+color+"\"  data-method=\"addInput\" name=\""+type+"\" value='"+typeName+"'/>"+
                "</div>"+
                "</div>";
            $addContent.append(html);
        }
        var $ = layui.jquery;
        //动态加载元素用
        $addContent.on('click','input[name="add"]', function () {
            addContent("","","add","新增");
            this.name = "delete";
            this.value = "删除";
            $(this).addClass("febs-bg-volcano");
        });
        $addContent.on('click','input[name="delete"]', function () {
            $($($(this).parent()).parent()).remove();
        });

        form.on('submit(http-properties-update-form-submit)', function (data) {
            var objs =  $(data.form).find('' +
                '.contentDiv');
            var obj = [];
            for (var i = 0; i < objs.length; i++) {
                var strs = $(objs[i]).find('.costValue').serialize();
                var str = {},arr = strs.split('&');
                for (var ii = 0; ii < arr.length; ii++) {
                    var subArr = arr[ii].split('=');
                    var key = decodeURIComponent(subArr[0]);
                    var value = decodeURIComponent(subArr[1]);
                    str[key] = value;
                }
                obj[i] = str;
            }
            if (febs.nativeEqual(obj, channelProperties)) {
                febs.alert.warn('数据未作任何修改！');
                return false;
            }
            febs.ajax({
                type : 'POST',
                url: ctx + 'smsChannelProperty/updates',
                contentType : "application/json" ,
                data : JSON.stringify(obj),
                success : function(data) {
                    layer.closeAll();
                    febs.alert.success(' 数据修改成功');
                }
            });
            return false;
        });
    });
</script>