<style>
    #smsChannelGroup-update {
        padding: 20px 25px 25px 0;
    }
    #smsChannelGroup-update .layui-treeSelect .ztree li a, .ztree li span {
        margin: 0 0 2px 3px !important;
    }
</style>
<div class="layui-fluid" id="smsChannelGroup-update">
    <form class="layui-form" action="" lay-filter="smsChannelGroup-update-form">
        <div class="layui-form-item">
            <label class="layui-form-label">通道分组：</label>
            <div class="layui-input-block">
                <select name="groupIds"
                        xm-select-direction="down"
                        xm-select="smsChannelGroup-update-orgGroup"
                        xm-select-skin="default">
                </select>
            </div>
        </div>
        <div class="layui-form-item febs-hide">
            <label class="layui-form-label">通道：</label>
            <div class="layui-input-block">
                <input type="text" name="smsChannelId" class="layui-input" disabled>
            </div>
        </div>
        <div class="layui-form-item febs-hide">
            <button class="layui-btn" lay-submit="" lay-filter="smsChannelGroup-update-form-submit" id="submit"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>

<script data-th-inline="javascript">
    layui.use(['febs', 'form','formSelects', 'validate'], function () {
        var $ = layui.$,
            febs = layui.febs,
            layer = layui.layer,
            form = layui.form,
            formSelects = layui.formSelects,
            data = [[${data}]],
            $view = $('#smsChannelGroup-update'),
            validate = layui.validate;

        form.verify(validate);
        form.render();

        initSmsChannelGroupValue();

        function initSmsChannelGroupValue() {
            form.val("smsChannelGroup-update-form", {
                "smsChannelId": data.smsChannelId
            });

            formSelects.render();

            formSelects.data('smsChannelGroup-update-orgGroup', 'local', {
                arr: data.smsChannelGroupList
            });
            $view.find("#smsChannelGroup-update-orgGroup").click();
        }

        form.on('submit(smsChannelGroup-update-form-submit)', function (data) {
            febs.post(ctx + 'smsChannelGroup/incrementSave', data.field, function () {
                layer.closeAll();
                febs.alert.success('数据更新成功！');
                $('#febs-smsChannelGroup').find('#query').click();
            });
            return false;
        });
    });
</script>