<style>
    #code-update {
        padding: 20px 25px 25px 0;
    }

    #code-update .layui-treeSelect .ztree li a, .ztree li span {
        margin: 0 0 2px 3px !important;
    }
</style>
<div class="layui-fluid" id="code-update">
    <form class="layui-form" action="" lay-filter="code-update-form">
        <div class="layui-form-item febs-hide">
            <label class="layui-form-label febs-form-item-require">字典id：</label>
            <div class="layui-input-block">
                <input type="text" name="id" data-th-value="${code.id}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">字典名称：</label>
            <div class="layui-input-block">
                <input type="text" name="name" minlength="2"  lay-verify="required|name"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">代码：</label>
            <div class="layui-input-block">
                <input type="text" name="code" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">上级代码：</label>
            <div class="layui-input-block">
                <input type="text" name="parentCode" lay-verify="code" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">字典分类：</label>
            <div class="layui-input-block">
                <select name="sortCode"
                        lay-verify="required"
                        xm-select-direction="down"
                        xm-select="code-update-codeSort"
                        xm-select-skin="default">
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">描述：</label>
            <div class="layui-input-block">
                <input type="text" name="description" maxlength="1024" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注：</label>
            <div class="layui-input-block">
                <textarea name="remark" maxlength="1024" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item febs-hide">
            <button class="layui-btn" lay-submit="" lay-filter="code-update-form-submit" id="submit"></button>
        </div>
    </form>
</div>

<script data-th-inline="javascript">
    layui.use(['febs', 'form', 'formSelects', 'validate'], function () {
        var $ = layui.$,
            febs = layui.febs,
            layer = layui.layer,
            formSelects = layui.formSelects,
            form = layui.form,
            code = [[${code}]],
            $view = $('#code-update'),
            validate = layui.validate;

        form.verify(validate);
        form.render();

        initCodeValue();

        formSelects.render();

        formSelects.config('code-update-codeSort', {
            searchUrl: ctx + 'codeSort',
            response: {
                statusCode: 200
            },
            beforeSuccess: function (id, url, searchVal, result) {
                var data = result.data;
                var tranData = [];
                for (var i = 0; i < data.length; i++) {
                    tranData.push({
                        name: data[i].name,
                        value: data[i].code
                    })
                }
                result.data = tranData;
                return result;
            },
            success: function () {
                formSelects.value('code-update-codeSort', code.sortCode.split(','));
            },
            error: function (id, url, searchVal, err) {
                console.error(err);
                febs.alert.error('获取字典分类列表失败');
            }
        });

        function initCodeValue() {
            form.val("code-update-form", {
                "sortCode": code.sortCode,
                "code": code.code,
                "name": code.name,
                "parentCode": code.parentCode,
                "description": code.description,
                "remark": code.remark
            });
        }

        form.on('submit(code-update-form-submit)', function (data) {
            if (febs.nativeEqual(data.field, code)) {
                febs.alert.warn('数据未作任何修改！');
                return false;
            }
            febs.post(ctx + 'code/update', data.field, function () {
                layer.closeAll();
                febs.alert.success(' 数据修改成功');
                $('#febs-code').find('#query').click();
            });
            return false;
        });
    });
</script>