<style>
    #user-limit-update {
        padding: 20px 25px 25px 0;
    }

    #user-limit-update .layui-treeSelect .ztree li a, .ztree li span {
        margin: 0 0 2px 3px !important;
    }
</style>
<div class="layui-fluid" id="user-limit-update">
    <form class="layui-form" action="" lay-filter="user-limit-update-form">
        <div class="layui-form-item">
            <label class="layui-form-label">角色权限：</label>
            <div class="layui-input-block user-menu-tree" style="margin-top: .8rem;"></div>
        </div>
        <div class="layui-form-item febs-hide">
            <button class="layui-btn" lay-submit="" lay-filter="user-limit-update-form-submit" id="submit"></button>
        </div>
    </form>
</div>

<script data-th-inline="javascript">
    layui.use(['febs', 'form', 'formSelects', 'validate', 'eleTree'], function () {
        var $ = layui.$,
            febs = layui.febs,
            layer = layui.layer,
            form = layui.form,
            eleTree = layui.eleTree,
            userId = [[${id}]],
            limits = [[${limits}]],
            $view = $('#user-limit-update'),
            validate = layui.validate;

        form.verify(validate);
        form.render();

        var ids = [];
        for (var i = 0; i < limits.length; i++) {
            ids[i] = limits[i].menuId + "";
        }

        var menuTree = eleTree.render({
            elem: '.user-menu-tree',
            url: ctx + 'organizationUserMenu/tree',
            showCheckbox: true,
            where: {
                "invalidate_ie_cache": new Date()
            },
            accordion: true,
            isStrictly: true,
            //checkStrictly: true,
            renderAfterExpand: false,
            request: {
                name: "title",
                key: "id",
                children: "childs",
                checked: "checked",
                data: "data"
            },
            response: {
                statusName: "code",
                statusCode: 200,
                dataName: "data"
            },
            defaultCheckedKeys:ids
        });
        form.on('submit(user-limit-update-form-submit)', function (data) {
            var selected = menuTree.getChecked(false, false);
            var menuIds = [];
            layui.each(selected, function (key, item) {
                menuIds.push(item.id)
            });
            data.field.menuIds = menuIds.join(',');
            data.field.userId = userId;
            if (!menuIds.length) {
                febs.modal.confirm('提示', '当前角色未授予任何权限，是否继续？', function () {
                    updateLimit(data.field);
                });
            } else {
                updateLimit(data.field);
            }
            return false;
        });

        function updateLimit(data) {
            febs.post(ctx + 'organizationUserLimit/updates', data, function () {
                layer.closeAll();
                febs.alert.success('修改权限成功');
            });
        }

    });
</script>