<style xmlns:sys="http://www.w3.org/1999/html">
    #organization-add {
        padding: 20px 25px 25px 0;
    }
    #organization-add .layui-treeSelect .ztree li a, .ztree li span {
        margin: 0 0 2px 3px !important;
    }
</style>
<div class="layui-fluid" id="organization-add">
    <form class="layui-form" action="" lay-filter="organization-add-form">
            <div class="layui-form-item">
                <label class="layui-form-label">商务：</label>
                <div class="layui-input-block">
                    <sys:dict sortCode="Business" name="businessUserId" class="layui-form-label layui-form-label-sm"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label febs-form-item-require">代理商：</label>
                <div class="layui-input-block">
                    <sys:data dataType="agent" name="agentId" class="layui-form-label layui-form-label-sm" lay-verify="required"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label febs-form-item-require">商户名称：</label>
                <div class="layui-input-block">
                    <input type="text" name="organizationName" lay-verify="required" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label febs-form-item-require">开通接口：</label>
                <div class="layui-input-block">
                    <select name="interfaceType"
                            lay-verify="required"
                            xm-select-direction="down"
                            xm-select="org-add-interfaceType"
                            xm-select-skin="default">
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label febs-form-item-require">用户名：</label>
                <div class="layui-input-block">
                    <input type="text" name="userAccount" minlength="6" lay-verify="range" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label febs-form-item-require">密码：</label>
                <div class="layui-input-block">
                    <input type="password" name="userPassword" minlength="6" lay-verify="range" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label febs-form-item-require">确认密码：</label>
                <div class="layui-input-block">
                    <input type="password" name="checkPassword" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label febs-form-item-require">短信审核：</label>
                <div class="layui-input-block">
                    <sys:dict sortCode="SmsApproveType" name="smsApproveType"  value="0" class="layui-form-label layui-form-label-sm" lay-verify="required"/>
                </div>
            </div>
            <div class="layui-form-item">
	            <label class="layui-form-label">商户分组：</label>
	            <div class="layui-input-block">
	                <select name="remark"
	                        xm-select-direction="down"
	                        xm-select="organizationGroup-update-orgGroup"
	                        xm-select-skin="default">
	                </select>
	            </div>
        	</div>
            <div class="layui-form-item">
                <label class="layui-form-label">联系人：</label>
                <div class="layui-input-block">
                    <input type="text" name="contact" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">联系电话：</label>
                <div class="layui-input-block">
                    <input type="text" name="contactMobile" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">商户邮箱：</label>
                <div class="layui-input-block">
                    <input type="text" name="email" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">商户地址：</label>
                <div class="layui-input-block">
                    <input type="text" name="address" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">商户网站：</label>
                <div class="layui-input-block">
                    <input type="text" name="webUrl" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">短信签名：</label>
                <div class="layui-input-block">
                    <input type="text" name="smsSign" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">绑定IP：</label>
                <div class="layui-input-block">
                    <input type="text" name="bindIp" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">通知地址：</label>
                <div class="layui-input-block">
                    <input type="text" name="notifyUrl" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">描述：</label>
                <div class="layui-input-block">
                    <input type="text" name="description" class="layui-input">
                </div>
            </div>
        <div class="layui-form-item febs-hide">
            <button class="layui-btn" lay-submit="" lay-filter="organization-add-form-submit" id="submit"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>

<script data-th-inline="javascript">
    layui.use(['febs', 'form', 'formSelects', 'validate', 'treeSelect'], function () {
        var $ = layui.$,
            febs = layui.febs,
            layer = layui.layer,
            formSelects = layui.formSelects,
            treeSelect = layui.treeSelect,
            form = layui.form,
            $view = $('#organization-add'),
            data = [[ ${orgInterfaceTypeEnums} ]],
            groupData = [[ ${orgGroupList} ]],
            validate = layui.validate;

        form.verify(validate);
        form.render();

        initFormSelects();


        function initFormSelects(){
            var tranData = [];
            for (var i = 0; i < data.length; i++) {
                tranData.push({
                    name: data[i].name,
                    value: data[i].code
                })
            }

            formSelects.data("org-add-interfaceType","local",{
                arr: tranData
            });
            
            var groupTranData = [];
            for (var i = 0; i < groupData.length; i++) {
            	groupTranData.push({
                    name: groupData[i].name,
                    value: groupData[i].code
                })
            }
            formSelects.data('organizationGroup-update-orgGroup', 'local', {
                arr: groupTranData
            });
        }

        form.on('submit(organization-add-form-submit)', function (data) {
            if (data.field.userPassword !== data.field.checkPassword) {
                febs.alert.warn('两次密码输入不一致！');
                return false;
            }
            var str = data.field.interfaceType;
            data.field.interfaceType = 0;
            str.split(",").forEach(function (value) {
                data.field.interfaceType += parseInt(value);
            })
            febs.post(ctx + 'organization', data.field, function () {
                layer.closeAll();
                febs.alert.success('新增商户成功');
                $('#febs-organization').find('#query').click();
            });
            return false;
        });
    });
</script>
