<style>
    #organization-cancel{
        padding: 20px 25px 25px 0;
    }
    #organization-cancel .layui-treeSelect .ztree li a, .ztree li span {
        margin: 0 0 2px 3px !important;
    }
</style>
<div class="layui-fluid" id="organization-cancel">
    <form class="layui-form" action="" lay-filter="organization-cancel-form">
        <div class="layui-form-item febs-hide">
            <label class="layui-form-label febs-form-item-require">商户id：</label>
            <div class="layui-input-block">
                <input type="text" name="id" data-th-value="${organization.id}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">商户编号：</label>
            <div class="layui-input-block">
                <input type="text" name="organizationCode" class="layui-input" data-th-value="${organization.organizationCode}" readonly="readonly">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">商户名称：</label>
            <div class="layui-input-block">
                <input type="text" name="organizationName" class="layui-input" data-th-value="${organization.organizationName}" readonly="readonly">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">可用余额(元)：</label>
            <div class="layui-input-block">
                <input type="text" id="availableAmount" class="layui-input" data-th-value="${organization.availableAmount}/100" readonly="readonly">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">余额处理：</label>
            <div class="layui-input-block">
                <select  name="orgAmountHandle" lay-verify="required">
                    <option value=""></option>
                    <option  th:each="enum:${orgAmountHandleEnums}"
                             th:value ="${enum.code}"
                             th:text="${enum.name}">
                    </option>
                </select>
            </div>
        </div>
        <div class="layui-form-item febs-hide">
            <button class="layui-btn" lay-submit="" lay-filter="organization-cancel-form-submit" id="submit"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>

<script data-th-inline="javascript">
    layui.use(['febs', 'form', 'validate'], function () {
        var $ = layui.$,
            febs = layui.febs,
            layer = layui.layer,
            form = layui.form,
            organization = [[ ${organization} ]],
            $view = $('#organization-cancel'),
            validate = layui.validate;
        form.verify(validate);
        form.render();
        form.on('submit(organization-cancel-form-submit)', function (data) {
            febs.post(ctx + 'organization/cancel', data.field, function (r) {
                layer.closeAll();
                febs.alert.success('作废成功!');
                $('#febs-organization').find('#query').click();
            });
            return false;
        });
    });
</script>