<style>
    #org-properties-update {
        padding: 15px 15px 0 15px;
    }
</style>
<div class="layui-fluid " id="org-properties-update">

    <div class="layui-tab layui-tab-card" lay-filter="propertyType">
        <ul class="layui-tab-title">
            <li id="smpp" class="layui-this">smpp</li>
            <li id="http" >http</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <form id="smpp-properties-form" class="layui-form layui-form-pane" action="">
                    <div id = "smpp-addContent">
                        <div class="layui-form-item">
                            <div class='contentDiv'>
                                <input type="hidden" class='costValue' name="organizationCode" data-th-value="${orgCode}">
                                <label class="layui-form-label"> systemId:</label>
                                <div class="layui-input-inline febs-hide">
                                    <input type="text" class='costValue layui-input' name="name" value="systemId">
                                </div>
                                <div class="layui-input-block">
                                    <input type="text" id="systemId" class='costValue layui-input' name="value">
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class='contentDiv'>
                                <input type="hidden" class='costValue' name="organizationCode" data-th-value="${orgCode}">
                                <label class="layui-form-label"> password:</label>
                                <div class="layui-input-inline febs-hide">
                                    <input type="text" class='costValue layui-input' name="name" value="password">
                                </div>
                                <div class="layui-input-block">
                                    <input type="text" id="password" class='costValue layui-input' name="value">
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class='contentDiv'>
                                <input type="hidden" class='costValue' name="organizationCode" data-th-value="${orgCode}">
                                <label class="layui-form-label"> 最大连接数:</label>
                                <div class="layui-input-inline febs-hide">
                                    <input type="text" class='costValue layui-input' name="name" value="maxChannels">
                                </div>
                                <div class="layui-input-block">
                                    <input type="text" id="maxChannels" class='costValue layui-input' name="value">
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class='contentDiv'>
                                <input type="hidden" class='costValue' name="organizationCode" data-th-value="${orgCode}">
                                <label class="layui-form-label">流速:</label>
                                <div class="layui-input-inline febs-hide">
                                    <input type="text" class='costValue layui-input' name="name" value="readLimit">
                                </div>
                                <div class="layui-input-block">
                                    <input type="text" id="readLimit" class='costValue layui-input' name="value">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <button class="layui-btn" lay-submit="" style="float: right" lay-filter="org-properties-submit">修改</button>
                    </div>
                </form>
            </div>
            <div class="layui-tab-item">
                暂无HTTP属性可配置
                <!--<form id="http-properties-form" class="layui-form layui-form-pane" action="">
                    <div id = "http-addContent">
                        <div class="layui-form-item">
                            <div class='contentDiv'>
                                <input type="hidden" class='costValue' name="organizationCode" data-th-value="${orgCode}">
                                <label class="layui-form-label"> test:</label>
                                <div class="layui-input-inline febs-hide">
                                    <input type="text" class='costValue layui-input' name="name" value="test">
                                </div>
                                <div class="layui-input-block">
                                    <input type="text" id="test" class='costValue layui-input' name="value">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <button class="layui-btn" lay-submit="" style="float: right" lay-filter="org-properties-submit">修改</button>
                    </div>
                </form>-->
            </div>
        </div>
    </div>

</div>

<script data-th-inline="javascript">
    layui.use(['febs', 'form', 'formSelects', 'validate','element'], function () {
        var $ = layui.$,
            febs = layui.febs,
            layer = layui.layer,
            form = layui.form,
            orgCode = [[${orgCode}]],
            orgProperties = [[${orgProperties}]],
            $view = $('#org-properties-update'),
            $addContent = $view.find('#addContent'),
            element = layui.element,
            propertyType = 2,
            validate = layui.validate;

        form.verify(validate);
        form.render();

        if(orgProperties.length > 0){
            for (var i = 0; i < orgProperties.length; i++) {
                var name = orgProperties[i].name;
                var elem = $('#'+name);
                if (elem.length > 0){
                    elem.val(orgProperties[i].value)
                }else {
                    //addContent(orgProperties[i].name,orgProperties[i].value,"delete","删除","febs-bg-volcano");
                }
            }
        }
        var $ = layui.jquery;
        //动态加载元素用
        $addContent.on('click','input[name="add"]', function () {
            addContent("","","add","新增");
            this.name = "delete";
            this.value = "删除";
            $(this).addClass("febs-bg-volcano");
        });
        $addContent.on('click','input[name="delete"]', function () {
            $($($(this).parent()).parent()).remove();
        });

        element.on('tab(propertyType)', function(data){
            var propertyName = this.id;
            if (propertyName == 'http'){
                propertyType = 1;
            }else if (propertyName == 'smpp'){
                propertyType = 2;
            }
        });

        form.on('submit(org-properties-submit)', function (data) {
            var objs =  $(data.form).find('' +
                '.contentDiv');
            var obj = [];
            for (var i = 0; i < objs.length; i++) {
                var strs = $(objs[i]).find('.costValue').serialize();
                var str = {},arr = strs.split('&');
                for (var ii = 0; ii < arr.length; ii++) {
                    var subArr = arr[ii].split('=');
                    var key = decodeURIComponent(subArr[0]);
                    var value = decodeURIComponent(subArr[1]);
                    str[key] = value;
                }
                str['propertyType']  = propertyType;
                obj[i] = str;
            }
            if (febs.nativeEqual(obj, orgProperties)) {
                febs.alert.warn('数据未作任何修改！');
                return false;
            }
            febs.ajax({
                type : 'POST',
                url: ctx + 'organizationProperty/updates',
                contentType : "application/json" ,
                data : JSON.stringify(obj),
                success : function(data) {
                    layer.closeAll();
                    febs.alert.success(' 数据修改成功');
                }
            });
            return false;
        });
    });
</script>