<style>
    #user-add {
        padding: 20px 25px 25px 0;
    }
    #user-add .layui-treeSelect .ztree li a, .ztree li span {
        margin: 0 0 2px 3px !important;
    }
</style>
<div class="layui-fluid" id="codeSort-add">
    <form class="layui-form" action="" lay-filter="user-add-form">
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">分类名称：</label>
            <div class="layui-input-block">
                <input type="text" name="name" minlength="2" maxlength="10"
                       lay-verify="name" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">分类代码：</label>
            <div class="layui-input-block">
                <input type="tel" name="code" lay-verify="code" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">上级代码：</label>
            <div class="layui-input-block">
                <input type="text" name="parentCode" lay-verify="parentCode" maxlength="50" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">描述：</label>
            <div class="layui-input-block">
                <input type="text" name="description" lay-verify="description" maxlength="1024" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注：</label>
            <div class="layui-input-block">
                <textarea name="remark" maxlength="1024" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item febs-hide">
            <button class="layui-btn" lay-submit="" lay-filter="user-add-form-submit" id="submit"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>

<script>
    layui.use(['febs', 'form', 'formSelects', 'validate'], function () {
        var $ = layui.$,
            febs = layui.febs,
            layer = layui.layer,
            form = layui.form,
            $view = $('#user-add'),
            validate = layui.validate;

        form.verify(validate);
        form.render();


        form.on('submit(user-add-form-submit)', function (data) {
            febs.post(ctx + 'codeSort', data.field, function () {
                layer.closeAll();
                febs.alert.success('新增字典分类成功');
                $('#febs-codeSort').find('#query').click();
            });
            return false;
        });
    });
</script>