<style>
    #febs-index .welcome-info {
        border: 1px solid #f1f1f1;
        margin-bottom: .5rem;
        padding: .5rem;
    }

    #febs-index .welcome-info-wrapper {
        padding: .2rem;
        display: inline-block
    }

    #febs-index .welcome-info-wrapper .user-header {
        display: inline-block;
        vertical-align: middle
    }

    #febs-index .welcome-info-wrapper .user-header img {
        width: 5rem;
        margin: .5rem 1rem;
        border-radius: 50%
    }

    #febs-index .welcome-info-wrapper .user-info {
        display: inline-block;
        vertical-align: middle
    }

    #febs-index .welcome-info-wrapper .user-info .random-message {
        font-size: 1rem;
        margin-bottom: .2rem;
        max-width: 21rem
    }

    #febs-index .welcome-info-wrapper .user-info .user-dept, #febs-index .welcome-info-wrapper .user-info .user-login-info {
        color: rgba(0, 0, 0, 0.45);
    }

    #febs-index .login-count-table {
        width: 100%;
        margin: 1rem;
    }

    #febs-index .login-count-table .count {
        padding-top: .8rem;
        font-size: 1rem;
        font-weight: 600;
        color: #1890ff
    }

    #febs-index .project-table {
        padding: .5rem;
        border: 1px solid #f1f1f1;
        width: 100%
    }

    #febs-index .project-table-td {
        padding: .5rem 0.7rem;
        border: 1px solid #f1f1f1;
    }

    #febs-index .project-table-td a {
        color: #42b983;
        font-size: .9rem;
        font-weight: 600;
    }

    #febs-index .project-desc {
        color: rgba(0, 0, 0, 0.45);
    }
    
    .layuiadmin-card-list p.layuiadmin-big-font {
        font-size: 36px;
        color: #666;
        line-height: 36px;
        padding: 5px 0 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-all;
        white-space: nowrap;
    }
      .layuiadmin-badge {
        position: absolute;
        top: 50%;
        margin-top: -9px;
        right: 15px;
        color: #01AAED;
    }
    #febs-index .layui-badge {
        height: 18px;
        line-height: 18px;
        padding: 3px 9px;
    }
    .layuiadmin-span-color {
        font-size: 14px;
        position: absolute;
        right: 15px;
    }
</style>
<div class="layui-fluid layui-anim febs-anim-up" id="febs-index" lay-title="系统首页">
    <div class="layui-row layui-col-space8 febs-container">

        <div class="layui-col-md12 layui-col-sm12 layui-col-xs12">
            <div class="layui-card layui-col-space15">
            	<div class="layui-col-sm6 layui-col-md3" style="width: 50%" >
                    <div class="layui-card">
                        <div class="layui-card-header">
                          本次登录信息
                            <span class="layui-badge layui-bg-orange layuiadmin-badge">当前</span>
                        </div>
                        <div class="layui-card-body layuiadmin-card-list" style="padding:10px 10px">
                       	登录时间&nbsp;：<span id="this-login-time"></span><br/>
                                           登录&nbsp;I&nbsp; P&nbsp;：<span id="this-login-ip"></span>
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm6 layui-col-md3" style="width: 50%" >
                    <div class="layui-card">
                        <div class="layui-card-header">
                            上次登录记录
                            <span class="layui-badge layui-bg-blue layuiadmin-badge">记录</span>
                        </div>
                        <div class="layui-card-body layuiadmin-card-list" style="padding:10px 10px">
                       	登录时间：&nbsp;：<span id="last-login-time"></span><br/>
                                         登录&nbsp;I&nbsp; P&nbsp;：<span id="last-login-ip"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="layui-col-md12 layui-col-sm12 layui-col-xs12">
            <div class="layui-card layui-col-space15">
            	<div class="layui-col-sm6 layui-col-md3" style="width: 50%" >
                    <div class="layui-card">
                       <div class="layui-card-header">
                            当日消费金额（元）
                            <span class="layui-badge layui-bg-green layuiadmin-badge">当日</span>
                        </div>
                        <div class="layui-card-body layuiadmin-card-list" style="padding:10px 10px">
                            <p class="layuiadmin-big-font count" id="today_cash_amount">0</p>
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm6 layui-col-md3" style="width: 50%" >
                    <div class="layui-card">
                        <div class="layui-card-header">
                            当日发送量（条）
                            <span class="layui-badge layui-bg-green layuiadmin-badge">当日</span>
                        </div>
                        <div class="layui-card-body layuiadmin-card-list" style="padding:10px 10px">
                            <p class="layuiadmin-big-font count" id="today_send_sms_total">0</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
		<div class="layui-col-md12 layui-col-sm12 layui-col-xs12">
            <div class="layui-card layui-col-space15">
               <div class="layui-col-sm6 layui-col-md3" style="width: 50%" >
                    <div class="layui-card">
                        <div class="layui-card-header">
                            可用额度（元）
                            <span class="layui-badge layui-bg-blue layuiadmin-badge">合计</span>
                        </div>
                        <div class="layui-card-body layuiadmin-card-list" style="padding:10px 10px">
                            <p class="layuiadmin-big-font count" id="available_amount">0</p>
                             <a id="refreshAvailable"><span class="layui-badge layui-bg-green layuiadmin-badge">刷新余额</span></a>
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm6 layui-col-md3">
                    <div class="layui-card">
                        <div class="layui-card-header">
                            总消费金额(元)
                            <span class="layui-badge layui-bg-cyan layuiadmin-badge">合计</span>
                        </div>
                        <div class="layui-card-body layuiadmin-card-list" style="padding:10px 10px">
                            <p class="layuiadmin-big-font count" id="cash_amount">0</p>
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm6 layui-col-md3">
                    <div class="layui-card">
                        <div class="layui-card-header">
                           发送总数（条）
                            <span class="layui-badge layui-bg-blue layuiadmin-badge">合计</span>
                        </div>
                        <div class="layui-card-body layuiadmin-card-list" style="padding:10px 10px">
                            <p class="layuiadmin-big-font count" id="send_sms_total">0</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-sm8  layui-inline" style="width: 100%;">
            <div class="layui-card" >
                <div class="layui-card-body">
                 <div class="layui-card-header">【趋势曲线图】 </div>
                    <div id="lineChartDatalabelsline"></div>
                </div>
            </div>
        </div>
        <div class="layui-col-sm8  layui-inline" style="width: 100%;display:none;">
            <div class="layui-card" >
                <div class="layui-card-body">
                 <div class="layui-card-header">【柱状图】 </div>
                    <div id="lineChartDatalabels"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script data-th-inline="javascript" type="text/javascript">
    layui.use(['apexcharts', 'febs', 'jquery', 'util','moment'], function () {
        var $ = layui.jquery,
            util = layui.util,
            moment = layui.moment,
            $view = $('#febs-index'),
            febs = layui.febs;
        function quertUser(){
            febs.get(ctx + 'organizationUser/queryUserInfo', null, function (r) {
                currentOrg = r.data;
                $view.find('#today_cash_amount').text(r.todayCashAmount? r.todayCashAmount/100:0).end()
                    .find('#today_send_sms_total').text(r.todaySendSmsTotal?r.todaySendSmsTotal:0).end();
            });
        }

        $view.find('#user-realName').text(currentUser.userName ? currentUser.userName : '未获取到信息').end()
            .find('#user-account').text(currentUser.userAccount ? currentUser.userAccount : '未获取到信息').end()
            .find('#last-login-time').text(lastLoginTime ? lastLoginTime : '第一次访问系统').end()
            .find('#last-login-ip').text(lastLoginIp ? lastLoginIp : '第一次访问系统').end()
        .find('#this-login-time').text(thisLoginTime).end()
        .find('#this-login-ip').text(thisLoginIp).end()
        .find('#available_amount').text(currentOrg.availableAmount/100).end()
        .find('#cash_amount').text(currentOrg.cashAmount/100 ).end()
        .find('#send_sms_total').text(currentOrg.sendSmsTotal ).end()
        .find('#welcome-message').text(welcomeMessage ? welcomeMessage : '哇~今天你很靓！').end();
        $(function () {
        	layer.load();
            quertUser();
            querHandleSuccess();
            if('EASY'==pwStrong)
            {
            	pwStrongNotify();
            }
            var availableAmount = currentOrg.availableAmount/100;
            if(availableAmount<=0)
            {
            	var message = "商户可用余额剩余<span style='font-size: large'>" + availableAmount + "</span>元,不足以消费发送短信，请及时充值";
                amountNotify(message)
            }
            else if(availableAmount < orgCashlessNotifyNum){
                var message = "商户可用余额剩余<span style='font-size: large'>" + availableAmount + "</span>元,可用余额已不多，为防不足抵扣短信费用而被限制发送,请及时充值";
                amountNotify(message)
            }
            layer.closeAll('loading');
        })
        
        function querHandleSuccess(){
	        febs.get(ctx + 'index/statistics', null, function (r) {
	            handleSuccess(r.data.rows);
	        });
        }
        
        function handleSuccess(data) {
            var xAxisData = [];
            var seriesDataSuc = [];
            var seriesDataFail = [];
            layui.each(data.reverse(),function (index,item) {
                xAxisData.push(moment(item.statisticalDate).format('MM-DD'));
                seriesDataSuc.push(item.reqSuccessCount);
                seriesDataFail.push(item.reqFailCount);
            })

            var lineChartDatalabelsOptions = {
                chart: {
                    height: 390,
                    type: 'bar',
                   zoom: {
                        enabled: false
                    },
                    toolbar: {
                        show: false
                    }
                },
                colors: ['#727cf5', '#e33e33'],
                dataLabels: {
                    enabled: true
                },
                stroke: {
                    width: [1, 3],
                    curve: 'smooth'
                },
                series: [{
                    name: '成功',
                    data: seriesDataSuc
                }, {
                    name: '失败',
                    data: seriesDataFail
                }],
                title: {
                    text: ' 短信发送情况【点击右侧“成功”、“失败”，可筛选查看具体类别数据】',
                    align: 'left'
                },
                grid: {
                    row: {
                        colors: ['transparent', 'transparent'],
                        opacity: 0.2
                    },
                    borderColor: '#f1f3fa'
                },
                markers: {
                    style: 'inverted',
                    size: 5,
                    hover: {
                        size: 6
                    }
                },
                xaxis: {
                    categories: xAxisData
                },
                yaxis: {
                    title: {
                        text: '条 数'
                    }
                },
                legend: {
                    position: 'top',
                    horizontalAlign: 'right',
                    floating: true,
                    offsetY: -25,
                    offsetX: -5
                },
                responsive: [{
                    breakpoint: 600,
                    options: {
                        chart: {
                            toolbar: {
                                show: false
                            }
                        },
                        legend: {
                            show: false
                        }
                    }
                }]
            };
            // --------------- lineChartDatalabels ----------------
            new ApexCharts(
                document.querySelector("#lineChartDatalabels"),
                lineChartDatalabelsOptions
            ).render();
            
            var lineChartDatalabelsOptionsline = {
                    chart: {
                        height: 390,
                        type: 'line',
                       zoom: {
                            enabled: false
                        },
                        toolbar: {
                            show: false
                        }
                    },
                    colors: ['#727cf5', '#e33e33'],
                    dataLabels: {
                        enabled: true
                    },
                    stroke: {
                        width: [3, 3],
                        curve: 'smooth'
                    },
                    series: [{
                        name: '成功',
                        data: seriesDataSuc
                    }, {
                        name: '失败',
                        data: seriesDataFail
                    }],
                    title: {
                        text: ' 短信发送情况【点击右侧“成功”、“失败”，可筛选查看具体类别数据】',
                        align: 'left'
                    },
                    grid: {
                        row: {
                            colors: ['transparent', 'transparent'],
                            opacity: 0.2
                        },
                        borderColor: '#f1f3fa'
                    },
                    markers: {
                        style: 'inverted',
                        size: 5,
                        hover: {
                            size: 6
                        }
                    },
                    xaxis: {
                        categories: xAxisData
                    },
                    yaxis: {
                        title: {
                            text: '条 数'
                        }
                    },
                    legend: {
                        position: 'top',
                        horizontalAlign: 'right',
                        floating: true,
                        offsetY: -25,
                        offsetX: -5
                    },
                    responsive: [{
                        breakpoint: 600,
                        options: {
                            chart: {
                                toolbar: {
                                    show: false
                                }
                            },
                            legend: {
                                show: false
                            }
                        }
                    }]
                };
                // --------------- lineChartDatalabels ----------------
                new ApexCharts(
                    document.querySelector("#lineChartDatalabelsline"),
                    lineChartDatalabelsOptionsline
                ).render();
        }

        function pwStrongNotify() {
            layer.open({
                type: 1
                ,title: false //不显示标题栏
                ,closeBtn: false
                ,area: '300px;'
                ,shade: 0
                ,id: 'passwordStrong_notify' //设定一个id，防止重复弹出
                ,resize: false
                ,btn: [ '知道了']
                ,btnAlign: 'c'
                ,offset:'rb'
                ,moveType: 1 //拖拽模式，0或者1
                ,content: '<div style="padding: 50px; line-height: 22px; background-color: #393D49; color: #fff; font-weight: 300;">温馨提示：<br>尊敬的用户，您的密码强度很低，为保障账户安全，请及时前往【账户中心】-【密码修改】进行修改！谢谢使用！</div>'
            });
        }
        function amountNotify(message) {
            layer.open({
                type: 1
                ,title: false //不显示标题栏
                ,closeBtn: false
                ,area: '300px;'
                ,shade: 0
                ,id: 'availableAmount_notify' //设定一个id，防止重复弹出
                ,resize: false
                ,btn: [ '知道了']
                ,btnAlign: 'c'
                ,offset:'rb'
                ,moveType: 1 //拖拽模式，0或者1
                ,content: '<div style="padding: 50px; line-height: 22px; background-color: #393D49; color: #fff; font-weight: 300;">温馨提示：<br>'+ message + '</div>'
            });
        }

        $view.find('#refreshAvailable').on('click', function () 
        {
        	layer.load();
	        febs.get(ctx + 'organizationUser/thisOrganizationAvailable', null, function (res) 
	        {
	        	var data = res.data;
	        	$view.find('#available_amount').text(data.availableAmount/100).end();
	        	layer.closeAll('loading');
	        });
        });
        
    });
</script>
