<div class="layui-card-body" style="text-align: -webkit-center">
    <input type="hidden" id="qrcodeUrl" data-th-value="${googleQrcode}"/>
    <div class="layui-row" id="showQrcodeImg"></div>
</div>

<script>
    layui.use(['jquery', 'qrcode'], function () {
        var $ = layui.jquery,
            qrcode = layui.qrcode;

        var qrcodeUrl = $("#qrcodeUrl").val();
        qrcode.qrcode(document.getElementById("showQrcodeImg"),{
            width: 200,
            height: 200,
            text: qrcodeUrl
        });
    });


</script>