<style>
    #mobile-queryNumAddr {
        padding: 20px 25px 25px 0;
    }

    #mobile-queryNumAddr .layui-treeSelect .ztree li a, .ztree li span {
        margin: 0 0 2px 3px !important;
    }
</style>
<div class="layui-fluid" id="mobile-queryNumAddr">
    <form class="layui-form" action="" lay-filter="mobile-queryNumAddr-form">
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">手机号码：</label>
            <div class="layui-input-block">
                <input type="text" name="number" class="layui-input"  lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">查询方式：</label>
            <div class="layui-input-block">
               <select  name="area">
                        <option value="DB">数据库</option>
                        <option  th:each="enum:${phoneMsgGetUrlEnums}"
                                 th:value ="${enum.code}"
					         	 th:text="${enum.description}">
                        </option>
                    </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">查询结果：</label>
            <div class="layui-input-block">
            <textarea id="queryNumAddrResults" class="layui-input" readonly></textarea>
            </div>
        </div>
        <div class="layui-form-item febs-hide">
            <button class="layui-btn" lay-submit="" lay-filter="mobile-queryNumAddr-form-submit" id="submit"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>

<script data-th-inline="javascript">
    layui.use(['febs', 'form', 'validate'], function () {
        var $ = layui.$,
            febs = layui.febs,
            layer = layui.layer,
            formSelects = layui.formSelects,
            treeSelect = layui.treeSelect,
            form = layui.form,
            $view = $('#mobile-queryNumAddr'),
            validate = layui.validate;

        form.verify(validate);
        form.render();

        initmobileBlackValue();

        function initmobileBlackValue() {
            form.val("mobile-queryNumAddr-form", {
                //"mobile": mobileBlack.mobile
            });
        }

        form.on('submit(mobile-queryNumAddr-form-submit)', function (data) {
        	$('#queryNumAddrResults').html('');
            febs.post(ctx + 'mobileBlack/queryNumAddr', data.field, function (d) 
            {
            	$('#queryNumAddrResults').html(d.message);
            });
            return false;
        });
    });
</script>