<style>
    #mobileBlack-add {
        padding: 20px 25px 25px 0;
    }
    #mobileBlack-add .layui-treeSelect .ztree li a, .ztree li span {
        margin: 0 0 2px 3px !important;
    }
</style>
<div class="layui-fluid" id="mobileBlack-add">
    <form class="layui-form" action="" lay-filter="mobileBlack-add-form">
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">号码区域：</label>
            <div class="layui-input-block">
                <select  name="area" lay-verify="required">
                    <option value=""></option>
                    <option  th:each="enum:${smsNumberAreaCodeEnums}"
                             th:value ="${enum.inArea}"
					         th:text="${enum.areaName}">
                    </option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">手机号码：</label>
            <div class="layui-input-block">
                <input type="text" name="number" lay-verify="required" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item febs-hide">
            <button class="layui-btn" lay-submit="" lay-filter="mobileBlack-add-form-submit" id="submit"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>

<script>
    layui.use(['febs', 'form', 'validate'], function () {
        var $ = layui.$,
            febs = layui.febs,
            layer = layui.layer,
            form = layui.form,
            $view = $('#mobileBlack-add'),
            validate = layui.validate;

        form.verify(validate);
        form.render();
        form.on('submit(mobileBlack-add-form-submit)', function (data) {
            febs.post(ctx + 'mobileBlack', data.field, function () {
                layer.closeAll();
                febs.alert.success('数据新增成功！');
                $('#febs-mobileBlack').find('#query').click();
            });
            return false;
        });
    });
</script>