<style>
    #receiptRecord-update {
        padding: 20px 25px 25px 0;
    }

    #receiptRecord-update .layui-treeSelect .ztree li a, .ztree li span {
        margin: 0 0 2px 3px !important;
    }
</style>
<div class="layui-fluid" id="receiptRecord-update">
    <form class="layui-form" action="" lay-filter="receiptRecord-update-form">
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require"></label>
            <span id="message" class="layui-badge febs-tag-volcano" style="line-height: 23px;font-size: 16px;"></span>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">批次号：</label>
            <div class="layui-input-block">
                <input type="text" name="sendCode" class="layui-input" readonly>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">通道：</label>
            <div class="layui-input-block">
                <select name="channelId" lay-verify="required">
                    <option th:each="enum:${smsChannelList}"
                            th:value ="${enum.id}"
                            th:text="${enum.name}">
                    </option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">通道消息标识：</label>
            <div class="layui-input-block">
                <input type="text" name="resMsgid" class="layui-input" readonly>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">手机号码：</label>
            <div class="layui-input-block">
                <input type="text" name="smsNumber" class="layui-input" readonly>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">通道请求状态：</label>
            <div class="layui-input-block">
                <select name="state" lay-verify="required">
                    <option th:each="enum:${sendRecordStateEnums}"
                            th:value ="${enum.code}"
                            th:text="${enum.msg}">
                    </option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">通道请求返回信息：</label>
            <div class="layui-input-block">
                <input type="text" name="stateDesc" class="layui-input" readonly>
            </div>
        </div>
        
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">创建时间：</label>
            <div class="layui-input-block">
                <input type="text" name="createTime" class="layui-input" readonly>
            </div>
        </div>
        <div class="layui-form-item febs-hide">
            <button class="layui-btn" lay-submit="" lay-filter="receiptRecord-update-form-submit" id="submit"></button>
        </div>
    </form>
</div>

<script data-th-inline="javascript">
    layui.use(['febs', 'form', 'validate'], function () {
        var $ = layui.$,
            febs = layui.febs,
            layer = layui.layer,
            formSelects = layui.formSelects,
            treeSelect = layui.treeSelect,
            form = layui.form,
            sendRecordListCount = [[${sendRecordListCount}]],
            sendRecord = [[${sendRecord}]],
            message = [[${message}]],
            createtime = [[${createtime}]],
            falg = [[${falg}]],
            $view = $('#receiptRecord-update'),
            validate = layui.validate;
        $view.find('#message').text(message).end();
        form.verify(validate);
        form.render();
	
        if('true'==falg)
        {
        	initsendRecordValue();
        }
        
        function initsendRecordValue() {
            form.val("receiptRecord-update-form", {
                "sendCode": sendRecord.sendCode,
                "channelId": sendRecord.channelId,
                "resMsgid": sendRecord.resMsgid,
                "smsNumber": sendRecord.smsNumber,
                "state": sendRecord.state,
                "stateDesc": sendRecord.stateDesc,
                "createTime": createtime
            });
        }

    });
</script>