<div class="layui-fluid layui-anim febs-anim" id="febs-returnRecord" lay-title="发送回执">
    <div class="layui-row febs-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body febs-table-full">
                    <form class="layui-form layui-table-form" lay-filter="user-table-form">
                        <div class="layui-row">
                            <div class="layui-col-md10">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">批次号</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="sendCode" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">商户</label>
                                        <div class="layui-input-inline">
                                            <sys:data name="orgCode" datatype="org"/>
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">通道</label>
                                        <div class="layui-input-inline">
                                            <select name="channelId" id="channelId-select"></select>
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">手机号码</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="smsNumber" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
									<div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">所属地域</label>
                                        <div class="layui-input-inline">
                                             <select  name="smsNumberArea">
                                                <option value=""></option>
                                                <option  th:each="enum:${smsNumberAreaCodeEnums}"
                                                         th:value ="${enum.inArea}"
					                					th:text="${enum.areaName}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">消息标识</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="resMsgid" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <!--
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">消息类型</label>
                                        <div class="layui-input-inline">
                                            <select  name="smsType">
                                                <option value=""></option>
                                                <option  th:each="enum:${smsTypeEnums}"
                                                         th:value ="${enum.code}"
                                                         th:text="${enum.name}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                     -->
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">接收状态</label>
                                        <div class="layui-input-inline">
                                            <select name="returnState">
                                                <option value=""></option>
                                                <option  th:each="enum:${stateEnums}"
                                                         th:value ="${enum.code}"
                                                         th:text="${enum.name}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">请求状态</label>
                                        <div class="layui-input-inline">
                                            <select name="reqState">
                                                <option value=""></option>
                                                <option  th:each="enum:${sendRecordStateEnums}"
                                                         th:value ="${enum.code}"
                                                         th:text="${enum.msg}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">提交时间</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="reqCreateStartTime" class="layui-input" id="reqCreateStartTime1">
                                        </div>
                                        <div class="layui-form-mid">-</div>
                                        <div class="layui-input-inline">
                                            <input type="text" name="reqCreateEndTime" class="layui-input" id="reqCreateEndTime1" >
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">创建时间</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="createStartTime" class="layui-input" id="createStartTime_return">
                                        </div>
                                        <div class="layui-form-mid">-</div>
                                        <div class="layui-input-inline">
                                            <input type="text" name="createEndTime" class="layui-input" id="createEndTime_return" >
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                <div class="layui-btn layui-btn-sm table-action" id="query">
                                    搜索
                                </div>
                            </div>
                        </div>
                    </form>
                    <fieldset class="layui-elem-field febs-hide" id="returnRecord-statistic">
                        <legend>统计信息</legend>
                        <div class="layui-field-box" id="statistic-content">

                        </div>
                    </fieldset>
                    <table lay-filter="returnRecordTable" lay-data="{id: 'returnRecordTable'}"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="returnRecord-toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="statistic" shiro:hasAnyPermissions="returnRecord:statistic">查看统计</button>
    </div>
</script>
<script type="text/html" id="returnRecord-option">
    <span shiro:lacksPermission="returnRecord:view,returnRecord:update,returnRecord:delete">
        <span class="layui-badge-dot febs-bg-orange"></span> 无权限
    </span>
    <a lay-event="edit" shiro:hasPermission="returnRecord:update"><i class="layui-icon febs-edit-area febs-blue" title="修改">&#xe7a4;</i></a>
</script>
<script th:inline="javascript" type="text/html" id="returnRecord-smsType">
    {{#
    var smsType = {[# th:each="enum : ${smsTypeEnums}"]
    [( ${enum.code} )]: {title: '[( ${enum.name} )]'},
    [/]}[d.smsType];
    }}
    <span>{{ smsType.title }}</span>
</script>
<script th:inline="javascript" type="text/html" id="returnRecord-smsNumberAreaName">
    {{#
	var smsNumberAreaType ={[# th:each="enum : ${smsNumberAreaCodeEnums}"]
	'[( ${enum.inArea} )]': {title: '[( ${enum.areaName} )]'},
    [/]}[d.smsNumberArea];
    }}
    <span>{{ smsNumberAreaType.title }}</span>
</script>
<script data-th-inline="javascript" type="text/javascript">
    layui.use(['jquery', 'laydate', 'form', 'table', 'febs'], function () {
        var $ = layui.jquery,
            laydate = layui.laydate,
            febs = layui.febs,
            form = layui.form,
            table = layui.table,
            $view = $('#febs-returnRecord'),
            $query = $view.find('#query'),
            $reset = $view.find('#reset'),
            $searchForm = $view.find('form'),
            todayStart = [[${todayStart}]],
            todayEnd = [[${todayEnd}]],
            sortObject = {field: 'createTime', type: null},
            tableIns;

        form.render();

        initTable();
        initChannelSelect();
        var start =  laydate.render({
            elem: '#reqCreateStartTime1',
            type: 'datetime',
            min:"1970-1-1",
            max: todayEnd,
            value: todayStart,
            done: function (value,date) {
                end.config.min ={
                    year:date.year,
                    month:date.month-1,
                    date: date.date,
                    hours: 0,
                    minutes: 0,
                    seconds : 0
                }
            }
        });

        var end = laydate.render({
            elem: '#reqCreateEndTime1',
            type: 'datetime',
            min:todayStart,
            max:"2099-12-31",
            value: todayEnd,
            done: function (value,date) {
                start.config.max={
                    year:date.year,
                    month:date.month-1,//注意是month-1，写在date上的话你后边的日期选择不了
                    date: date.date,
                    hours: 0,
                    minutes: 0,
                    seconds : 0
                }
            }
        });

        var startCreateTime =  laydate.render({
            elem: '#createStartTime_return',
            type: 'datetime',
            min:"1970-1-1",
            max: todayEnd,
            value: todayStart,
            done: function (value,date) {
                endCreateTime.config.min ={
                    year:date.year,
                    month:date.month-1,
                    date: date.date,
                    hours: 0,
                    minutes: 0,
                    seconds : 0
                }
            }
        });

        var endCreateTime = laydate.render({
            elem: '#createEndTime_return',
            type: 'datetime',
            min:todayStart,
            max:"2099-12-31",
            value: todayEnd,
            done: function (value,date) {
                startCreateTime.config.max={
                    year:date.year,
                    month:date.month-1,//注意是month-1，写在date上的话你后边的日期选择不了
                    date: date.date,
                    hours: 0,
                    minutes: 0,
                    seconds : 0
                }
            }
        });

        //头工具栏事件
        table.on('toolbar(returnRecordTable)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'statistic':
                    febs.get(ctx + 'returnRecord/statistic', getQueryParams(), function (res) {
                        var data = res.data;
                        var content = '';
                        content = '共计：' + data.total + "条 📌"
                            + '提交成功：' + data.reqSuccess + "条 📌"
                            + '提交失败：' + data.reqFail + "条 📌"
                            + '接收成功：' + data.returnSucess + "条 📌"
                            + '接收失败：' + data.returnFail + "条 📌"
                            + '接收未知：' + data.returnFailUnknow + "条 📌";
                        $view.find('#statistic-content').text(content);
                        $view.find('#returnRecord-statistic').show();
                    },function (res) {
                        //提示错误信息
                    });
                    break;
            };
        });

        table.on('tool(returnRecordTable)', function (obj) {
            var data = obj.data,
                layEvent = obj.event;
            if (layEvent === 'edit') {
                febs.modal.open('修改信息', 'system/returnRecord/update/' + data.returnRecordname, {
                    area: $(window).width() <= 750 ? '90%' : '50%',
                    btn: ['提交', '取消'],
                    yes: function (index, layero) {
                        $('#returnRecord-update').find('#submit').trigger('click');
                    },
                    btn2: function () {
                        layer.closeAll();
                    }
                });
            }
        });

        table.on('sort(returnRecordTable)', function (obj) {
            sortObject = obj;
            tableIns.reload({
                initSort: obj,
                where: $.extend(getQueryParams(), {
                    field: obj.field,
                    order: obj.type
                })
            });
        });

        $query.on('click', function () {
            $view.find('#returnRecord-statistic').hide();
            var params = $.extend(getQueryParams(), {field: sortObject.field, order: sortObject.type});
            tableIns.reload({where: params, page: {curr: 1}});
        });

        $reset.on('click', function () {
            $view.find('#returnRecord-statistic').hide();
            $searchForm[0].reset();
            tableIns.reload({where: getQueryParams(), page: {curr: 1}, initSort: sortObject});
        });

        function initTable() {
            tableIns = febs.table.init({
                elem: $view.find('table'),
                id: 'returnRecordTable',
                url: ctx + 'returnRecord/list',
                toolbar: '#returnRecord-toolbar',
                where:{
                    'reqCreateStartTime':todayStart,
                    'reqCreateEndTime':todayEnd,
                    'createStartTime':todayStart,
                    'createEndTime':todayEnd
                },
                cols: [[
                    {type: 'checkbox'},
                    {field: 'smsChannelName', title: '通道'},
                    {field: 'orgCode', title: '商户编码', minWidth: 190,hide:true},
                    {field: 'orgName', title: '商户名称'},
                    {field: 'smsNumberArea', title: '所属地域',templet:'#returnRecord-smsNumberAreaName',hide:true, width: 100},
                    {field: 'smsNumber', title: '手机号码'},
                    {field: 'smsType', title: '消息类型',templet:'#returnRecord-smsType', width: 100,hide:true},
                    {field: 'sendCode', title: '批次号', width: 210},
                    {field: 'reqInfo', title: '提交'},
                    {field: 'returnInfo', title: '接收'},
                    {field: 'returnTime', title: '回执时间'},
                    {field: 'msgInfo', title: '短信详情'},
                    {field: 'createTime', title: '创建日期'},
                    /*{field: 'agentId', title: '代理商id'},
                    {field: 'smsContent', title: '消息内容'},
                    {field: 'smsNumberArea', title: '手机号码归属地'},
                    {field: 'smsCount', title: '有效的短信数'},
                    {field: 'reqState', title: '通道请求状态'},
                    {field: 'reqDesc', title: '通道请求返回信息'},
                    {field: 'reqCreateTime', title: '提交时间'},
                    {field: 'resMsgid', title: '通道消息标识'},
                    {field: 'returnDesc', title: '接收状态描述'},
                    {field: 'returnSeq', title: '消息序列号'},
                    {title: '操作',fixed:'right', toolbar: 'returnRecord-option'}*/
                ]]
            });
        }

        function initChannelSelect() {
            var url = ctx + "smsChannel",
                data = {};
            data.isDel = 0;
            $.get(url,data,function (res) {
                var data = res.data;
                $("#channelId-select").empty();
                $("#channelId-select").append(new Option("",""));
                $.each(res.data,function(index,item){
                    $("#channelId-select").append(new Option(item.name,item.id));
                });
                layui.form.render("select");
            })
        }


        function getQueryParams() {
            return {
                sendCode: $searchForm.find('input[name="sendCode"]').val().trim(),
                orgCode: $searchForm.find('select[name="orgCode"]').val(),
                smsNumber: $searchForm.find('input[name="smsNumber"]').val().trim(),
                resMsgid: $searchForm.find('input[name="resMsgid"]').val().trim(),
                reqCreateStartTime: $searchForm.find('input[name="reqCreateStartTime"]').val(),
                reqCreateEndTime: $searchForm.find('input[name="reqCreateEndTime"]').val(),
                createStartTime: $searchForm.find('input[name="createStartTime"]').val(),
                createEndTime: $searchForm.find('input[name="createEndTime"]').val(),
                channelId: $searchForm.find('select[name="channelId"]').val(),
                //smsType: $searchForm.find('select[name="smsType"]').val(),
                returnState: $searchForm.find('select[name="returnState"]').val(),
                reqState: $searchForm.find('select[name="reqState"]').val(),
                smsNumberArea: $searchForm.find('select[name="smsNumberArea"]').val(),
                invalidate_ie_cache: new Date()
            };
        }

        function deletereturnRecords(returnRecordIds) {
            febs.get(ctx + 'returnRecord/delete/' + returnRecordIds, null, function () {
                febs.alert.success('删除成功');
                $query.click();
            });
        }

        //获取当天开始或结束时间字符串
        function getTodayStartOrEnd(type){
            var time;
            if (type == 1){
                time = new Date(new Date(new Date().toLocaleDateString()).getTime());
            } else {
                time = new Date(new Date(new Date().toLocaleDateString()).getTime()+24*60*60*1000-1);
            }

            return dateFormat("YYYY-mm-dd HH:MM:SS",time);
        }

        function dateFormat(fmt, date) {
            var ret;
            var opt = {
                "Y+": date.getFullYear().toString(),        // 年
                "m+": (date.getMonth() + 1).toString(),     // 月
                "d+": date.getDate().toString(),            // 日
                "H+": date.getHours().toString(),           // 时
                "M+": date.getMinutes().toString(),         // 分
                "S+": date.getSeconds().toString()          // 秒
                // 有其他格式化字符需求可以继续添加，必须转化成字符串
            };
            for (var k in opt) {
                ret = new RegExp("(" + k + ")").exec(fmt);
                if (ret) {
                    fmt = fmt.replace(ret[1], (ret[1].length == 1) ? (opt[k]) : (opt[k].padStart(ret[1].length, "0")))
                };
            };
            return fmt;
        }
    })
</script>