<div class="layui-fluid layui-anim febs-anim" id="febs-sendRecord" lay-title="发送记录">
    <div class="layui-row febs-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body febs-table-full">
                    <form class="layui-form layui-table-form" lay-filter="user-table-form">
                        <div class="layui-row">
                            <div class="layui-col-md10">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">批次号</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="sendCode" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">手机号码</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="smsNumber" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">状态</label>
                                        <div class="layui-input-inline">
                                            <select  name="state">
                                                <option value=""></option>
                                                <option  th:each="enum:${sendRecordStateEnums}"
                                                         th:value ="${enum.code}"
                                                         th:text="${enum.msg}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">商户</label>
                                        <div class="layui-input-inline">
                                            <sys:data name="orgCode" datatype="org"/>
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">代理商</label>
                                        <div class="layui-input-inline">
                                            <sys:data name="agentId" datatype="agent"/>
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">通道</label>
                                        <div class="layui-input-inline">
                                            <select name="channelId" id="channelId-select"></select>
                                        </div>
                                    </div>
                                    
                                    
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">所属地域</label>
                                        <div class="layui-input-inline">
                                             <select  name="smsNumberArea">
                                                <option value=""></option>
                                                <option  th:each="enum:${smsNumberAreaCodeEnums}"
                                                         th:value ="${enum.inArea}"
					                					th:text="${enum.areaName}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">运营商</label>
                                        <div class="layui-input-inline">
                                            <sys:dict sortCode="PhoneOperator" name="smsNumberOperator"/>
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">归属地区</label>
                                        <div class="layui-input-inline">
                                            <select  name="smsNumberProvince">
                                                <option value=""></option>
                                                <option  th:each="enum:${smsNumberAreaProvinceEnums}"
                                                         th:value ="${enum.code}"
                                                         th:text="${enum.name}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">分组</label>
                                        <div class="layui-input-inline">
                                            <sys:dict sortCode="OrgGroup" name="groupId"/>
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">创建时间</label>
                                        <div class="layui-input-inline" >
                                            <input type="text" name="createStartTime" class="layui-input" id="createStartTime5">
                                        </div>
                                        <div class="layui-form-mid">-</div>
                                        <div class="layui-input-inline">
                                            <input type="text" name="createEndTime" class="layui-input" id="createEndTime5" >
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <div class="layui-input-inline" style="width:61px;">
                                           &nbsp;
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">长短信</label>
                                        <div class="layui-input-inline">
                                             <select  name="smsCount">
                                                <option value=""></option>
                                                <option  th:each="enum:${smsContentLengthStateEnums}"
                                                         th:value ="${enum.code}"
                                                         th:text="${enum.name}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">短信内容</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="smsContent" autocomplete="off" class="layui-input" >
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">消息标识</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="resMsgid" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">标识为空</label>
                                        <div class="layui-input-inline">
                                             <select  name="resMsgidIsNullFlag">
                                                <option value=""></option>
                                                <option  th:each="enum:${resMsgidIsNullFlagEnums}"
                                                         th:value ="${enum.code}"
                                                         th:text="${enum.name}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">状态说明</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="stateDesc" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">提交时间</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="submitStartTime" class="layui-input" id="submitStartTime5">
                                        </div>
                                        <div class="layui-form-mid">-</div>
                                        <div class="layui-input-inline">
                                            <input type="text" name="submitEndTime" class="layui-input" id="submitEndTime5" >
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                <div class="layui-btn layui-btn-sm table-action" id="query">
                                    搜索
                                </div>
                            </div>
                        </div>
                    </form>
                    <fieldset class="layui-elem-field febs-hide" id="sendRecord-statistic">
                        <legend>统计信息</legend>
                        <div class="layui-field-box" id="statistic-content">

                        </div>
                    </fieldset>
                    <table lay-filter="sendRecordTable" lay-data="{id: 'sendRecordTable'}"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="sendRecord-toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="statistic" shiro:hasAnyPermissions="sendRecord:statistic">查看统计</button>
        <button class="layui-btn layui-btn-sm" lay-event="reSend" shiro:hasAnyPermissions="sendRecord:reSend">批量重发</button>
        <button class="layui-btn layui-btn-sm" lay-event="rePushNotify" shiro:hasAnyPermissions="sendRecord:batchNotifyMsgState">补发通知(勾选)</button>
        <button class="layui-btn layui-btn-sm" lay-event="rePushNotifyByQuery" shiro:hasAnyPermissions="sendRecord:batchNotifyMsgState">补发通知(条件)</button>
        <button class="layui-btn layui-btn-sm" lay-event="batchReturnSuccess" shiro:hasAnyPermissions="sendRecord:batchUpdateReturnStat">批量回执成功</button>
        <button class="layui-btn layui-btn-sm" lay-event="batchReturnFail" shiro:hasAnyPermissions="sendRecord:batchUpdateReturnStat">批量回执失败</button>
        <button class="layui-btn layui-btn-sm" lay-event="batchReturnByRate" shiro:hasAnyPermissions="sendRecord:batchUpdateReturnStat">批量回执(条件)</button>
        <button class="layui-btn layui-btn-sm" lay-event="export" shiro:hasAnyPermissions="sendRecord:export">导出记录</button>
		<button class="layui-btn layui-btn-sm" lay-event="forceReSend" shiro:hasAnyPermissions="sendRecord:forceReSend">批量强制重发</button>
		<button class="layui-btn layui-btn-sm" lay-event="forceUnLock" shiro:hasAnyPermissions="sendRecord:forceUnLock">批量强制解锁</button>
    </div>
</script>
<script type="text/html" id="sendRecord-option">
    <span shiro:lacksPermission="sendRecord:view,sendRecord:update,sendRecord:delete">
        <span class="layui-badge-dot febs-bg-orange"></span> 无权限
    </span>
    <a lay-event="edit" shiro:hasPermission="sendRecord:update"><i class="layui-icon febs-edit-area febs-blue" title="修改">&#xe7a4;</i></a>
</script>

<script th:inline="javascript" type="text/html" id="sendRecord-state">
    {{#
    var state = {[# th:each="enum : ${sendRecordStateEnums}"]
    [( ${enum.code} )]: {title: '[( ${enum.msg} )]'},
    [/]}[d.state];
    }}
    {{#  if(d.stateDesc && typeof d.stateDesc != undefined && d.stateDesc != '' ){ }}
    <span>{{ state.title  }}
        <i class="layui-icon febs-edit-area febs-blue"
           lay-event="stateDesc">&#xe702;</i>
    </span>
    {{#  } else { }}
    <span>{{ state.title }}</span>
    {{#  } }}
</script>
<script th:inline="javascript" type="text/html" id="sendRecord-smsNumberAreaName">
    {{#
	var smsNumberAreaType ={[# th:each="enum : ${smsNumberAreaCodeEnums}"]
	'[( ${enum.inArea} )]': {title: '[( ${enum.areaName} )]'},
    [/]}[d.smsNumberArea];
    }}
    <span>{{ smsNumberAreaType.title }}</span>
</script>
<script data-th-inline="javascript" type="text/javascript">
    layui.use(['jquery', 'laydate', 'form', 'table', 'febs'], function () {
        var $ = layui.jquery,
            laydate = layui.laydate,
            febs = layui.febs,
            form = layui.form,
            table = layui.table,
            $view = $('#febs-sendRecord'),
            $query = $view.find('#query'),
            $reset = $view.find('#reset'),
            $searchForm = $view.find('form'),
            todayStart = [[${todayStart}]],
            todayEnd = [[${todayEnd}]],
            sortObject = {field: 'createTime', type: null},
            tableIns;

        form.render();

        initTable();
        initChannelSelect();
        var start =  laydate.render({
            elem: '#createStartTime5',
            type: 'datetime',
            min:"1970-1-1",
            max:todayEnd,
            value: todayStart,
            done: function (value,date) {

                end.config.min ={
                    year:date.year,
                    month:date.month-1,
                    date: date.date,
                    hours: date.hours,   
                    minutes: date.minutes,   
                    seconds : date.seconds
                }
            }
        });

        var end = laydate.render({
            elem: '#createEndTime5',
            type: 'datetime',
            min:todayStart,
            max:"2099-12-31",
            value: todayEnd,
            done: function (value,date) {
                start.config.max={
                    year:date.year,
                    month:date.month-1,//注意是month-1，写在date上的话你后边的日期选择不了
                    date: date.date,
                    hours: date.hours,   
                    minutes: date.minutes,   
                    seconds : date.seconds
                }
            }
        });

        var submitstart =  laydate.render({
            elem: '#submitStartTime5',
            type: 'datetime',
            min:"1970-1-1",
            max:"2099-12-31",
            done: function (value,date) {
            	submitend.config.min ={
                    year:date.year,
                    month:date.month-1,
                    date: date.date,
                    hours: date.hours,   
                    minutes: date.minutes,   
                    seconds : date.seconds
                }
            }
        });

         var submitend = laydate.render({
             elem: '#submitEndTime5',
             type: 'datetime',
             min:"1970-1-1",
             max:"2099-12-31",
             done: function (value,date) {
            	 submitstart.config.max={
                     year:date.year,
                     month:date.month-1,//注意是month-1，写在date上的话你后边的日期选择不了
                     date: date.date,
                     hours: date.hours,   
                     minutes: date.minutes,   
                     seconds : date.seconds
                 }
             }
         });
         
        //头工具栏事件
        table.on('toolbar(sendRecordTable)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'statistic':
                    febs.get(ctx + 'sendRecord/statistic', getQueryParams(), function (res) {
                        var data = res.data;
                        var content = '';
                        var rateSuccess = data.allReqSuccess ===0?0:(data.receiptSuccess * 100/ data.allReqSuccess);
                        content = '共计：' + data.total + "条 📌"
                        	+ '有效短信数：' + data.smsCount + "条 📌"
                        	+ '总请求成功：' + data.allReqSuccess + "条 📌"
                            + '分拣失败：' + data.sortingFail + "条 📌"
                            + '等待提交：' + data.waitReq + "条 📌"
                            + '提交成功：' + data.reqSuccess + "条 📌"
                            + '提交失败：' + data.reqFail + "条 📌"
                            + '接收成功：' + data.receiptSuccess + "条 📌"
                            + '接收失败：' + data.receiptFail + "条 📌"
                            + '成功率：' + rateSuccess.toFixed(2) + "% 📌"
                            + '消费金额：' + data.consumeAmount/100 + "元 📌"
                            + '通道成本：' + data.channelCost/100 + "元📌"
                            + '代理利润：' + data.agentIncomeAmount/100 + "元 📌"
                            + '平台利润：' + data.incomeAmount/100 + "元 📌【注：总请求成功=提交成功+接收成功+接收失败】【有效短信数：实际提交到通道的短信数量】";
                        $view.find('#statistic-content').text(content);
                        $view.find('#sendRecord-statistic').show();
                    },function (res) {
                        //提示错误信息
                    });
                    break;
                case 'reSend':
                    if (!checkStatus.data.length) {
                        febs.alert.warn('请选择需要重发的记录');
                    } else {
                        febs.modal.confirm('重发记录', '确定重发该记录？状态非【等待提交/提交失败】的记录将不被重发！', function() {
                            var ids = [];
                            layui.each(checkStatus.data, function(key, item) {
                                ids.push(item.id)
                            });
                            febs.get(ctx + 'sendRecord/reSend/' + ids.join(','), null , function (res) {
                                layer.alert(res.message);
                            });

                        });
                    }
                    break;
                case 'rePushNotify':
                    if (!checkStatus.data.length) {
                        febs.alert.warn('请选择需要补发通知的记录');
                    } else {
                        febs.modal.confirm('补发通知回调', '确定补发所选记录状态通知？状态非【分拣失败/接收成功/接收失败】的记录将不被补发！', function() {
                            var ids = [];
                            layui.each(checkStatus.data, function(key, item) {
                                ids.push(item.id)
                            });
                            febs.get(ctx + 'sendRecord/batchNotifyMsgState/' + ids.join(','), null , function (res) {
                                layer.alert(res.message);
                            });

                        });
                    }
                    break;
                case 'rePushNotifyByQuery':
                    febs.modal.confirm('补发通知回调', '确定补发所有记录通知？状态非【分拣失败/接收成功/接收失败】的记录将不被补发！', function() {
                        febs.get(ctx + 'sendRecord/batchNotifyMsgStateByQuery', getQueryParams() , function (res) {
                            layer.alert(res.message);
                        });

                    });
                    break;
                case 'batchReturnSuccess':
                    if (!checkStatus.data.length) {
                        febs.alert.warn('请选择需要回执成功的记录');
                    } else {
                        febs.modal.confirm('批量回执成功', '确定批量回执成功？状态非【发送成功】的记录将不作修改！', function() {
                            var ids = [];
                            layui.each(checkStatus.data, function(key, item) {
                                ids.push(item.id)
                            });
                            febs.get(ctx + 'sendRecord/batchUpdateReturnStat/' + ids.join(','), {'success':true} , function (res) {
                                layer.alert(res.message);
                            });

                        });
                    }
                    break;
                case 'batchReturnFail':
                    if (!checkStatus.data.length) {
                        febs.alert.warn('请选择需要回执失败的记录');
                    } else {
                        febs.modal.confirm('批量回执失败', '确定批量回执失败？状态非【发送成功】的记录将不作修改！', function() {
                            var ids = [];
                            layui.each(checkStatus.data, function(key, item) {
                                ids.push(item.id)
                            });
                            febs.get(ctx + 'sendRecord/batchUpdateReturnStat/' + ids.join(','), {'success':false} , function (res) {
                                layer.alert(res.message);
                            });

                        });
                    }
                    break;
                case 'batchReturnByRate':
                    layer.prompt({
                            title: '设置批量回执的成功率',
                            formType: 0,
                            success: function(layero) {
                                layero.find(".layui-layer-content").prepend('<div style="margin-bottom: 15px;word-wrap:break-word;word-break:normal;">' +
                                    '<font color="red">' +
                                    '操作前请先阅读以下说明，谨慎操作！<br>' +
                                    '*说明：该功能会将满足【页面搜索条件】并且状态为<br>【提交成功】的所有记录，按设置的【成功率】批量回执！<br>' +
                                    '【务必】在操作前先点击搜索，检查列表所有状态为<br>【提交成功】的记录是否【都】为要修改回执状态的记录！<br>'+
                                    '</font>' +
                                    '在下方输入【成功率】,1-100保留两位小数<br>' +
                                    '批量回执将按此成功率进行回执！<br>' +
                                    '</div>')
                            }
                        }
                    , function(text, index){
                        console.log(text);
                        if (isNaN(text) || parseFloat(text).toFixed(2) > 100.00 || parseFloat(text).toFixed(2) < 0.00){
                            layer.msg("请输入正确的概率（0-100,保留2位小数）");
                            return;
                        } else {
                            febs.get(ctx + 'sendRecord/batchUpdateReturnStatByRate/' + parseFloat(text).toFixed(2), getQueryParams() , function (res) {
                                layer.alert(res.message);
                            });
                        }
                        layer.close(index);
                    });
                    break;
                case 'export':
                    //febs.download(ctx + 'sendRecord/excel', getQueryParams(), '发送记录信息表.xlsx');
                    febs.get(ctx + 'sendRecord/export', getQueryParams() , function (res) {
                        layer.alert(res.message);
                    });
                    break;
                case 'forceReSend':
                    if (!checkStatus.data.length) {
                        febs.alert.warn('请选择需要强制重发的记录');
                    } else {
                        febs.modal.confirm('强制重发记录', '确定强制重发该记录？状态非【等待提交/提交失败】的记录将不被重发！', function() {
                            var ids = [];
                            layui.each(checkStatus.data, function(key, item) {
                                ids.push(item.id)
                            });
                            febs.get(ctx + 'sendRecord/forceReSend/' + ids.join(','), null , function (res) {
                                layer.alert(res.message);
                            });

                        });
                    }
                    break
                case 'forceUnLock':
                    if (!checkStatus.data.length) {
                        febs.alert.warn('请选择需要强制解锁的记录');
                    } else {
                        febs.modal.confirm('强制解锁记录', '确定强制解锁该记录？状态非【等待提交/提交失败】的记录将不被解锁！', function() {
                            var ids = [];
                            layui.each(checkStatus.data, function(key, item) {
                                ids.push(item.id)
                            });
                            febs.get(ctx + 'sendRecord/forceUnLock/' + ids.join(','), null , function (res) {
                                layer.alert(res.message);
                            });

                        });
                    }
                    break
            };
        });

        table.on('tool(sendRecordTable)', function (obj) {
            var data = obj.data,
                layEvent = obj.event;
            if (layEvent === 'stateDesc'){
                layer.alert(data.stateDesc,{title:'状态描述'})
            }
            if (layEvent === 'edit') {
                febs.modal.open('修改信息', 'system/sendRecord/update/' + data.sendRecordname, {
                    area: $(window).width() <= 750 ? '90%' : '50%',
                    btn: ['提交', '取消'],
                    yes: function (index, layero) {
                        $('#sendRecord-update').find('#submit').trigger('click');
                    },
                    btn2: function () {
                        layer.closeAll();
                    }
                });
            }
        });

        table.on('sort(sendRecordTable)', function (obj) {
            sortObject = obj;
            tableIns.reload({
                initSort: obj,
                where: $.extend(getQueryParams(), {
                    field: obj.field,
                    order: obj.type
                })
            });
        });

        $query.on('click', function () {
            $view.find('#sendRecord-statistic').hide();
            var params = $.extend(getQueryParams(), {field: sortObject.field, order: sortObject.type});
            tableIns.reload({where: params, page: {curr: 1}});
        });

        $reset.on('click', function () {
            $view.find('#sendRecord-statistic').hide();
            $searchForm[0].reset();
            tableIns.reload({where: getQueryParams(), page: {curr: 1}, initSort: sortObject});
        });

        function initTable() {
            tableIns = febs.table.init({
                elem: $view.find('table'),
                id: 'sendRecordTable',
                url: ctx + 'sendRecord/list',
                toolbar: '#sendRecord-toolbar',
                where: {
                    "createStartTime": todayStart,
                    "createEndTime": todayEnd
                },
                cols: [[
                    {type: 'checkbox'},
                    {field: 'smsChannelName', title: '通道', minWidth: 100},
                    {field: 'sendCode', title: '批次号', width: 210},
                    {field: 'orgCode', title: '商户编号', minWidth: 190,hide:true},
                    {field: 'orgName', title: '商户名称', minWidth: 120},
                    {field: 'smsNumber', title: '手机号码', minWidth: 120},
                    {field: 'smsContent', title: '消息内容', minWidth: 120},
                    {field: 'smsInfo', title: '短信详情', minWidth: 180},
                    {field: 'amountInfo', title: '金额详情', minWidth: 150},
                    {field: 'operatorInfo', title: '运营商', width: 210},
                    {field: 'smsNumberArea', title: '所属地域',templet:'#sendRecord-smsNumberAreaName', width: 100},
                    {field: 'state', title: '状态',templet:"#sendRecord-state", minWidth: 120},
                    {field: 'receiptTime', title: '回执时间', minWidth: 160},
                    {field: 'returnTime', title: '回执耗时', minWidth: 140},
   /*                 {field: 'stateDesc', title: '状态描述'},*/
                    {field: 'createTime', title: '创建时间', minWidth: 160},
                    {field: 'elapsedTime', title: '提交耗时', minWidth: 140,hide:true},
                    {field: 'submitTime', title: '提交时间', minWidth: 160,hide:true},
                    {field: 'resMsgid', title: '通道消息标识', minWidth: 140,hide:true}
                    /*  成本详情： 消费金额 通道成本 代理商收益 平台收益 */
                    /* 信息详情： 有效短信数 短信字数*/
                    /* 运营商详情： 运营商  归属地区*/
                    /*{field: 'sendCode', title: '批次号'},
                    {field: 'agentId', title: '代理商id'},
                    {field: 'channelId', title: '通道id'},
                    {field: 'smsType', title: '消息类型'},
                    {field: 'smsNumberOperator', title: '运营商'},
                    {field: 'smsNumberArea', title: '手机号码归属地区'},
                    {field: 'smsNumberProvince', title: '手机号码归属地(省份)'},
                    {field: 'smsCount', title: '有效的短信数'},
                    {field: 'smsWords', title: '短信字数'},
                    {field: 'stateDesc', title: '通道请求返回信息'},
                    {field: 'resMsgid', title: '通道消息标识'},
                    {field: 'consumeAmount', title: '消费金额'},
                    {field: 'channelCostAmount', title: '通道成本'},
                    {field: 'agentIncomeAmount', title: '代理商收益'},
                    {field: 'incomeAmount', title: '平台收益'},
                    {title: '操作',fixed:'right', toolbar: 'sendRecord-option'}*/
                ]]
            });
        }

        function initChannelSelect() {
            var url = ctx + "smsChannel",
                data = {};
            data.isDel = 0;
            $.get(url,data,function (res) {
                var data = res.data;
                $("#channelId-select").empty();
                $("#channelId-select").append(new Option("",""));
                $.each(res.data,function(index,item){
                    $("#channelId-select").append(new Option(item.name,item.id));
                });
                layui.form.render("select");
            })
        }

        function getQueryParams() {
            return {
                sendCode: $searchForm.find('input[name="sendCode"]').val().trim(),
                orgCode: $searchForm.find('select[name="orgCode"]').val(),
                agentId: $searchForm.find('select[name="agentId"]').val(),
                smsNumber: $searchForm.find('input[name="smsNumber"]').val().trim(),
                smsContent: $searchForm.find('input[name="smsContent"]').val().trim(),
                createStartTime: $searchForm.find('input[name="createStartTime"]').val(),
                createEndTime: $searchForm.find('input[name="createEndTime"]').val(),
                channelId: $searchForm.find('select[name="channelId"]').val(),
                state: $searchForm.find('select[name="state"]').val(),
                resMsgid: $searchForm.find('input[name="resMsgid"]').val().trim(),
                groupId: $searchForm.find('select[name="groupId"]').val(),
                smsNumberProvince: $searchForm.find('select[name="smsNumberProvince"]').val(),
                smsNumberOperator: $searchForm.find('select[name="smsNumberOperator"]').val(),
                smsCount: $searchForm.find('select[name="smsCount"]').val(),
                stateDesc: $searchForm.find('input[name="stateDesc"]').val().trim(),
                smsNumberArea: $searchForm.find('select[name="smsNumberArea"]').val(),
                submitStartTime: $searchForm.find('input[name="submitStartTime"]').val(),
                submitEndTime: $searchForm.find('input[name="submitEndTime"]').val(),
                resMsgidIsNullFlag: $searchForm.find('select[name="resMsgidIsNullFlag"]').val(),
                invalidate_ie_cache: new Date()
            };
        }

    })
</script>
