<style>
    #sendBox-update {
        padding: 20px 25px 25px 0;
    }

    #sendBox-update .layui-treeSelect .ztree li a, .ztree li span {
        margin: 0 0 2px 3px !important;
    }
</style>
<div class="layui-fluid" id="sendBox-update">
    <form class="layui-form" action="" lay-filter="sendBox-update-form">
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">：</label>
            <div class="layui-input-block">
                <input type="text" name="id" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">批次号：</label>
            <div class="layui-input-block">
                <input type="text" name="sendCode" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">代理商id：</label>
            <div class="layui-input-block">
                <input type="text" name="agentId" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">商户编号：</label>
            <div class="layui-input-block">
                <input type="text" name="orgCode" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">消息类型：</label>
            <div class="layui-input-block">
                <input type="text" name="smsType" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">消息内容：</label>
            <div class="layui-input-block">
                <input type="text" name="smsContent" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">手机号码归属国家编码：</label>
            <div class="layui-input-block">
                <input type="text" name="smsNumberArea" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">接收的手机号码集合(逗号隔开)：</label>
            <div class="layui-input-block">
                <input type="text" name="smsNumbers" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">号码数：</label>
            <div class="layui-input-block">
                <input type="text" name="numberCount" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">有效的短信数：</label>
            <div class="layui-input-block">
                <input type="text" name="smsCount" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">短信字数：</label>
            <div class="layui-input-block">
                <input type="text" name="smsWords" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">审核状态：</label>
            <div class="layui-input-block">
                <input type="text" name="auditState" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">拒绝原因：</label>
            <div class="layui-input-block">
                <input type="text" name="refuseCause" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">提交方式：</label>
            <div class="layui-input-block">
                <input type="text" name="subType" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">客户端ip：</label>
            <div class="layui-input-block">
                <input type="text" name="clientIp" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">定时时间：</label>
            <div class="layui-input-block">
                <input type="text" name="timingTime" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">分拣时间：</label>
            <div class="layui-input-block">
                <input type="text" name="sortingTime" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">消费金额：</label>
            <div class="layui-input-block">
                <input type="text" name="consumeAmount" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">通道成本：</label>
            <div class="layui-input-block">
                <input type="text" name="channelCostAmount" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">代理商收益：</label>
            <div class="layui-input-block">
                <input type="text" name="agentIncomeAmount" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">平台收益：</label>
            <div class="layui-input-block">
                <input type="text" name="incomeAmount" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">提交人：</label>
            <div class="layui-input-block">
                <input type="text" name="createUsername" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">创建时间：</label>
            <div class="layui-input-block">
                <input type="text" name="createTime" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item febs-hide">
            <button class="layui-btn" lay-submit="" lay-filter="sendBox-update-form-submit" id="submit"></button>
        </div>
    </form>
</div>

<script data-th-inline="javascript">
    layui.use(['febs', 'form', 'validate'], function () {
        var $ = layui.$,
            febs = layui.febs,
            layer = layui.layer,
            formSelects = layui.formSelects,
            treeSelect = layui.treeSelect,
            form = layui.form,
            sendBox = [[${sendBox}]],
            $view = $('#sendBox-update'),
            validate = layui.validate;

        form.verify(validate);
        form.render();

        initsendBoxValue();

        function initsendBoxValue() {
            form.val("sendBox-update-form", {
                //"mobile": sendBox.mobile
            });
        }

        form.on('submit(sendBox-update-form-submit)', function (data) {
            if (febs.nativeEqual(data.field, sendBox)) {
                febs.alert.warn('数据未作任何修改！');
                return false;
            }
            febs.post(ctx + 'sendBox/update', data.field, function () {
                layer.closeAll();
                febs.alert.success('数据修改成功！');
                $('#febs-sendBox').find('#query').click();
            });
            return false;
        });
    });
</script>