<div class="layui-fluid layui-anim febs-anim" id="febs-sensitiveWord" lay-title="敏感词">
    <div class="layui-row febs-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body febs-table-full">
                    <form class="layui-form layui-table-form" lay-filter="user-table-form">
                        <div class="layui-row">
                            <div class="layui-col-md10">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">敏感词</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="word" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="query">
                                    <i class="layui-icon">&#xe848;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="reset">
                                    <i class="layui-icon">&#xe79b;</i>
                                </div>
                            </div>
                        </div>
                    </form>
                    <table lay-filter="sensitiveWordTable" lay-data="{id: 'sensitiveWordTable'}"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="sensitiveWord-toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="add" shiro:hasAnyPermissions="sensitiveWord:add">新增</button>
        <button class="layui-btn layui-btn-sm febs-bg-volcano" lay-event="del" shiro:hasAnyPermissions="sensitiveWord:delete">删除</button>
    </div>
</script>
<script type="text/html" id="sensitiveWord-option">
	<a lay-event="del" shiro:hasPermission="sensitiveWord:delete"><i class="layui-icon febs-edit-area febs-red" title="删除">&#xe7f9;</i></a>
</script>
<script data-th-inline="none" type="text/javascript">
    layui.use(['jquery', 'laydate', 'form', 'table', 'febs'], function () {
        var $ = layui.jquery,
            laydate = layui.laydate,
            febs = layui.febs,
            form = layui.form,
            table = layui.table,
            $view = $('#febs-sensitiveWord'),
            $query = $view.find('#query'),
            $reset = $view.find('#reset'),
            $searchForm = $view.find('form'),
            sortObject = {field: 'createTime', type: null},
            tableIns;

        form.render();

        initTable();

        // laydate.render({
        //     elem: '#sensitiveWord-createTime',
        //     range: true,
        //     trigger: 'click'
        // });

        //头工具栏事件
        table.on('toolbar(sensitiveWordTable)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'add':
                    febs.modal.open('新增信息', 'sensitiveWord/add', {
                        btn: ['提交', '重置'],
                        area: $(window).width() <= 750 ? '95%' : '50%',
                        yes: function(index, layero) {
                            $('#sensitiveWord-add').find('#submit').trigger('click');
                        },
                        btn2: function() {
                            $('#sensitiveWord-add').find('#reset').trigger('click');
                            return false;
                        }
                    });
                    break;
                case 'del':
                    if (!checkStatus.data.length) {
                        febs.alert.warn('请选择需要删除的记录');
                    } else {
                        febs.modal.confirm('删除记录', '确定删除该记录？', function() {
                            var sensitiveWordIds = [];
                            layui.each(checkStatus.data, function(key, item) {
                                sensitiveWordIds.push(item.id)
                            });
                            deletesensitiveWords(sensitiveWordIds.join(','));
                        });
                    }
                    break;
            };
        });
        
        table.on('tool(sensitiveWordTable)', function (obj) {
            var data = obj.data,
                layEvent = obj.event;
            debugger
            if (layEvent === 'del') {
                febs.get(ctx + 'sensitiveWord/delete' , {'id':data.id}, function () {
                    febs.alert.success('删除成功');
                    $query.click();
                });
            }
        });

        table.on('sort(sensitiveWordTable)', function (obj) {
            sortObject = obj;
            tableIns.reload({
                initSort: obj,
                where: $.extend(getQueryParams(), {
                    field: obj.field,
                    order: obj.type
                })
            });
        });

        $query.on('click', function () {
            var params = $.extend(getQueryParams(), {field: sortObject.field, order: sortObject.type});
            tableIns.reload({where: params, page: {curr: 1}});
        });

        $reset.on('click', function () {
            $searchForm[0].reset();
            tableIns.reload({where: getQueryParams(), page: {curr: 1}, initSort: sortObject});
        });

        function initTable() {
            tableIns = febs.table.init({
                elem: $view.find('table'),
                id: 'sensitiveWordTable',
                url: ctx + 'sensitiveWord/list',
                toolbar: '#sensitiveWord-toolbar',
                cols: [[
                    {type: 'checkbox'},
                    {title: '敏感词',field:'word'},
                    {title: '替换词',field:'newWord'},
                    {title: '操作', toolbar: '#sensitiveWord-option'}
                ]]
            });
        }

        function getQueryParams() {
            return {
                word: $searchForm.find('input[name="word"]').val().trim(),
                invalidate_ie_cache: new Date()
            };
        }

        function deletesensitiveWords(sensitiveWordIds) {
            febs.get(ctx + 'sensitiveWord/delete/' + sensitiveWordIds, null, function () {
                febs.alert.success('删除成功');
                $query.click();
            });
        }
    })
</script>