<div class="layui-fluid layui-anim febs-anim" id="febs-sendRecordHistory" lay-title="历史发送记录列表">
    <div class="layui-row febs-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body febs-table-full">
                    <form class="layui-form layui-table-form" lay-filter="user-table-form">
                        <div class="layui-row">
                            <div class="layui-col-md10">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">批次号</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="sendCode" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">手机号码</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="smsNumber" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">状态</label>
                                        <div class="layui-input-inline">
                                            <select  name="state">
                                                <option value=""></option>
                                                <option  th:each="enum:${sendRecordStateEnums}"
                                                         th:value ="${enum.code}"
                                                         th:text="${enum.msg}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">所属地域</label>
                                        <div class="layui-input-inline">
                                             <select  name="smsNumberArea">
                                                <option value=""></option>
                                                <option  th:each="enum:${smsNumberAreaCodeEnums}"
                                                         th:value ="${enum.inArea}"
                                                         th:text="${enum.areaName}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">运营商</label>
                                        <div class="layui-input-inline">
                                            <sys:dict sortCode="PhoneOperator" name="smsNumberOperator"/>
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">归属地区</label>
                                        <div class="layui-input-inline">
                                            <select  name="smsNumberProvince">
                                                <option value=""></option>
                                                <option  th:each="enum:${smsNumberAreaProvinceEnums}"
                                                         th:value ="${enum.code}"
                                                         th:text="${enum.name}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">创建时间</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="createStartTime" class="layui-input" id="createStartTime4">
                                        </div>
                                        <div class="layui-form-mid">-</div>
                                        <div class="layui-input-inline">
                                            <input type="text" name="createEndTime" class="layui-input" id="createEndTime4" >
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                <div class="layui-btn layui-btn-sm table-action" id="query">
                                    查询
                                </div>

                            </div>
                        </div>
                    </form>
                    <table lay-filter="sendRecordHistoryTable" lay-data="{id: 'sendRecordHistoryTable'}"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="sendRecordHistory-option">
</script>
<script th:inline="javascript" type="text/html" id="sendRecordHistory-smsNumberAreaName">
    {{#
	var smsNumberAreaType ={[# th:each="enum : ${smsNumberAreaCodeEnums}"]
    '[( ${enum.inArea} )]': {title: '[( ${enum.areaName} )]'},
    [/]}[d.smsNumberArea];
    }}
    <span>{{ smsNumberAreaType.title }}</span>
</script>
<script th:inline="javascript" type="text/html" id="sendRecordHistory-state">
    {{#
    var state = {[# th:each="enum : ${sendRecordStateEnums}"]
    [( ${enum.code} )]: {title: '[( ${enum.msg} )]'},
    [/]}[d.state];
    }}
    {{#  if(d.stateDesc && typeof d.stateDesc != undefined && d.stateDesc != '' ){ }}
    <span>{{ state.title  }}
        <i class="layui-icon febs-edit-area febs-blue"
           lay-event="stateDesc">&#xe702;</i>
    </span>
    {{#  } else { }}
        <span>{{ state.title }}</span>
    {{#  } }}
</script>
<script th:inline="javascript" type="text/html" id="sendRecordHistory-smsType">
    {{#
    var smsType = {[# th:each="enum : ${smsTypeEnums}"]
    [( ${enum.code} )]: {title: '[( ${enum.name} )]'},
    [/]}[d.smsType];
    }}
    <span>{{ smsType.title }}</span>
</script>
<script type="text/html" id="sendRecordHistory-smsNumberOperator">
    <sys:template sortCode="PhoneOperator" fieldname="smsNumberOperator"/>
</script>
<script data-th-inline="javascript" type="text/javascript">
    layui.use(['jquery', 'laydate', 'form', 'table', 'febs'], function () {
        var $ = layui.jquery,
            laydate = layui.laydate,
            febs = layui.febs,
            form = layui.form,
            table = layui.table,
            $view = $('#febs-sendRecordHistory'),
            $query = $view.find('#query'),
            $reset = $view.find('#reset'),
            $searchForm = $view.find('form'),
            sortObject = {field: 'createTime', type: null},
            todayStart = [[${todayStart}]],
            todayEnd = [[${todayEnd}]],
            tableIns;

        form.render();

        initTable();
        var start =  laydate.render({
            elem: '#createStartTime4',
            type: 'datetime',
            min:"1970-1-1",
            max:todayEnd,
            value: todayStart,
            done: function (value,date) {

                end.config.min ={
                    year:date.year,
                    month:date.month-1,
                    date: date.date,
                    hours: 0,
                    minutes: 0,
                    seconds : 0
                }
            }
        });

        var end = laydate.render({
            elem: '#createEndTime4',
            type: 'datetime',
            min:todayStart,
            max:"2099-12-31",
            value: todayEnd,
            done: function (value,date) {
                start.config.max={
                    year:date.year,
                    month:date.month-1,//注意是month-1，写在date上的话你后边的日期选择不了
                    date: date.date,
                    hours: 0,
                    minutes: 0,
                    seconds : 0
                }
            }
        });


        table.on('tool(sendRecordHistoryTable)', function (obj) {
            var data = obj.data,
                layEvent = obj.event;
                if (layEvent === 'stateDesc'){
                    layer.alert(data.stateDesc,{title:'状态描述'})
                }
           /* if (layEvent === 'edit') {
                febs.modal.open('修改信息', 'system/sendRecord/update/' + data.sendRecordname, {
                    area: $(window).width() <= 750 ? '90%' : '50%',
                    btn: ['提交', '取消'],
                    yes: function (index, layero) {
                        $('#sendRecord-update').find('#submit').trigger('click');
                    },
                    btn2: function () {
                        layer.closeAll();
                    }
                });
            }*/
        });

        table.on('sort(sendRecordHistoryTable)', function (obj) {
            sortObject = obj;
            tableIns.reload({
                initSort: obj,
                where: $.extend(getQueryParams(), {
                    field: obj.field,
                    order: obj.type
                })
            });
        });

        $query.on('click', function () {
            var params = $.extend(getQueryParams(), {field: sortObject.field, order: sortObject.type});
            tableIns.reload({where: params, page: {curr: 1}});
        });

        $reset.on('click', function () {
            $searchForm[0].reset();
            tableIns.reload({where: getQueryParams(), page: {curr: 1}, initSort: sortObject});
        });

        function initTable() {
            tableIns = febs.table.init({
                elem: $view.find('table'),
                id: 'sendRecordHistoryTable',
                url: ctx + 'sendRecordHistory/IList',
                where: {
                    "createStartTime": todayStart,
                    "createEndTime": todayEnd
                },
                cols: [[
                    {type: 'checkbox'},
                    {field: 'sendCode', title: '批次号',width:210},
                    {field: 'smsNumber', title: '手机号码',width:120},
                    {field: 'smsContent', title: '消息内容',width:150},
                    {field: '', title: '信息详情',templet:'<div>字数{{d.smsWords}} 短信数:{{d.smsCount}}</div>',width:140},
                    {field: 'operatorInfo', title: '运营商详情',templet:'<div></div>', minWidth: 200},
                    {field: 'state', title: '状态',templet:"#sendRecordHistory-state", width: 120},
                    {field: 'smsNumberArea', title: '所属地域',templet:'#sendRecordHistory-smsNumberAreaName', width: 90},
                    {field: 'smsType', title: '消息类型',templet:'#sendRecordHistory-smsType',hide:true},
                    {field: 'returnTime', title: '回执耗时', width: 140},
                    {field: 'receiptTime', title: '回执时间', width: 180},
                    {field: 'createTime', title: '创建时间', width: 180},
                    /* 信息详情： 有效短信数 短信字数*/
                    /* 运营商详情： 运营商  归属地区*/
                    /*
                    {field: 'smsNumberArea', title: '手机号码归属地区'},
                    {field: 'smsNumberProvince', title: '手机号码归属地(省份)'},
                    {field: 'smsCount', title: '有效的短信数'},
                    {field: 'smsWords', title: '短信字数'},
                    {title: '操作',fixed:'right', toolbar: 'sendRecordHistory-option'}*/
                ]]
            });
        }

        function getQueryParams() {
            return {
                sendCode: $searchForm.find('input[name="sendCode"]').val().trim(),
                smsNumber: $searchForm.find('input[name="smsNumber"]').val().trim(),
                createStartTime: $searchForm.find('input[name="createStartTime"]').val(),
                createEndTime: $searchForm.find('input[name="createEndTime"]').val(),
                state: $searchForm.find('select[name="state"]').val(),
                smsNumberArea: $searchForm.find('select[name="smsNumberArea"]').val(),
                smsNumberOperator: $searchForm.find('select[name="smsNumberOperator"]').val(),
                smsNumberProvince: $searchForm.find('select[name="smsNumberProvince"]').val(),
                invalidate_ie_cache: new Date()
            };
        }

    })
</script>
