<style>
    #organization-update {
        padding: 20px 25px 25px 0;
    }

    #organization-update .layui-treeSelect .ztree li a, .ztree li span {
        margin: 0 0 2px 3px !important;
    }
</style>
<div class="layui-fluid" id="organization-update">
    <form class="layui-form" action="" lay-filter="organization-update-form">
        <div class="layui-form-item febs-hide">
            <label class="layui-form-label febs-form-item-require">用户id：</label>
            <div class="layui-input-block">
                <input type="text" name="id" data-th-value="${organization.id}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">商户名称：</label>
            <div class="layui-input-block">
                <input type="text" name="organizationName" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">商户编号：</label>
            <div class="layui-input-block">
                <input type="text" name="organizationCode" class="layui-input" readonly>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">联系人：</label>
            <div class="layui-input-block">
                <input type="text" name="contact" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">联系电话：</label>
            <div class="layui-input-block">
                <input type="text" name="contactMobile" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">短信审核：</label>
            <div class="layui-input-block">
                <sys:dict sortCode="SmsApproveType" name="smsApproveType" class="layui-form-label layui-form-label-sm" lay-verify="required"/>
            </div>
        </div>
        <!--<div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">状态：</label>
            <div class="layui-input-block">
                <select  name="status" lay-verify="required">
                    <option value=""></option>
                    <option  th:each="enum:${orgStatusEnums}"
                             th:value ="${enum.code}"
                             th:text="${enum.name}">
                    </option>
                </select>
            </div>
        </div>-->
        <div class="layui-form-item">
            <label class="layui-form-label ">商户邮箱：</label>
            <div class="layui-input-block">
                <input type="text" name="email" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">商户地址：</label>
            <div class="layui-input-block">
                <input type="text" name="address" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">商户网站：</label>
            <div class="layui-input-block">
                <input type="text" name="webUrl" class="layui-input">
            </div>
        </div>
<!--        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">计费类型：</label>
            <div class="layui-input-block">
                <sys:dict sortCode="ChargesType" name="chargesType" class="layui-form-label layui-form-label-sm" lay-verify="required"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">结算类型：</label>
            <div class="layui-input-block">
                <sys:dict sortCode="SettlementType" name="settlementType" class="layui-form-label layui-form-label-sm" lay-verify="required"/>
            </div>
        </div>-->
        <div class="layui-form-item">
            <label class="layui-form-label">短信签名：</label>
            <div class="layui-input-block">
                <input type="text" name="smsSign" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">绑定IP：</label>
            <div class="layui-input-block">
                <input type="text" name="bindIp" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">描述：</label>
            <div class="layui-input-block">
                <input type="text" name="description" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item febs-hide">
            <button class="layui-btn" lay-submit="" lay-filter="organization-update-form-submit" id="submit"></button>
        </div>
    </form>
</div>
<script data-th-inline="javascript">
layui.use(['febs', 'form', 'formSelects', 'validate', 'treeSelect'], function() {
    var $ = layui.$,
        febs = layui.febs,
        layer = layui.layer,
        formSelects = layui.formSelects,
        treeSelect = layui.treeSelect,
        form = layui.form,
        organization = [[ ${organization} ]],
        $view = $('#organization-update'),
        validate = layui.validate;
    form.verify(validate);
    form.render();

    initorganizationValue();

    formSelects.render();

    function initorganizationValue() {
        form.val("organization-update-form", {
            "organizationName": organization.organizationName,
            "agentId": organization.agentId,
            "organizationCode": organization.organizationCode,
            "contact": organization.contact,
            "contactMobile": organization.contactMobile,
            "email": organization.email,
            "address": organization.address,
            "webUrl": organization.webUrl,
            "status": organization.status,
            "approveStateCode": organization.approveStateCode,
            "smsSign": organization.smsSign,
/*            "chargesType": organization.chargesType,
            "settlementType": organization.settlementType,*/
            "smsApproveType": organization.smsApproveType,
            "bindIp": organization.bindIp,
            "description": organization.description

        });
    }

    form.on('submit(organization-update-form-submit)', function(data) {
        if (febs.nativeEqual(data.field, organization)) {
            febs.alert.warn('数据未作任何修改！');
            return false;
        }
        febs.post(ctx + 'organization/update', data.field, function() {
            layer.closeAll();
            febs.alert.success(organization.organizationName + ' 用户数据修改成功');
            $('#febs-organization').find('#query').click();
        });
        return false;
    });
});
</script>
