<div class="layui-fluid layui-anim febs-anim" id="febs-organization" lay-title="商户管理">
    <div class="layui-row febs-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body febs-table-full">
                    <form class="layui-form layui-table-form" lay-filter="user-table-form">
                        <div class="layui-row">
                            <div class="layui-col-md10">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">商户名称</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="organizationName" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">商户编号</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="organizationCode" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">状态</label>
                                        <div class="layui-input-inline">
                                            <select  name="status">
                                                <option value=""></option>
                                                <option  th:each="enum:${orgStatusEnums}"
                                                         th:value ="${enum.code}"
                                                         th:text="${enum.name}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                <div class="layui-btn layui-btn-sm table-action" id="query">
                                    搜索
                                </div>
                            </div>
                        </div>
                    </form>
                    <table lay-filter="organizationTable" lay-data="{id: 'organizationTable'}"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript" type="text/html" id="organization-status">
    {{#
    var state = {[# th:each="enum : ${orgStatusEnums}"]
    [( ${enum.code} )]:{title: '[( ${enum.name} )]' , color : '[( ${enum.color} )]'},
    [/]}[d.status];
    }}
    <span class="layui-badge febs-tag-{{state.color}}">{{ state.title }}</span>
</script>
<script th:inline="javascript" type="text/html" id="organization-sms-approve-type">
    {{#
    var state = {[# th:each="enum : ${orgSmsApproveTypeEnums}"]
    [( ${enum.code} )]: {title: '[( ${enum.name} )]'},
    [/]}[d.smsApproveType];
    }}
    <span>{{ state.title }}</span>
</script>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="add" shiro:hasAnyPermissions="organization:add">新增</button>
        <button class="layui-btn layui-btn-sm" lay-event="recharge" shiro:hasAnyPermissions="organizationRechargeOrder:add">充值</button>
        <button class="layui-btn layui-btn-sm" lay-event="unlock" shiro:hasAnyPermissions="organization:unlock">批量解锁</button>
        <button class="layui-btn layui-btn-sm" lay-event="lock" shiro:hasAnyPermissions="organization:lock">批量锁定</button>
    </div>
</script>
<script type="text/html" id="organization-option">
    <span shiro:lacksPermission="organization:view,organization:update,organization:delete">
        <span class="layui-badge-dot febs-bg-orange"></span> 无权限
    </span>
    <a lay-event="edit" shiro:hasPermission="organization:update"><i class="layui-icon febs-edit-area febs-blue" title="修改">&#xe7a4;</i></a>
    <a lay-event="editCost" shiro:hasPermission="organizationCost:updates"><i class="layui-icon febs-edit-area febs-blue" title="资费">&#xe794;</i></a>
</script>
<script data-th-inline="none" type="text/javascript">
layui.use(['dropdown', 'jquery', 'laydate', 'form', 'table', 'febs', 'treeSelect'], function() {
    var $ = layui.jquery,
        laydate = layui.laydate,
        febs = layui.febs,
        form = layui.form,
        table = layui.table,
        $view = $('#febs-organization'),
        $query = $view.find('#query'),
        $reset = $view.find('#reset'),
        $searchForm = $view.find('form'),
        sortObject = { field: 'createTime', type: null },
        tableIns,
        createTimeFrom,
        createTimeTo;

    form.render();

    initTable();


    //头工具栏事件
    table.on('toolbar(organizationTable)', function(obj){
        var checkStatus = table.checkStatus(obj.config.id);
        switch(obj.event){
            case 'add':
                febs.modal.open('新增用户', 'organization/add', {
                    btn: ['提交', '重置'],
                    area: ["900px","600px"],
                    yes: function(index, layero) {
                        $('#organization-add').find('#submit').trigger('click');
                    },
                    btn2: function() {
                        $('#organization-add').find('#reset').trigger('click');
                        return false;
                    }
                });
                break;
            case 'recharge':
                if (!checkStatus.data.length) {
                    febs.alert.warn('请选择需要充值的商户');
                } else if(checkStatus.data.length !=1){
                    febs.alert.warn('每次只能为一个商户充值');
                } else if(checkStatus.data[0].status =='2'){
                    febs.alert.warn('该商户已经作废无法操作');
                } else {
                    febs.modal.open('商户充值', 'organizationRechargeOrder/add/' + checkStatus.data[0].id, {
                        btn: ['提交', '重置'],
                        area:['560px','450px'],
                        yes: function (index, layero) {
                            $('#organizationRechargeOrder-add').find('#submit').trigger('click');
                        },
                        btn2: function () {
                            $('#organizationRechargeOrder-add').find('#reset').trigger('click');
                            return false;
                        }
                    });
                }
                break;
            case 'unlock':
                if (!checkStatus.data.length) {
                    febs.alert.warn('请选择需要解锁的商户');
                } else {
                    febs.modal.confirm('批量解锁商户', '确定解锁所选商户？', function() {
                        var organizationIds = [];
                        layui.each(checkStatus.data, function(key, item) {
                            organizationIds.push(item.id)
                        });
                        unlockOrgs(organizationIds.join(','));
                    });
                }
                break;
            case 'lock':
                if (!checkStatus.data.length) {
                    febs.alert.warn('请选择需要锁定的商户');
                } else {
                    febs.modal.confirm('批量锁定商户', '确定锁定所选商户？', function() {
                        var organizationIds = [];
                        layui.each(checkStatus.data, function(key, item) {
                            organizationIds.push(item.id)
                        });
                        lockOrgs(organizationIds.join(','));
                    });
                }
                break;
        };
    });

    // treeSelect.render({
    //     elem: $view.find('#dept'),
    //     type: 'get',
    //     data: ctx + 'dept/select/tree',
    //     placeholder: '请选择',
    //     search: false
    // });

    //table内操作
    table.on('tool(organizationTable)', function(obj) {
        var data = obj.data,
            layEvent = obj.event;
        if (layEvent === 'detail') {
            febs.modal.view('商户信息', 'organization/detail/' + data.id, {
                area: $(window).width() <= 750 ? '95%' : '660px'
            });
        }
        if (layEvent === 'edit') {
            febs.modal.open('修改商户信息', 'organization/update/' + data.id, {
                area: ["900px","600px"],
                btn: ['提交', '取消'],
                yes: function(index, layero) {
                    $('#organization-update').find('#submit').trigger('click');
                },
                btn2: function() {
                    layer.closeAll();
                }
            });
        }
        if (layEvent === 'editCost') {
            febs.modal.open('修改商户费率', 'organizationCost/updates/' + data.id, {
                area: ["750px","550px"],
                btn: ['提交', '取消'],
                yes: function(index, layero) {
                    $('#organization-cost-update').find('#submit').trigger('click');
                },
                btn2: function() {
                    layer.closeAll();
                }
            });
        }
    });

    table.on('sort(organizationTable)', function(obj) {
        sortObject = obj;
        tableIns.reload({
            initSort: obj,
            where: $.extend(getQueryParams(), {
                field: obj.field,
                order: obj.type
            })
        });
    });

    $query.on('click', function() {
        var params = $.extend(getQueryParams(), { field: sortObject.field, order: sortObject.type });
        tableIns.reload({ where: params, page: { curr: 1 } });
    });

    $reset.on('click', function() {
        $searchForm[0].reset();
        tableIns.reload({ where: getQueryParams(), page: { curr: 1 }});
    });

    function initTable() {
        tableIns = febs.table.init({
            elem: $view.find('table'),
            id: 'organizationTable',
            url: ctx + 'organization/list',
            toolbar: '#toolbarDemo',
            defaultToolbar: ['filter', 'exports', 'print'],
            cols: [[
                { type: 'checkbox' },
                { field: 'organizationName', title: '商户名称', minWidth: 120 },
                { field: 'organizationCode', title: '商户编号', minWidth: 200 },
                { field: 'amount', title: '充值总额(元)', minWidth: 120 , templet: function(d){ return d.amount/100 }},
                { field: 'availableAmount', title: '可用金额(元)', minWidth: 120 , templet: function(d){ return d.availableAmount/100 } },
                { field: 'cashAmount', title: '消费金额(元)', minWidth: 120  , templet: function(d){ return d.cashAmount/100 }},
                { field: 'sendSmsTotal', title: '发送条数', minWidth: 100  },
                { field: 'status', title: '状态', templet: '#organization-status', minWidth: 80  },
                { templet: '#organization-sms-approve-type', title: '短信审核', minWidth: 120  },
                { field: 'createDate', title: '创建时间', minWidth: 160  },
                {title: '操作',fixed:'right', toolbar: '#organization-option', minWidth: 140}
            ]]
        });
    }

    function getQueryParams() {
        return {
            organizationName: $searchForm.find('input[name="organizationName"]').val().trim(),
            organizationCode: $searchForm.find('input[name="organizationCode"]').val().trim(),
            status: $searchForm.find('select[name="status"]').val().trim(),
            invalidate_ie_cache: new Date()
        };
    }
    function unlockOrgs(organizationIds) {
        febs.get(ctx + 'organization/unlock/' + organizationIds, null, function() {
            febs.alert.success('批量解锁成功');
            $query.click();
        });
    }
    function lockOrgs(organizationIds) {
        febs.get(ctx + 'organization/lock/' + organizationIds, null, function() {
            febs.alert.success('批量锁定商户成功');
            $query.click();
        });
    }
})
</script>
