<div class="layui-fluid layui-anim febs-anim" id="febs-blackIpConfig" lay-title="黑名单管理">
    <div class="layui-row febs-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body febs-table-full">
                    <form class="layui-form layui-table-form" lay-filter="user-table-form">
                        <div class="layui-row">
                            <div class="layui-col-md10">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">黑名单IP(精确)</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="blackIp" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">黑名单IP(模糊)</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="blackIpFuzzy" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">限制范围</label>
                                        <div class="layui-input-inline">
                                            <select  name="limitProject">
                                                <option value=""></option>
                                                <option  th:each="enum:${limitProjectEnums}"
                                                         th:value ="${enum.code}"
                                                         th:text="${enum.name}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">启用状态</label>
                                        <div class="layui-input-inline">
                                            <select  name="isavailability">
                                                <option value=""></option>
                                                <option  th:each="enum:${isAvailabilityEnums}"
                                                         th:value ="${enum.code}"
                                                         th:text="${enum.name}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">添加时间</label>
                                        <div class="layui-input-inline" style="width: 150px">
                                            <input type="text" name="createStartDate" class="layui-input" id="createStartDate1">
                                        </div>
                                        <div class="layui-form-mid">-</div>
                                        <div class="layui-input-inline" style="width: 150px">
                                            <input type="text" name="createEndDate" class="layui-input" id="createEndDate1" >
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                <div class="layui-btn layui-btn-sm table-action" id="query">
                                    搜索
                                </div>
                            </div>
                        </div>
                    </form>
                    <table lay-filter="blackIpConfigTable" lay-data="{id: 'blackIpConfigTable'}"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript" type="text/html" id="isavailability-status">
    {{#
    var state = {[# th:each="enum : ${isAvailabilityEnums}"]
    [( ${enum.code} )]:{title: '[( ${enum.name} )]' , color : '[( ${enum.color} )]'},
    [/]}[d.isavailability];
    }}
    <span class="layui-badge febs-tag-{{state.color}}">{{ state.title }}</span>
</script>
<script th:inline="javascript" type="text/html" id="limitProject-info">
    {{#
    var state = {[# th:each="enum : ${limitProjectEnums}"]
    [( ${enum.code} )]: {title: '[( ${enum.name} )]'},
    [/]}[d.limitProject];
    }}
    <span>{{ state.title }}</span>
</script>
<script type="text/html" id="blackIpConfig-toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="add" shiro:hasAnyPermissions="blackIpConfig:add">新增</button>
        <button class="layui-btn layui-btn-sm febs-bg-volcano" lay-event="del" shiro:hasAnyPermissions="blackIpConfig:delete">删除</button>
		<button class="layui-btn layui-btn-sm" lay-event="batchInvoke" shiro:hasAnyPermissions="blackIpConfig:batchInvoke">批量启用</button>
		<button class="layui-btn layui-btn-sm febs-bg-volcano" lay-event="batchNoInvoke" shiro:hasAnyPermissions="blackIpConfig:batchNoInvoke">批量关闭</button>
		<button class="layui-btn layui-btn-sm" lay-event="loadBlackIpConfigCache" shiro:hasAnyPermissions="blackIpConfig:loadBlackIpConfigCache">立即生效</button>
    </div>
</script>
<script type="text/html" id="blackIpConfig-option">
    <span shiro:lacksPermission="blackIpConfig:list,blackIpConfig:update,blackIpConfig:delete,blackIpConfig:batchInvoke,blackIpConfig:batchNoInvoke,blackIpConfig:loadBlackIpConfigCache">
        <span class="layui-badge-dot febs-bg-orange"></span> 无权限
    </span>
    <a lay-event="edit" shiro:hasPermission="blackIpConfig:update"><i class="layui-icon febs-edit-area febs-blue" title="修改">&#xe7a4;</i></a>
</script>
<script data-th-inline="none" type="text/javascript">
    layui.use(['jquery', 'laydate', 'form', 'table', 'febs'], function () {
        var $ = layui.jquery,
            laydate = layui.laydate,
            febs = layui.febs,
            form = layui.form,
            table = layui.table,
            $view = $('#febs-blackIpConfig'),
            $query = $view.find('#query'),
            $reset = $view.find('#reset'),
            $searchForm = $view.find('form'),
            sortObject = {field: 'createTime', type: null},
            tableIns;

        form.render();

        initTable();

        
        var start =  laydate.render({
            elem: '#createStartDate1',
            type: 'datetime',
            min:"1970-1-1",
            max:"2099-12-31",
            done: function (value,date) {
                end.config.min ={
                    year:date.year,
                    month:date.month-1,
                    date: date.date,
                    hours: 0,
                    minutes: 0,
                    seconds : 0
                }
            }
        });

         var end = laydate.render({
             elem: '#createEndDate1',
             type: 'datetime',
             min:"1970-1-1",
             max:"2099-12-31",
             done: function (value,date) {
                 start.config.max={
                     year:date.year,
                     month:date.month-1,//注意是month-1，写在date上的话你后边的日期选择不了
                     date: date.date,
                     hours: 0,
                     minutes: 0,
                     seconds : 0
                 }
             }
         });


        //头工具栏事件
        table.on('toolbar(blackIpConfigTable)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'add':
                    febs.modal.open('新增黑名单', 'security/blackIpConfig/add', {
                        btn: ['提交', '重置'],
                        area:['650px','420px'],
                        yes: function(index, layero) {
                            $('#blackIpConfig-add').find('#submit').trigger('click');
                        },
                        btn2: function() {
                            $('#blackIpConfig-add').find('#reset').trigger('click');
                            return false;
                        }
                    });
                    break;
                case 'del':
                    if (!checkStatus.data.length) {
                        febs.alert.warn('请选择需要删除的记录');
                    } else {
                        febs.modal.confirm('删除记录', '确定删除该记录？', function() {
                            var blackIpConfigIds = [];
                            layui.each(checkStatus.data, function(key, item) {
                            	blackIpConfigIds.push(item.id)
                            });
                            deleteBlackIpConfigs(blackIpConfigIds.join(','));
                        });
                    }
                    break;
                case 'batchInvoke':
                    if (!checkStatus.data.length) {
                        febs.alert.warn('请选择需要启用的记录');
                    } else {
                        febs.modal.confirm('启用记录', '确定启用记录？', function() {
                            var blackIpConfigIds = [];
                            layui.each(checkStatus.data, function(key, item) {
                            	blackIpConfigIds.push(item.id)
                            });
                            updateBlackIpConfigsIsAvailability(blackIpConfigIds.join(','),'batchInvoke');
                        });
                    }
                    break;
                case 'batchNoInvoke':
                    if (!checkStatus.data.length) {
                        febs.alert.warn('请选择需要关闭的记录');
                    } else {
                        febs.modal.confirm('关闭记录', '确定关闭记录？', function() {
                            var blackIpConfigIds = [];
                            layui.each(checkStatus.data, function(key, item) {
                            	blackIpConfigIds.push(item.id)
                            });
                            updateBlackIpConfigsIsAvailability(blackIpConfigIds.join(','),'batchNoInvoke');
                        });
                    }
                    break;
                case 'loadBlackIpConfigCache':
                    febs.modal.confirm('立即生效', '确定立即生效？', function () {
                        febs.get(ctx + 'blackIpConfig/loadBlackIpConfigCache', null, function () {
                            febs.alert.success('触发生效成功');
                            $query.click();
                        });
                    });
                    break;
            };
        });

        table.on('tool(blackIpConfigTable)', function (obj) {
            var data = obj.data,
                layEvent = obj.event;
            if (layEvent === 'edit') {
                febs.modal.open('修改信息', 'security/blackIpConfig/update/' + data.id, {
                	area:['650px','420px'],
                    btn: ['提交', '取消'],
                    yes: function (index, layero) {
                        $('#blackIpConfig-update').find('#submit').trigger('click');
                    },
                    btn2: function () {
                        layer.closeAll();
                    }
                });
            }
        });

        table.on('sort(blackIpConfigTable)', function (obj) {
            sortObject = obj;
            tableIns.reload({
                initSort: obj,
                where: $.extend(getQueryParams(), {
                    field: obj.field,
                    order: obj.type
                })
            });
        });

        $query.on('click', function () {
            var params = $.extend(getQueryParams(), {field: sortObject.field, order: sortObject.type});
            tableIns.reload({where: params, page: {curr: 1}});
        });

        $reset.on('click', function () {
            $searchForm[0].reset();
            tableIns.reload({where: getQueryParams(), page: {curr: 1}, initSort: sortObject});
        });

        function initTable() {
            tableIns = febs.table.init({
                elem: $view.find('table'),
                id: 'blackIpConfigTable',
                url: ctx + 'blackIpConfig/list',
                toolbar: '#blackIpConfig-toolbar',
                cols: [[
                    {type: 'checkbox'},
                    {field: 'blackIp', title: '黑名单IP'},
                    {field: 'limitProject', title: '限制范围',templet: '#limitProject-info'},
                    {field: 'isavailability', title: '启用状态',templet: '#isavailability-status'},
                    {field: 'remark', title: '备注'},
                    {field: 'description', title: '描述'},
                    {field: 'createUser', title: '操作用户'},
                    {field: 'createDate', title: '操作时间'},
                    {title: '操作',fixed:'right', toolbar: '#blackIpConfig-option', minWidth: 120}
                ]]
            });
        }

        function getQueryParams() {
            return {
            	blackIp: $searchForm.find('input[name="blackIp"]').val().trim().trim(),
            	blackIpFuzzy: $searchForm.find('input[name="blackIpFuzzy"]').val().trim(),
            	limitProject: $searchForm.find('select[name="limitProject"]').val(),
            	isavailability: $searchForm.find('select[name="isavailability"]').val(),
            	createStartDate: $searchForm.find('input[name="createStartDate"]').val(),
            	createEndDate: $searchForm.find('input[name="createEndDate"]').val(),
                invalidate_ie_cache: new Date()
            };
        }

        function deleteBlackIpConfigs(blackIpConfigIds) {
            febs.get(ctx + 'blackIpConfig/delete/' + blackIpConfigIds, null, function () {
                febs.alert.success('删除成功');
                $query.click();
            });
        }
        
        function updateBlackIpConfigsIsAvailability(blackIpConfigIds,isAvailabilityType) {
            febs.get(ctx + 'blackIpConfig/'+isAvailabilityType+'/' + blackIpConfigIds, null, function () {
                febs.alert.success('操作成功');
                $query.click();
            });
        }
    })
</script>