<style>
    #blackIpConfig-update {
        padding: 20px 25px 25px 0;
    }

    #blackIpConfig-update .layui-treeSelect .ztree li a, .ztree li span {
        margin: 0 0 2px 3px !important;
    }
</style>
<div class="layui-fluid" id="blackIpConfig-update">
    <form class="layui-form" action="" lay-filter="blackIpConfig-update-form">
    	<div class="layui-form-item febs-hide">
            <label class="layui-form-label febs-form-item-require">黑名单id：</label>
            <div class="layui-input-block">
                <input type="text" name="id" data-th-value="${blackIpConfig.id}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">黑名单IP</label>
            <div class="layui-input-block">
                <input type="text" name="blackIp" class="layui-input" data-th-value="${blackIpConfig.blackIp}" readonly>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">限制范围</label>
            <div class="layui-input-block">
                <select  name="limitProject"  lay-verify="required">
                	<option value=""></option>
                	<option  th:each="enum:${limitProjectEnums}" th:value ="${enum.code}" th:text="${enum.name}"></option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">启用状态</label>
            <div class="layui-input-block">
                <select  name="isavailability"  lay-verify="required">
					<option value=""></option>
                    <option  th:each="enum:${isAvailabilityEnums}" th:value ="${enum.code}" th:text="${enum.name}"></option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">备注：</label>
            <div class="layui-input-block">
                <input type="text" name="remark" class="layui-input" data-th-value="${blackIpConfig.remark}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">描述：</label>
            <div class="layui-input-block">
                <input type="text" name="description" class="layui-input" data-th-value="${blackIpConfig.description}">
            </div>
        </div>
        <div class="layui-form-item febs-hide">
            <button class="layui-btn" lay-submit="" lay-filter="blackIpConfig-update-form-submit" id="submit"></button>
        </div>
    </form>
</div>

<script data-th-inline="javascript">
    layui.use(['febs', 'form', 'validate'], function () {
        var $ = layui.$,
            febs = layui.febs,
            layer = layui.layer,
            formSelects = layui.formSelects,
            treeSelect = layui.treeSelect,
            form = layui.form,
            blackIpConfig = [[${blackIpConfig}]],
            $view = $('#blackIpConfig-update'),
            validate = layui.validate;

        form.verify(validate);
        form.render();

        initblackIpConfigValue();

        function initblackIpConfigValue() {
            form.val("blackIpConfig-update-form", {
            	 //"blackIp": blackIpConfig.blackIp,
                 "limitProject": blackIpConfig.limitProject,
                 "isavailability": blackIpConfig.isavailability
                 //"remark": blackIpConfig.remark,
                 //"description": blackIpConfig.description
            });
        }

        form.on('submit(blackIpConfig-update-form-submit)', function (data) {
            if (febs.nativeEqual(data.field, blackIpConfig)) {
                febs.alert.warn('数据未作任何修改！');
                return false;
            }
            febs.post(ctx + 'blackIpConfig/update', data.field, function () {
                layer.closeAll();
                febs.alert.success('数据修改成功！');
                $('#febs-blackIpConfig').find('#query').click();
            });
            return false;
        });
    });
</script>