
<div class="layui-fluid" id="sendBoxSubmitByForm" lay-title="号码手动输入提交">
    <div class="layui-row febs-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">号码手动输入提交发送</div>
                <div class="layui-card-body" pad15="">

                    <form class="layui-form" lay-filter="sendbox-value" id="sendbox-form" enctype="multipart/form-data" style="padding: 20px 30px 0 0;">
                        <div class="layui-fluid" layouth="57">
                        	<div class="layui-form-item">
                                <label class="layui-form-label">字数统计:   </label>
                                <div class="layui-form-mid layui-word-aux">
                                    <div style="width: 100%;" id="wordCount">本短信共0个字符，合计1条短信</div>
                                </div>
	                            <div class="layui-form-mid layui-word-aux">
	                                	（&nbsp;<span class="febs-red" id="sendDefaultPrompt"></span>&nbsp;）
	                            </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label febs-form-item-require">短信内容：</label>
                                <div class="layui-input-inline" style="width: 65%;">
                                    <textarea placeholder="请输入内容" class="layui-textarea" lay-verify="required" name="smsContent" id="content"></textarea>
                                </div>
                            </div>
							<div class="layui-form-item">
                                <div class="layui-input-block layui-input-inline" shiro:hasAnyPermissions="sendBox:sensitiveFilter">
                                    <button class="layui-btn layui-btn-sm" id="sensitiveFilter" shiro:hasAnyPermissions="sendBox:sensitiveFilter">敏感词检查</button>
                                </div>
                                <div class="layui-input-block layui-input-inline" shiro:hasAnyPermissions="sendBox:replaceSensitiveWord">
                                    <button class="layui-btn layui-btn-sm" id="replaceSensitiveWord" shiro:hasAnyPermissions="sendBox:replaceSensitiveWord">敏感词替换</button>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">手机号码：</label>
                                <div class="layui-input-block" style="margin-left: 110px;">
                                    <textarea placeholder="请输入手机号码" class="layui-textarea" lay-verify="required" name="smsNumbers" id="phone_Nos"></textarea>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label"> </label>
                                <div class="layui-input-block layui-word-aux">
                                    (多个号码<span class="febs-red">换行</span>或者<span class="febs-red">英文逗号</span>分割,最多5W个号码；发送前请检查号码中是否存在多余空格，以免造成发送失败)</div>
                            </div>
                             <div class="layui-form-item">
                                <label class="layui-form-label">设置定时：</label>
                                <div class="layui-input-inline">
                                    <input type="checkbox" id="on-off-formSet" lay-filter="on-off-formSet" lay-skin="switch" lay-text="开|关">
                                </div>
                            </div>
                            <div class="layui-form-item" id="sendTimeSet" style="display: none;">
                                <label class="layui-form-label">定时发送:</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="timingTime" id="send_Time" lay-verify="dateTxttime" placeholder="yyyy-MM-dd HH:mm:ss" autocomplete="off" class="layui-input">
                                    <div class="layui-form-mid layui-word-aux">(不设置时间，则为实时发送)</div>
                                </div>
                                <div class="layui-input-inline">
                                    <label class="layui-form-label">记住时间</label>
                                    <div class="layui-input-block">
                                        <input type="checkbox" id="on-off-form" lay-filter="on-off-form" lay-skin="switch" lay-text="开|关">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit lay-filter="sendBoxSubmitByForm">提交</button>
                            </div>
                        </div>
                        <input type="hidden" id="sessionToken" name="sessionToken"  data-th-value="${sessionToken}"/>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<script data-th-inline="javascript">
    layui.use(['febs', 'form', 'validate', 'layer','laydate','jqueryForm'], function () {
        var $ = layui.$,
            validate = layui.validate,
            form = layui.form,
            febs = layui.febs,
            laydate = layui.laydate,
            minDate= [[${todayStart}]],
            maxDate = [[${minusDaysEnd}]],
            sendDefaultPrompt = [[${sendDefaultPrompt}]],
            $sendBoxSubmitByForm = $("#sendBoxSubmitByForm"),
            onOffAll = false;
            onOff = false,
            $content = $("#sendBoxSubmitByForm #content");

        form.verify(validate);
        form.render();
        $sendBoxSubmitByForm.find('#sendDefaultPrompt').text(sendDefaultPrompt ? sendDefaultPrompt : '短信字数不超过500字！具体资费请咨询客服！');
        $content.on('keyup propertychange',function () {
            var eSignature = "";
            var fullSms = $content.val() + eSignature;
            //首尾空格不计入统计
            fullSms = trimStr(fullSms);
            var splitSmsCount = 1;
            if (fullSms.length > 70) {
                splitSmsCount = fullSms.length / 67;
                if (fullSms.length % 67 != 0) {
                    splitSmsCount += 1;
                }
            }
            splitSmsCount = Math.floor(splitSmsCount);
        	var wordMsg = '本短信共'+fullSms.length + '个字符，合计1条短信';
            if (splitSmsCount > 1){
            	wordMsg = '因短信共<span class="febs-red febs-font-14">'+fullSms.length + '</span>个字符,需拆分<span class="febs-red febs-font-14">' + splitSmsCount + '</span>条短信发送';
            }
            $sendBoxSubmitByForm.find("#wordCount").html(wordMsg);
        })

        function trimStr(str){return str.replace(/(^\s*)|(\s*$)/g,"");}

        //日期
        laydate.render({
            elem: '#send_Time',
            trigger : 'click',
            type: 'datetime',
            min: minDate,
            max: maxDate

        });
        form.on('switch(on-off-form)', function(data){
            onOff = data.elem.checked;
        });
        //敏感词检测
        $("#sendBoxSubmitByForm #sensitiveFilter").on("click",function () {
        	layer.load();
            var content = trimStr($content.val());
            if(content == ""){
                layer.alert('请先填写短信内容！');
                layer.closeAll('loading');
                return false;
            }
            if(febs.isEmojiCharacter(content)){
            	layer.alert('内容不能包含Emoji表情,如:笑脸，图案等,请重新编辑！');
                    layer.closeAll('loading');
                    return false;
             }
            febs.post(ctx + 'sendBox/sensitiveFilter' , {'smsContent':content}, function (res) {
                var msg = "短信内容未检测到敏感词！"
                if (res.data == false){
                    msg = res.message;
                }
                layer.alert(msg);
                layer.closeAll('loading');
                return false;
            });
            return false;
        });
        //敏感词替换
        $("#sendBoxSubmitByForm #replaceSensitiveWord").on("click",function () {
        	layer.load();
            var content = trimStr($content.val());
            if(content == ""){
                layer.alert('请先填写短信内容！');
                layer.closeAll('loading');
                return false;
            }
            if(febs.isEmojiCharacter(content)){
            	layer.alert('内容不能包含Emoji表情,如:笑脸，图案等,请重新编辑！');
                    layer.closeAll('loading');
                    return false;
             }
            febs.post(ctx + 'sendBox/replaceSensitiveWord' , {'smsContent':content}, function (res) {
                var msg = "短信内容未检测到敏感词！"
                if (res.data == false)
                {
                	$content.val(res.message);
                }
                else
                {
                	layer.alert(msg);
                }
                layer.closeAll('loading');
                return false;
            });
            return false;
        });
        
        form.on('switch(on-off-formSet)', function(data){
        	onOffAll = data.elem.checked;
        	$("#sendTimeSet").toggle();
        	if(!$("#on-off-formSet").is(':checked'))
        	{
        		 $('#send_Time').val('');
        	}
        });
        //发送
        form.on('submit(sendBoxSubmitByForm)', function (data) {
            var jsonData = data.field;
            var self = $(this);
            if(self.data('loading')){
                return false;
            }
            layer.load();
            febs.modal.confirm('发送提示', '点击【确定】按钮将提交到后台进行发送，请耐心等待结果反馈；若未见结果反馈，可能是网络延迟原因，请先到【发件箱】中查看是否已有发件箱记录生成，避免重复发送！信息有误需要调整则点击【取消】按钮，谢谢使用！', function () {
            	 self.data('loading',true);
                 var data = $("#sendbox-form").val();
                 $("#sendbox-form").ajaxSubmit({
                     type: 'post',
                     url: ctx + 'sendBox/submitWithTxt',
                     dataType: 'json',
                     data: data,
                     beforeSubmit: function(formData,jqForm,options){
                         //文件空时 标记文件属性的index 用于移除参数
                         var fileIndex = -1;
                         var isSubmit = true;
                         layui.each(formData,function (index,item) {
                             if(item.name == 'moblieFile'){
                                 if(item.value == ''){
                                     fileIndex = index;
                                 }else {
                                     if(item.value.size > 3145728){
                                         febs.alert.warn('号码文件太大,超过3MB');
                                         isSubmit = false;
                                         self.data('loading',false);
                                         layer.closeAll('loading');
                                     }
                                 }
                             }
                             if (item.name == "smsContent"){
                                 //去掉内容的首尾空格
                                 formData[index].value = trimStr(formData[index].value);
                                 //如果包含Emoji表情
                                 if(febs.isEmojiCharacter(formData[index].value)){
     	                           	febs.alert.warn('内容不能包含Emoji表情,如:笑脸，图案等,请重新编辑！');
    	                           	isSubmit = false;
                                    self.data('loading',false);
                                    layer.closeAll('loading');
                                 }
                                 if(formData[index].value.length > 500){
                                     febs.alert.warn('短信内容总字数过长');
                                     isSubmit = false;
                                     self.data('loading',false);
                                     layer.closeAll('loading');
                                 }
                             }
                             if (item.name == "smsNumbers"){
                                 //去掉内容的首尾空格
                                 formData[index].value = trimStr(formData[index].value);
                                 if(formData[index].value == ''){
                                	 febs.alert.warn('请输入手机号码！');
     	                           	 isSubmit = false;
                                     self.data('loading',false);
                                     layer.closeAll('loading');
                                 }
                             }
                         })
                         if (fileIndex != -1){
                             formData.splice(fileIndex,1);
                         }
                         return isSubmit;
                     },
                     success: function(d) {
                         self.data('loading',false);
                         layer.closeAll('loading');
                         if (d.code === 200) {
                             $sendBoxSubmitByForm.find('.layui-form')[0].reset();
                             if(onOffAll)
                             {
                             	 $('#on-off-formSet').attr('checked','true');
                             }
                             else
                             {
                                 $('#on-off-formSet').removeAttr('checked');
                             }
                             if (onOff) {//记忆定时时间
                                 form.val("sendbox-value", {
                                     "timingTime": jsonData.timingTime
                                 });
                                 $('#on-off-form').attr('checked','true');
                             }else {
                                 $('#on-off-form').removeAttr('checked');
                             }
                             if(d.sessionToken!=null)
                             {
                            	 $sendBoxSubmitByForm.find('#sessionToken').val(d.sessionToken);
                             }
                             layer.alert(d.message, {icon: 1});
                         } else if (d.code === 401) {
                             febs.modal.info('登录失效', '登录已失效，请重新登录', function () {
                                 window.location.href = ctx + 'login';
                             });
                         } else if (d.code === 403) {
                             febs.alert.warn('对不起，您暂无该操作权限');
                         }else {
                        	 if(d.sessionToken!=null)
                             {
                            	 $sendBoxSubmitByForm.find('#sessionToken').val(d.sessionToken);
                             }
                             layer.alert(d.message, {icon: 2});
                         }
                     },
                     error: function(d) {
                         self.data('loading',false);
                         layer.closeAll('loading');
                         if(d.sessionToken!=null)
                         {
                        	 $sendBoxSubmitByForm.find('#sessionToken').val(d.sessionToken);
                         }
                         layer.alert(d.message, {icon: 2});
                     }
                 })
            },function () {layer.closeAll('loading');});
            return false;
        });
    });
</script>