<div class="layui-fluid layui-anim febs-anim" id="febs-agent" lay-title="代理管理">
    <div class="layui-row febs-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body febs-table-full">
                    <form class="layui-form layui-table-form" lay-filter="agent-table-form">
                        <div class="layui-row">
                            <div class="layui-col-md10">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">名称</label>
                                        <div class="layui-input-inline">
                                            <sys:data dataType="agent" name="id" class="layui-form-label layui-form-label-sm" lay-verify="required"/>
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">用户名</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="agentAccount" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">状态</label>
                                        <div class="layui-input-inline">
                                            <select  name="stateCode">
                                                <option value=""></option>
                                                <option  th:each="enum:${orgStatusEnums}"
                                                         th:value ="${enum.code}"
                                                         th:text="${enum.name}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                <div class="layui-btn layui-btn-sm table-action" id="query">
                                    搜索
                                </div>
                            </div>
                        </div>
                    </form>
                    <table lay-filter="agentTable" lay-data="{id: 'agentTable'}"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="updateAgentCostsContent" style="display:none;">
    <form class="layui-form" id="updateAgentCostsContentForm" style="padding:20px;" lay-filter="updateAgentCostsContent">
        <div class='contentDiv'>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label"> 资费名称：</label>
                    <div class="layui-input-inline">
                        <select name="costName" class='costValue' lay-verify="required">
                            <option value=""></option>
                            <option th:each="enum:${smsNumberAreaCodeEnums}"
                                    th:value ="${enum.inArea}"
                                    th:text="${enum.areaName}">
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">短信类型：</label>
                    <div class="layui-input-inline">
                        <select name="smsType" class='costValue' lay-verify="required">
                            <option value=""></option>
                            <option th:each="enum:${smsTypeEnums}"
                                    th:value ="${enum.code}"
                                    th:text="${enum.name}">
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">运营商：</label>
                    <div class="layui-input-inline">
                        <select name="operator" class='costValue'>
                            <option value=""></option>
                            <option th:each="enum:${operatorEnums}"
                                    th:value ="${enum.code}"
                                    th:text="${enum.name}">
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">资费:</label>
                    <div class="layui-input-inline">
                        <input type="text" class='costValue layui-input' name="costValue" lay-verify="required">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script th:inline="javascript"  type="text/html" id="agent-state">
    {{#
    var state = {[# th:each="enum : ${orgStatusEnums}"]
    [( ${enum.code} )]:{title: '[( ${enum.name} )]' , color : '[( ${enum.color} )]'},
    [/]}[d.stateCode];
    }}
    <span class="layui-badge febs-tag-{{state.color}}">{{ state.title }}</span>
</script>
<script th:inline="javascript" type="text/html" id="agent-needBindGoogleKey">
    {{#
    var state = {[# th:each="enum : ${needBindGoogleKeyEnums}"]
    [( ${enum.code} )]:{title: '[( ${enum.name} )]' , color : '[( ${enum.color} )]'},
    [/]}[d.needBindGoogleKey];
    }}
    <span class="layui-badge febs-tag-{{state.color}}">{{ state.title }}</span>
</script>
<script type="text/html" id="agent-toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="add" shiro:hasAnyPermissions="agent:add">新增</button>
        <button class="layui-btn layui-btn-sm  febs-bg-volcano" lay-event="del" shiro:hasAnyPermissions="agent:delete">删除</button>
        <button class="layui-btn layui-btn-sm" lay-event="resetPassword" shiro:hasAnyPermissions="agent:resetPassword">重置密码</button>
        <button class="layui-btn layui-btn-sm" lay-event="recharge" shiro:hasAnyPermissions="agentRechargeOrder:add">充值</button>
        <button class="layui-btn layui-btn-sm" lay-event="deducting" shiro:hasAnyPermissions="agentRechargeOrder:deducting">扣减额度</button>
        <button class="layui-btn layui-btn-sm" lay-event="unlock" shiro:hasAnyPermissions="agent:unlock">批量解锁</button>
        <button class="layui-btn layui-btn-sm febs-bg-volcano" lay-event="lock" shiro:hasAnyPermissions="agent:lock">批量锁定</button>
		<button class="layui-btn layui-btn-sm" lay-event="updateAgentCosts" shiro:hasAnyPermissions="agent:updateCosts">批量修改资费</button>
		<button class="layui-btn layui-btn-sm" lay-event="updateUpAgentCosts" shiro:hasAnyPermissions="agent:updateUpCosts">批量上调资费</button>
		<button class="layui-btn layui-btn-sm" lay-event="updateCutAgentCosts" shiro:hasAnyPermissions="agent:updateCutCosts">批量下调资费</button>
    </div>
</script>
<script type="text/html" id="agent-option">
    <span shiro:lacksPermission="agent:update,agent:delete">
        <span class="layui-badge-dot febs-bg-orange"></span> 无权限
    </span>
    <a lay-event="edit" shiro:hasPermission="agent:update"><i class="layui-icon febs-edit-area febs-blue" title="修改">&#xe7a4;</i></a>
    <a lay-event="editCost" shiro:hasPermission="agentCost:updates"><i class="layui-icon febs-edit-area febs-blue" title="资费">&#xe794;</i></a>
    <a lay-event="editMenuLimit" shiro:hasPermission="agentMenuLimit:update"><i class="layui-icon febs-edit-area febs-blue" title="权限">&#xe875;</i></a>
    <a lay-event="google" shiro:hasPermission="agent:google:key"><i class="layui-icon febs-edit-area qrcodeUrl" title="谷歌验证码">&#xe934;</i></a>
</script>

<script data-th-inline="none" type="text/javascript">
    layui.use(['dropdown', 'jquery', 'laydate', 'form', 'table', 'febs'], function () {
        var $ = layui.jquery,
            laydate = layui.laydate,
            febs = layui.febs,
            form = layui.form,
            table = layui.table,
            $view = $('#febs-agent'),
            $query = $view.find('#query'),
            $reset = $view.find('#reset'),
            $searchForm = $view.find('form'),
            initGetAgentsData,
            tableIns;

        form.render();

        initTable();

        //头工具栏事件
        table.on('toolbar(agentTable)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'add':
                    febs.modal.open('新增代理', 'agent/add', {
                        btn: ['提交', '重置'],
                        area:['950px','600px'],
                        yes: function (index, layero) {
                            $('#agent-add').find('#submit').trigger('click');
                        },
                        btn2: function () {
                            $('#agent-add').find('#reset').trigger('click');
                            return false;
                        }
                    });
                    break;
                case 'del':
                    if (!checkStatus.data.length) {
                        febs.alert.warn('请选择需要删除的代理');
                    } else if(checkStatus.data.length !=1){
                        febs.alert.warn('每次只能删除一个代理');
                    } else {
                        febs.modal.confirm('删除代理', '确定删除该代理？', function () {
                            var agentIds = [];
                            layui.each(checkStatus.data, function (key, item) {
                                agentIds.push(item.id)
                            });
                            deleteAgents(agentIds.join(','));
                        });
                    }
                    break;
                case 'resetPassword':
                    if (!checkStatus.data.length) {
                        febs.alert.warn('请选择需要重置密码的代理');
                    } else {
                        var agentAccounts = [];
                        layui.each(checkStatus.data, function (key, item) {
                            agentAccounts.push(item.agentAccount)
                        });
                        febs.post(ctx + 'agent/resetPassword/' + agentAccounts.join(','), null, function () {
                            febs.alert.success('所选用户密码已重置为(当天的年月日，格式:YYYYMMDD)');
                        });
                    }
                    break;
                case 'recharge':
                    if (!checkStatus.data.length) {
                        febs.alert.warn('请选择需要充值的代理');
                    }else if(checkStatus.data.length !=1){
                        febs.alert.warn('每次只能为一个代理充值');
                    } else {
                        febs.modal.open('代理充值', 'agentRechargeOrder/add/' + checkStatus.data[0].id, {
                            btn: ['提交', '重置'],
                            area:['560px','450px'],
                            yes: function (index, layero) {
                                $('#agentRechargeOrder-add').find('#submit').trigger('click');
                            },
                            btn2: function () {
                                $('#agentRechargeOrder-add').find('#reset').trigger('click');
                                return false;
                            }
                        });
                    }
                    break;
                case 'deducting':
                    if (!checkStatus.data.length) {
                        febs.alert.warn('请选择需要扣除额度的代理');
                    }else if(checkStatus.data.length !=1){
                        febs.alert.warn('每次只能为一个代理扣除额度');
                    } else {
                        febs.modal.open('代理扣除额度', 'agentRechargeOrder/deducting/' + checkStatus.data[0].id, {
                            btn: ['提交', '重置'],
                            area:['560px','450px'],
                            yes: function (index, layero) {
                                $('#agentRechargeOrder-deducting').find('#submit').trigger('click');
                            },
                            btn2: function () {
                                $('#agentRechargeOrder-deducting').find('#reset').trigger('click');
                                return false;
                            }
                        });
                    }
                    break;
                case 'unlock':
                    if (!checkStatus.data.length) {
                        febs.alert.warn('请选择需要解锁的代理');
                    } else {
                        febs.modal.confirm('批量解锁代理', '确定解锁所选代理？', function() {
                            var agentIds = [];
                            layui.each(checkStatus.data, function(key, item) {
                            	agentIds.push(item.id)
                            });
                            unlockAgents(agentIds.join(','));
                        });
                    }
                    break;
                case 'lock':
                    if (!checkStatus.data.length) {
                        febs.alert.warn('请选择需要锁定的代理');
                    } else {
                        febs.modal.confirm('批量锁定代理', '确定锁定所选代理？', function() {
                            var agentIds = [];
                            layui.each(checkStatus.data, function(key, item) {
                            	agentIds.push(item.id)
                            });
                            lockAgents(agentIds.join(','));
                        });
                    }
                    break;
                case 'updateAgentCosts':
                    if (!checkStatus.data.length) {
                        febs.alert.warn('请选择需要修改的代理');
                    } else {
                        var agentIds = [];
                        layui.each(checkStatus.data, function(key, item) {
                        	agentIds.push(item.id)
                        });
                        var obj = {};
                        var assignLayer = layer.open({
                            type: 1,
                            title:"批量修改代理资费",
                            btn: ['提交', '重置'],
                            area:['560px','450px'],
                            content: $('#updateAgentCostsContent').html(), //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
                            success:function(){
                                form.render();
                                form.on('select',function(data){
                                    var name = $(data.elem).attr("name");
                                    if(name == "costName"){
                                        obj.costName = data.value;
                                    }
                                    if(name == "smsType"){
                                        obj.smsType = data.value;
                                    }
                                    if(name == "operator"){
                                        obj.operator = data.value;
                                    }
                                })
                            },
                            yes: function (index, layero) {
                                obj.agentIds = agentIds.join(",");
                                var costValue = layero.find('input[name="costValue"]').val();
                                if(costValue) obj.costValue = (parseFloat(costValue)*100).toFixed(0);
                                febs.ajax({
                                    type : 'POST',
                                    url: ctx + 'agentCost/updateCosts',
                                    contentType : "application/x-www-form-urlencoded" ,
                                    data : obj,
                                    success : function(r) {
                                        if (r.code === 200) {
                                            layer.close(assignLayer);
                                            febs.alert.success('修改成功');
                                            $query.click();
                                        } else {
                                            layer.msg(r.message, {icon: 2});
                                        }
                                    }
                                });
                            }
                        });
                    }
                    break;
                case 'updateUpAgentCosts':
                    if (!checkStatus.data.length) {
                        febs.alert.warn('请选择需要上调资费的代理');
                    } else {
                        var agentIds = [];
                        layui.each(checkStatus.data, function(key, item) {
                        	agentIds.push(item.id)
                        });
                        var obj = {};
                        var assignLayer = layer.open({
                            type: 1,
                            title:"批量修改代理资费",
                            btn: ['提交', '重置'],
                            area:['560px','450px'],
                            content: $('#updateAgentCostsContent').html(), //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
                            success:function(){
                                form.render();
                                form.on('select',function(data){
                                    var name = $(data.elem).attr("name");
                                    if(name == "costName"){
                                        obj.costName = data.value;
                                    }
                                    if(name == "smsType"){
                                        obj.smsType = data.value;
                                    }
                                    if(name == "operator"){
                                        obj.operator = data.value;
                                    }
                                })
                            },
                            yes: function (index, layero) {
                                obj.agentIds = agentIds.join(",");
                                var costValue = layero.find('input[name="costValue"]').val();
                                if(costValue) obj.costValue = (parseFloat(costValue)*100).toFixed(0);
                                febs.ajax({
                                    type : 'POST',
                                    url: ctx + 'agentCost/updateUpCosts',
                                    contentType : "application/x-www-form-urlencoded" ,
                                    data : obj,
                                    success : function(r) {
                                        if (r.code === 200) {
                                            layer.close(assignLayer);
                                            febs.alert.success('修改成功');
                                            $query.click();
                                        } else {
                                            layer.msg(r.message, {icon: 2});
                                        }
                                    }
                                });
                            }
                        });
                    }
                    break;
                case 'updateCutAgentCosts':
                    if (!checkStatus.data.length) {
                        febs.alert.warn('请选择需要下调资费的代理');
                    } else {
                        var agentIds = [];
                        layui.each(checkStatus.data, function(key, item) {
                        	agentIds.push(item.id)
                        });
                        var obj = {};
                        var assignLayer = layer.open({
                            type: 1,
                            title:"批量修改代理资费",
                            btn: ['提交', '重置'],
                            area:['560px','450px'],
                            content: $('#updateAgentCostsContent').html(), //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
                            success:function(){
                                form.render();
                                form.on('select',function(data){
                                    var name = $(data.elem).attr("name");
                                    if(name == "costName"){
                                        obj.costName = data.value;
                                    }
                                    if(name == "smsType"){
                                        obj.smsType = data.value;
                                    }
                                    if(name == "operator"){
                                        obj.operator = data.value;
                                    }
                                })
                            },
                            yes: function (index, layero) {
                                obj.agentIds = agentIds.join(",");
                                var costValue = layero.find('input[name="costValue"]').val();
                                if(costValue) obj.costValue = (parseFloat(costValue)*100).toFixed(0);
                                febs.ajax({
                                    type : 'POST',
                                    url: ctx + 'agentCost/updateCutCosts',
                                    contentType : "application/x-www-form-urlencoded" ,
                                    data : obj,
                                    success : function(r) {
                                        if (r.code === 200) {
                                            layer.close(assignLayer);
                                            febs.alert.success('修改成功');
                                            $query.click();
                                        } else {
                                            layer.msg(r.message, {icon: 2});
                                        }
                                    }
                                });
                            }
                        });
                    }
                    break;
            };
        });

        $query.on('click', function () {
            initGetAgents();
            tableIns.reload({where: getQueryParams(), page: {curr: 1}});
        });

        $reset.on('click', function () {
            initGetAgents();
            $searchForm[0].reset();
            tableIns.reload({where: getQueryParams(), page: {curr: 1}});
        });

        table.on('tool(agentTable)', function (obj) {
            var data = obj.data,
                layEvent = obj.event;
            if (layEvent === 'del') {
                febs.modal.confirm('删除代理', '确定删除改代理？', function () {
                    deleteAgents(data.id);
                });
            }
            if (layEvent === 'edit') {
                febs.modal.open('修改代理', 'agent/update/' + data.id, {
                    area:['950px','600px'],
                    btn: ['提交', '取消'],
                    yes: function (index, layero) {
                        $('#agent-update').find('#submit').trigger('click');
                    },
                    btn2: function () {
                        layer.closeAll();
                    }
                });
            }
            if (layEvent === 'editCost') {
                febs.modal.open('修改代理费率', 'agent/updateCost/' + data.id, {
                    area: ['760px','540px'],
                    btn: ['提交', '取消'],
                    yes: function (index, layero) {
                        $('#agent-cost-update').find('#submit').trigger('click');
                    },
                    btn2: function () {
                        layer.closeAll();
                    }
                });
            }
           if (layEvent === 'editMenuLimit') {
                febs.modal.open('修改代理权限', 'agent/updateMenuLimit/' + data.id, {
                    area:['400px','300px'],
                    btn: ['提交', '取消'],
                    yes: function (index, layero) {
                        $('#agent-limit-update').find('#submit').trigger('click');
                    },
                    btn2: function () {
                        layer.closeAll();
                    }
                });
            }
            if (layEvent === 'google') {
                febs.modal.open('绑定谷歌码', 'agent/googleKey/' + data.id, {
                    area:['350px','350px'],
                    btn: ['确定', '取消'],
                    yes: function (index, layero) {
                        layer.closeAll();
                    },
                    btn2: function () {
                        layer.closeAll();
                    }
                });
            }
        });

        function initGetAgents(){
            var data = [];
            febs.ajax({
                url:ctx + 'agent/getAgents',
                async:false,
                success:function (res) {
                    if(res.code == 200){
                        initGetAgentsData = res.data;
                    }
                }
            })
            return data;
        }

        function initTable() {
            initGetAgents();
            tableIns = febs.table.init({
                elem: $view.find('table'),
                id: 'agentTable',
                url: ctx + 'agent/list',
                toolbar: '#agent-toolbar',
                cols: [[
                    {type: 'checkbox'},
                    {title: '上级代理商',  templet: function (d) {
                            var agentName = "";
                            layui.each(initGetAgentsData,function (index,item) {
                                if(Object.keys(item) == d.upAgentId){
                                    agentName = Object.values(item);
                                }
                            });
                            return agentName;
                        }, minWidth: 150 },
                    {field: 'agentName', title: '名称', minWidth: 150},
                    {field: 'agentAccount', title: '用户名', minWidth: 80},
                    {field: 'amount', title: '充值总额(元)', minWidth: 80 ,templet: function(d){ return d.amount/100 }},
                    {field: 'quotaAmount', title: '可用额度(元)', minWidth: 80,templet: function(d){ return d.quotaAmount/100 }},
                    {field: 'availableAmount', title: '利润金额(元)', minWidth: 80,templet: function(d){ return d.availableAmount/100 }},
                    {field: 'cashAmount', title: '消费金额(元)', minWidth: 80,templet: function(d){ return d.cashAmount/100 }},
                    {field: 'sendSmsTotal', title: '发送条数', minWidth: 80},
                    {field: 'daySendNum', title: '日发送量', minWidth: 80},
                    {field: 'dayLimit', title: '日限量', minWidth: 80,templet:function (d) {
                            if (d.upAgentId) return '<span class="layui-badge febs-tag-volcano">不支持</span>';
                            return d.dayLimit?d.dayLimit:'不限';
                        }},
                    {title: '用户状态',templet: "#agent-state", minWidth: 80},
                    {field: 'needBindGoogleKey', title: '绑定Google', templet: '#agent-needBindGoogleKey',hide:true},
                    {field: 'loginFaildCount', title: '登录失败次数',hide:true},
                    {field: 'createDate', title: '创建时间', minWidth: 100, sort: true,hide:true},
                    {title: '操作',fixed:'right', toolbar: '#agent-option', minWidth: 140}
                ]]
            });
        }

        function getQueryParams() {
            return {
                stateCode: $searchForm.find('select[name="stateCode"]').val().trim(),
                agentAccount: $searchForm.find('input[name="agentAccount"]').val().trim(),
                id: $searchForm.find('select[name="id"]').val().trim(),
                invalidate_ie_cache: new Date()
            };
        }

        function deleteAgents(agentIds) {
            febs.get(ctx + 'agent/delete/' + agentIds, null, function () {
                febs.alert.success('删除代理成功');
                $query.click();
            });
        }
        
        function unlockAgents(agentIds) {
            febs.get(ctx + 'agent/unlock/' + agentIds, null, function() {
                febs.alert.success('批量代理解锁成功');
                $query.click();
            });
        }
        function lockAgents(agentIds) {
            febs.get(ctx + 'agent/lock/' + agentIds, null, function() {
                febs.alert.success('批量代理锁定成功');
                $query.click();
            });
        }
    })

</script>
