<style>
    #agent-update {
        padding: 20px 25px 25px 0;
    }

    #agent-update .layui-treeSelect .ztree li a, .ztree li span {
        margin: 0 0 2px 3px !important;
    }
</style>
<div class="layui-fluid" id="agent-update">
    <form class="layui-form" action="" lay-filter="agent-update-form">
        <div class="layui-form-item febs-hide">
            <label class="layui-form-label febs-form-item-require">代理id：</label>
            <div class="layui-input-block">
                <input type="text" name="id" data-th-value="${agent.id}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">名称：</label>
            <div class="layui-input-block">
                <input type="text" name="agentName" lay-verify="required"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">用户名：</label>
            <div class="layui-input-block">
                <input type="text" name="agentAccount" lay-verify="required" autocomplete="off" class="layui-input" readonly>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">手机号：</label>
            <div class="layui-input-block">
                <input type="text" name="phoneNumber" lay-verify="phone" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">邮箱：</label>
            <div class="layui-input-block">
                <input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">QQ：</label>
            <div class="layui-input-block">
                <input type="text" name="qq" autocomplete="off" class="layui-input">
            </div>
        </div>
        <!-- 顶级代理才有该项-->
        <div class="layui-form-item" th:if="${agent.upAgentId==null}">
            <label class="layui-form-label">日限量：</label>
            <div class="layui-input-block">
                <input type="text" name="dayLimit" placeholder="请输入日限量" class="layui-input" lay-verify="number">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">用户状态：</label>
            <div class="layui-input-block">
                <sys:dict sortCode="StateEnum" name="stateCode" class="layui-form-label layui-form-label-sm" lay-verify="required"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require" >绑定谷歌：</label>
            <div class="layui-input-block">
            	 <select name="needBindGoogleKey">
	                 <option  th:each="enum:${needBindGoogleKeyEnums}"
	                 		  th:value ="${enum.code}"
	                          th:text="${enum.name}">
	                  </option>
                  </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">描述：</label>
            <div class="layui-input-block">
                <input type="text" name="description" maxlength="1024" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注：</label>
            <div class="layui-input-block">
                <textarea name="remark" maxlength="1024" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item febs-hide">
            <button class="layui-btn" lay-submit="" lay-filter="agent-update-form-submit" id="submit"></button>
        </div>
    </form>
</div>

<script data-th-inline="javascript">
    layui.use(['febs', 'form', 'formSelects', 'validate'], function () {
        var $ = layui.$,
            febs = layui.febs,
            layer = layui.layer,
            formSelects = layui.formSelects,
            form = layui.form,
            agent = [[${agent}]],
            $view = $('#agent-update'),
            validate = layui.validate;

        form.verify(validate);
        form.render();

        initCodeValue();

        formSelects.render();

        function initCodeValue() {
            form.val("agent-update-form", {
                "agentName": agent.agentName,
                "agentAccount": agent.agentAccount,
                "stateCode": agent.stateCode,
                "phoneNumber": agent.phoneNumber,
                "email": agent.email,
                "qq": agent.qq,
                "dayLimit": agent.dayLimit,
                "description": agent.description,
                "remark": agent.remark,
                "needBindGoogleKey": agent.needBindGoogleKey
            });
        }

        form.on('submit(agent-update-form-submit)', function (data) {
            if (febs.nativeEqual(data.field, agent)) {
                febs.alert.warn('数据未作任何修改！');
                return false;
            }
            febs.post(ctx + 'agent/update', data.field, function () {
                layer.closeAll();
                febs.alert.success(' 数据修改成功');
                $('#febs-agent').find('#query').click();
            });
            return false;
        });
    });
</script>
