<style>
    #organizationRechargeOrder-upNetwayCode {
        padding: 20px 25px 25px 0;
    }
    #organizationRechargeOrder-upNetwayCode .layui-treeSelect .ztree li a, .ztree li span {
        margin: 0 0 2px 3px !important;
    }
</style>
<div class="layui-fluid" id="organizationRechargeOrder-upNetwayCode">
    <form class="layui-form" action="" lay-filter="organizationRechargeOrder-upNetwayCode-form">
    	<input type="hidden" id="id" name="id"  data-th-value="${organizationRechargeOrder.id}"/>
        <div class="layui-form-item febs-hide">
            <label class="layui-form-label febs-form-item-require">充值订单编号：</label>
            <div class="layui-input-block">
                <input type="text" name="orderNo" data-th-value="${organizationRechargeOrder.orderNo}">
            </div>
        </div>
        <div class="layui-form-item">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="febs-red" id="usre-recharge-upNetwayCode-message"></span>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">交易方式：</label>
            <div class="layui-input-block">
                <sys:dict sortCode="NetwayCode" name="netwayCode" lay-verify="required" class="layui-form-label layui-form-label-sm"/>
            </div>
        </div>
        <div class="layui-form-item febs-hide">
            <button class="layui-btn" lay-submit="" lay-filter="organizationRechargeOrder-upNetwayCode-form-submit" id="submit"></button>
        </div>
    </form>
</div>

<script data-th-inline="javascript">
    layui.use(['febs', 'form', 'validate'], function () {
        var $ = layui.$,
            febs = layui.febs,
            layer = layui.layer,
            form = layui.form,
            organizationRechargeOrder = [[ ${organizationRechargeOrder} ]],
            $view = $('#organizationRechargeOrder-upNetwayCode'),
            validate = layui.validate;
        
        function initorganizationRechargeOrderValue() {
            form.val("organizationRechargeOrder-upNetwayCode-form", {
                "netwayCode": organizationRechargeOrder.netwayCode

            });
        }
        
        initorganizationRechargeOrderValue();
        
        var message = "正在修改订单【"+organizationRechargeOrder.orderNo+"】";
        $view.find('#usre-recharge-upNetwayCode-message').html(message).end();
        form.verify(validate);
        form.render();
        form.on('submit(organizationRechargeOrder-upNetwayCode-form-submit)', function (data) {
            var self = $(this);
            if(self.data('loading')){
                return false;
            }
            self.data('loading',true);
            febs.post(ctx + 'organizationRechargeOrder/upNetwayCode', data.field, function (data) {
                layer.closeAll();
                self.data('loading',false);
                if(data.code == 200){
                    layer.confirm("订单号：" + data.data.orderNo, {title:'交易方式修改成功'}, function(index){
                        layer.close(index);
                        $('#febs-organizationRechargeOrder').find('#query').click();
                    });
                }
            },function (data) {
                self.data('loading',false);
            });
            return false;
        });
    });
</script>
