<style>
    #organizationRechargeOrder-deducting {
        padding: 20px 25px 25px 0;
    }
    #organizationRechargeOrder-deducting .layui-treeSelect .ztree li a, .ztree li span {
        margin: 0 0 2px 3px !important;
    }
</style>
<div class="layui-fluid" id="organizationRechargeOrder-deducting">
    <form class="layui-form" action="" lay-filter="organizationRechargeOrder-deducting-form">
    	<input type="hidden" id="sessionToken" name="sessionToken"  data-th-value="${sessionToken}"/>
        <div class="layui-form-item febs-hide">
            <label class="layui-form-label febs-form-item-require">商户编号：</label>
            <div class="layui-input-block">
                <input type="text" name="organizationCode" data-th-value="${organization.organizationCode}">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <span class="febs-red" id="recharge-message"></span>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">扣除金额(元)：</label>
            <div class="layui-input-block">
                <input type="text" name="rechargeAmount" lay-verify="required|moneyNumber" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <!--            <label class="layui-form-label layui-icon label-icon layui-icon-vercode"></label>-->
            <label class="layui-form-label">验证码：</label>
            <div class="layui-input-block">
                <input type="text" maxlength="6" name="verifyCode" lay-verify="required|number"
                       placeholder="请输入谷歌验证码" class="layui-input" autocomplete="off">
                <!--<div class="layui-input-inline">
                    <img data-th-src="@{febs/images/goologo.jpg}"/>
                </div>-->
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">备注：</label>
            <div class="layui-input-block">
                <input type="text"  name="remark"  class="layui-input"/>
            </div>
        </div>
        <div class="layui-form-item febs-hide">
            <button class="layui-btn" lay-submit="" lay-filter="organizationRechargeOrder-deducting-form-submit" id="submit"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>

<script data-th-inline="javascript">
    layui.use(['febs', 'form', 'validate'], function () {
        var $ = layui.$,
            febs = layui.febs,
            layer = layui.layer,
            form = layui.form,
            organization = [[ ${organization} ]],
            $view = $('#organizationRechargeOrder-deducting'),
            validate = layui.validate;
        var message = "正在为【"+organization.organizationName+"】扣除额度";
        $view.find('#recharge-message').html(message).end();
        form.verify(validate);
        form.render();
        form.on('submit(organizationRechargeOrder-deducting-form-submit)', function (data) {
            var self = $(this);
            if(self.data('loading')){
                return false;
            }
            self.data('loading',true);
            data.field.rechargeAmount = (parseFloat(data.field.rechargeAmount)*100).toFixed(0);
            febs.post(ctx + 'organizationRechargeOrder/deducting', data.field, function (data) {
                self.data('loading',false);
                layer.closeAll();
                if(data.code == 200){
                    layer.confirm("订单号：" + data.data.orderNo, {title:'扣除成功'}, function(index){
                        layer.close(index);
                        $('#febs-organization').find('#query').click();
                    });
                }
            },function (data) {
            	if(data.sessionToken!=null)
                {
               	   $view.find('#sessionToken').val(data.sessionToken);
                }
                self.data('loading',false);
            });
            return false;
        });
    });
</script>
