<div class="layui-fluid layui-anim febs-anim" id="febs-returnSmsOrder" lay-title="短信退还">
    <div class="layui-row febs-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body febs-table-full">
                    <form class="layui-form layui-table-form" lay-filter="user-table-form">
                        <div class="layui-row">
                            <div class="layui-col-md10">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">订单号</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="orderNo" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">批次号</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="sendCode" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">商户名称</label>
                                        <div class="layui-input-inline">
                                            <sys:data dataType="org" name="orgCode"/>
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">代理</label>
                                        <div class="layui-input-inline">
                                            <sys:data name="agentId" datatype="agent"/>
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">创建时间</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="createStartTime" class="layui-input" id="createStartTime7">
                                        </div>
                                        <div class="layui-form-mid">-</div>
                                        <div class="layui-input-inline">
                                            <input type="text" name="createEndTime" class="layui-input" id="createEndTime7" >
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                <div class="layui-btn layui-btn-sm table-action" id="query">
                                    搜索
                                </div>
                            </div>

                        </div>
                    </form>
                    <table lay-filter="returnSmsOrderTable" lay-data="{id: 'returnSmsOrderTable'}"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="returnSmsOrder-toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="export" shiro:hasAnyPermissions="returnSmsOrder:export">导出</button>
        <button class="layui-btn  layui-btn-sm layui-btn-success" id="returnSmsOrder-import"
                shiro:hasPermission="returnSmsOrder:import">
            <i class="layui-icon">&#xe7aa;</i> 导入退还
        </button>
        <button class="layui-btn  layui-btn-sm layui-btn-success" id="template-download"
                shiro:hasPermission="returnSmsOrder:import">
            <i class="layui-icon">&#xe82a;</i> 模板下载
        </button>
    </div>
</script>

<script type="text/html" id="returnSmsOrder-option">
</script>
<script data-th-inline="javascript" type="text/javascript">
    layui.use(['jquery', 'laydate', 'form', 'table', 'febs', 'upload'], function () {
        var $ = layui.jquery,
            laydate = layui.laydate,
            febs = layui.febs,
            form = layui.form,
            table = layui.table,
            upload = layui.upload,
            $view = $('#febs-returnSmsOrder'),
            $query = $view.find('#query'),
            $reset = $view.find('#reset'),
            $searchForm = $view.find('form'),
            sortObject = {field: 'createTime', type: null},
            todayStart = [[${todayStart}]],
            todayEnd = [[${todayEnd}]],
            tableIns;

        form.render();

        initTable();

        var start =  laydate.render({
            elem: '#createStartTime7',
            type: 'datetime',
            min:"1970-1-1",
            max:todayEnd,
            value: todayStart,
            done: function (value,date) {

                end.config.min ={
                    year:date.year,
                    month:date.month-1,
                    date: date.date,
                    hours: 0,
                    minutes: 0,
                    seconds : 0
                }
            }
        });

        var end = laydate.render({
            elem: '#createEndTime7',
            type: 'datetime',
            min:todayStart,
            max:"2099-12-31",
            value: todayEnd,
            done: function (value,date) {
                start.config.max={
                    year:date.year,
                    month:date.month-1,//注意是month-1，写在date上的话你后边的日期选择不了
                    date: date.date,
                    hours: 0,
                    minutes: 0,
                    seconds : 0
                }
            }
        });


        //头工具栏事件
        table.on('toolbar(returnSmsOrderTable)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'export':
                    febs.download(ctx + 'returnSmsOrder/excel', getQueryParams(), '短信退还订单.xlsx');
                    break;

            };
        });

        table.on('tool(returnSmsOrderTable)', function (obj) {
            var data = obj.data,
                layEvent = obj.event;

        });

        table.on('sort(returnSmsOrderTable)', function (obj) {
            sortObject = obj;
            tableIns.reload({
                initSort: obj,
                where: $.extend(getQueryParams(), {
                    field: obj.field,
                    order: obj.type
                })
            });
        });

        $query.on('click', function () {
            var params = $.extend(getQueryParams(), {field: sortObject.field, order: sortObject.type});
            tableIns.reload({where: params, page: {curr: 1}});
        });

        $reset.on('click', function () {
            $searchForm[0].reset();
            tableIns.reload({where: getQueryParams(), page: {curr: 1}, initSort: sortObject});
        });
        //模板下载
        $view.on('click', '#template-download', function () {
            febs.download(ctx + 'returnSmsOrder/template', null, '短信退还Excel模板.xlsx');
        });

        function initTable() {
            tableIns = febs.table.init({
                elem: $view.find('table'),
                id: 'returnSmsOrderTable',
                totalRow: true,
                url: ctx + 'returnSmsOrder/list',
                toolbar: '#returnSmsOrder-toolbar',
                done:function(){
                    initUpload();
                },
                cols: [
                    [
                        {type: 'checkbox',totalRowText: '合计'},
                        {field: 'orderNo', title: '订单号', minWidth: 200},
                        {field: 'sendCode', title: '批次号', minWidth: 210},
                        {field: 'smsNum', title: '短信条数', minWidth: 80,totalRow: true},
                        {field: 'orgName', title: '商户名称', minWidth: 120},
                        {field: 'agentName', title: '代理', width: 150},
                        {field: 'upAgentName', title: '上级代理', width: 150},
                        {field: 'orgReturnAmount', title: '商户退还',templet:function (d) {
                                if (!d.orgReturnAmount) return 0.00;
                                return (d.orgReturnAmount/100).toFixed(2);
                            }, minWidth: 100,totalRow: true},
                        {field: 'agentReturnAmount', title: '代理退还',templet:function (d) {
                                if (!d.agentReturnAmount) return 0.00;
                                return (d.agentReturnAmount/100).toFixed(2);
                            }, minWidth: 100,totalRow: true},
                        {field: 'upAgentReturnAmount', title: '上级代理退还',templet:function (d) {
                                if (!d.upAgentReturnAmount) return 0.00;
                                return (d.upAgentReturnAmount/100).toFixed(2);
                            }, minWidth: 120,totalRow: true},
                        {field: 'remark', title: '备注', minWidth: 100},
                        {field: 'createTime', title: '创建时间', minWidth: 160}
                    ]
                ]
            });
        }
        function initUpload() {
            upload.render({
                elem: '#returnSmsOrder-import',
                url: ctx + 'returnSmsOrder/import',
                accept: 'file',
                exts: 'xlsx|xls', // 只能上传 .xlsx|.xls格式
                size: 5 * 1024, // kb
                before: function () {
                    febs.view.loadBar.start();
                },
                done: function (res) {
                    febs.view.loadBar.finish();
                    if (res.code === 200) {
                        // 刷新 table
                        tableIns.reload({page: {curr: 1}});
                        var data = res.data;
                        // 弹出导入结果
                        febs.modal.open('任务提交成功', 'returnSmsOrder/result', {
                            area: $(window).width() <= 750 ? '95%' : '1000px',
                            data: data
                        });
                    }
                }, error: function (res) {
                    //请求异常回调
                    console.error(res);
                    febs.view.loadBar.error();
                    febs.alert.error('导入失败！');
                }
            });
        }
        function getQueryParams() {
            return {
                orderNo: $searchForm.find('input[name="orderNo"]').val().trim(),
                sendCode: $searchForm.find('input[name="sendCode"]').val().trim(),
                orgCode: $searchForm.find('select[name="orgCode"]').val().trim(),
                agentId: $searchForm.find('select[name="agentId"]').val(),
                createStartTime: $searchForm.find('input[name="createStartTime"]').val(),
                createEndTime: $searchForm.find('input[name="createEndTime"]').val(),
                invalidate_ie_cache: new Date()
            };
        }

        function deletereturnSmsOrders(returnSmsOrderIds) {
            febs.get(ctx + 'returnSmsOrder/delete/' + returnSmsOrderIds, null, function () {
                febs.alert.success('删除成功');
                $query.click();
            });
        }
    })
</script>
