<style>
    #payChannel-update {
        padding: 20px 25px 25px 0;
    }

    #payChannel-update .layui-treeSelect .ztree li a, .ztree li span {
        margin: 0 0 2px 3px !important;
    }
</style>
<div class="layui-fluid" id="payChannel-update">
    <form class="layui-form" action="" lay-filter="payChannel-update-form">
        <div class="layui-form-item febs-hide">
            <label class="layui-form-label febs-form-item-require">：</label>
            <div class="layui-input-block">
                <input type="text" name="id" data-th-value="${payChannel.id}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">通道名称：</label>
            <div class="layui-input-block">
                <input type="text" name="channelName" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">商户号：</label>
            <div class="layui-input-block">
                <input type="text" name="merchNo" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">网关类型：</label>
            <div class="layui-input-block">
                <sys:dict sortCode="NetwayCode" parentCode="SC" name="netwayCode" class="layui-form-label layui-form-label-sm" lay-verify="required"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">实现类：</label>
            <div class="layui-input-block">
                <input type="text" name="implFullClass" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">权重：</label>
            <div class="layui-input-block">
                <input type="text" name="weight" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">通道成本：</label>
            <div class="layui-input-block">
                <input type="text" name="cost" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">最小金额(元)：</label>
            <div class="layui-input-block">
                <input type="text" name="minAmount" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">最大金额(元)：</label>
            <div class="layui-input-block">
                <input type="text" name="maxAmount" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">提交url：</label>
            <div class="layui-input-block">
                <input type="text" name="requestUrl" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">回调url：</label>
            <div class="layui-input-block">
                <input type="text" name="callbackUrl" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">交易编码：</label>
            <div class="layui-input-block">
                <input type="text" name="payCode" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">签名秘钥：</label>
            <div class="layui-input-block">
                <input type="text" name="signKey" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">安全秘钥：</label>
            <div class="layui-input-block">
                <input type="text" name="encryptKey" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">通道状态：</label>
            <div class="layui-input-block">
                <select  name="stateCode">
                    <option value=""></option>
                    <option  th:each="enum:${channelStateEnums}"
                             th:value ="${enum.code}"
                             th:text="${enum.name}">
                    </option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">KE1：</label>
            <div class="layui-input-block">
                <input type="text" name="key1" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">KE2：</label>
            <div class="layui-input-block">
                <input type="text" name="key2" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">KE3：</label>
            <div class="layui-input-block">
                <input type="text" name="key3" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">KE4：</label>
            <div class="layui-input-block">
                <input type="text" name="key4" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">KE5：</label>
            <div class="layui-input-block">
                <input type="text" name="key5" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">备注：</label>
            <div class="layui-input-block">
                <input type="text" name="remark" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item febs-hide">
            <button class="layui-btn" lay-submit="" lay-filter="payChannel-update-form-submit" id="submit"></button>
        </div>
    </form>
</div>

<script data-th-inline="javascript">
    layui.use(['febs', 'form', 'validate'], function () {
        var $ = layui.$,
            febs = layui.febs,
            layer = layui.layer,
            formSelects = layui.formSelects,
            treeSelect = layui.treeSelect,
            form = layui.form,
            payChannel = [[${payChannel}]],
            $view = $('#payChannel-update'),
            validate = layui.validate;

        form.verify(validate);
        form.render();

        initpayChannelValue();

        function initpayChannelValue() {
            form.val("payChannel-update-form", {
                "channelName": payChannel.channelName,
                "merchNo": payChannel.merchNo,
                "netwayCode": payChannel.netwayCode,
                "implFullClass": payChannel.implFullClass,
                "weight": payChannel.weight,
                "cost": payChannel.cost,
                "minAmount": payChannel.minAmount/100,
                "maxAmount": payChannel.maxAmount/100,
                "requestUrl": payChannel.requestUrl,
                "callbackUrl": payChannel.callbackUrl,
                "payCode": payChannel.payCode,
                "signKey": payChannel.signKey,
                "encryptKey": payChannel.encryptKey,
                "stateCode": payChannel.stateCode,
                "key1": payChannel.key1,
                "key2": payChannel.key2,
                "key3": payChannel.key3,
                "key4": payChannel.key4,
                "key5": payChannel.key5,
                "remark": payChannel.remark
            });
        }

        form.on('submit(payChannel-update-form-submit)', function (data) {
            if (febs.nativeEqual(data.field, payChannel)) {
                febs.alert.warn('数据未作任何修改！');
                return false;
            }
            data.field.minAmount = (parseFloat(data.field.minAmount)*100).toFixed(0);
            data.field.maxAmount = (parseFloat(data.field.maxAmount)*100).toFixed(0);
            febs.post(ctx + 'payChannel/update', data.field, function () {
                layer.closeAll();
                febs.alert.success('数据修改成功！');
                $('#febs-payChannel').find('#query').click();
            });
            return false;
        });
    });
</script>
