
<div class="layui-fluid" id="user-password-update" lay-title="登录密码修改">
    <div class="layui-row febs-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">修改登录密码</div>
                <div class="layui-card-body" pad15="">

                    <form class="layui-form" lay-filter="password-update-form" style="padding: 20px 30px 0 0;">
                        <div class="layui-form-item">
                            <label class="layui-form-label">原始密码<font color="red">&nbsp;&nbsp;*</font></label>
                            <div class="layui-input-inline">
                                <input type="password" name="oldPassword" lay-verify="required" placeholder="请输入原始密码" autocomplete="off" lay-vertype="tips" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">登录密码<font color="red">&nbsp;&nbsp;*</font></label>
                            <div class="layui-input-inline">
                                <input type="password" name="newPassword" id="newPassword" minlength="6" lay-verify="range" lay-vertype="tips" placeholder="请输入登录密码" autocomplete="off" class="layui-input" >
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">确认密码<font color="red">&nbsp;&nbsp;*</font></label>
                            <div class="layui-input-inline">
                                <input type="password" name="confirmPassword" minlength="6" lay-verify="range" placeholder="请输入确认密码" lay-vertype="tips" autocomplete="off" class="layui-input">
                            </div>
                        </div>
						<div class="layui-form-item">
                            <label class="layui-form-label">密码强度&nbsp;&nbsp;</label>
                            <div class="layui-input-inline" id="pwStrength">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn layui-btn-normal" type="submit" lay-submit="" lay-filter="password-update-form-submit">
                                    确认修改
                                </button>
                                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    layui.use(['febs', 'form', 'validate', 'layer','rate'], function () {
        var $ = layui.$,
            validate = layui.validate,
            form = layui.form,
            febs = layui.febs,
            layer = layui.layer,
            rate = layui.rate,
            checkPwStr = '',
            pwStrong = 'EASY',
            $view = $('#user-password-update');

        form.verify(validate);
        form.render();
        checkPwStrong(0);
        function checkPwStrong(pwStrongInt) {
        //自定义文本
        rate.render({
          elem: '#pwStrength'
          ,value: pwStrongInt
          ,text: true
          ,readonly: true
          ,theme: '#FF8000'
          ,setText: function(value){ //自定义文本的回调
            var arrs = {
              '0': '未知'
              ,'1': '简单'
              ,'2': '中等'
              ,'3': '强'
              ,'4': '很强'
              ,'5': '极强'
            };
            this.span.text(arrs[value] || ( value ));
          }
        })
        }
        $view.find('#newPassword').on('blur', function () 
        {
        	var newPassword = $view.find('#newPassword').val();
        	if(newPassword!=null&&newPassword!='')
        	{
        		if(newPassword != checkPwStr)
        		{
        			checkPwStr = newPassword;
        			febs.post(ctx + 'organizationUser/password/checkLevel/'+newPassword, null, function (res) 
        			{
	    	        	pwStrong = res.data;
	        			var pwStrongInt = 0;
	    	        	if(pwStrong=='EASY')
	    	        	{
	    	        		pwStrongInt = 1;
	    	        	}
	    	        	else if(pwStrong=='MIDIUM')
	    	        	{
	    	        		pwStrongInt = 2;
	    	        	}
	    	        	else if(pwStrong=='STRONG')
	    	        	{
	    	        		pwStrongInt = 3;
	    	        	}
	    	        	else if(pwStrong=='VERY_STRONG')
	    	        	{
	    	        		pwStrongInt = 4;
	    	        	}
	    	        	else if(pwStrong=='EXTREMELY_STRONG')
	    	        	{
	    	        		pwStrongInt = 5;
	    	        	}
	    	        	checkPwStrong(pwStrongInt);
	    	        });
        		}
        	}
        	else
        	{
        		pwStrong='EASY';
        		checkPwStr = '';
        		checkPwStrong(0);
        	}
        });
        
        form.on('submit(password-update-form-submit)', function (data) {
        	layer.load();
            if (data.field.newPassword !== data.field.confirmPassword) {
                febs.alert.warn('两次密码输入不一致！');
                layer.closeAll('loading');
                return false;
            }
            if(pwStrong=='EASY')
            {
            	febs.alert.warn('新密码过于简单，请设置强度至少为“中等”的密码！');
            	layer.closeAll('loading');
                return false;	
            }
            febs.post(ctx + 'organizationUser/password/update', data.field, function (r) {
                layer.closeAll();
                febs.modal.success('修改成功', '密码修改成功，请重新登录【为确保账户安全，请定期更换下密码，谢谢】)', function () {
                    window.location.href = ctx + 'logout';
                });
            });
            return false;
        });
    });
</script>