<div class="layui-fluid layui-anim febs-anim" id="febs-agent" lay-title="代理管理">
    <div class="layui-row febs-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body febs-table-full">
                    <form class="layui-form layui-table-form" lay-filter="agent-table-form">
                        <div class="layui-row">
                            <div class="layui-col-md10">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">名称</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="agentName" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">用户名</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="agentAccount" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">状态</label>
                                        <div class="layui-input-inline">
                                            <select  name="stateCode">
                                                <option value=""></option>
                                                <option  th:each="enum:${orgStatusEnums}"
                                                         th:value ="${enum.code}"
                                                         th:text="${enum.name}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                <div class="layui-btn layui-btn-sm table-action" id="query">
                                    搜索
                                </div>
                            </div>
                        </div>
                    </form>
                    <table lay-filter="agentTable" lay-data="{id: 'agentTable'}"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript"  type="text/html" id="agent-state">
    {{#
    var state = {[# th:each="enum : ${orgStatusEnums}"]
    [( ${enum.code} )]:{title: '[( ${enum.name} )]' , color : '[( ${enum.color} )]'},
    [/]}[d.stateCode];
    }}
    <span class="layui-badge febs-tag-{{state.color}}">{{ state.title }}</span>
</script>
<script type="text/html" id="agent-toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="add" shiro:hasAnyPermissions="agent:add">新增</button>
        <button class="layui-btn layui-btn-sm" lay-event="resetPassword" shiro:hasAnyPermissions="agent:resetPassword">重置密码</button>
        <button class="layui-btn layui-btn-sm" lay-event="recharge" shiro:hasAnyPermissions="agentRechargeOrder:add">充值</button>
    </div>
</script>
<script type="text/html" id="agent-option">
    <span shiro:lacksPermission="agent:update,agent:delete">
        <span class="layui-badge-dot febs-bg-orange"></span> 无权限
    </span>
    <a lay-event="edit" shiro:hasPermission="agent:update"><i class="layui-icon febs-edit-area febs-blue" title="修改">&#xe7a4;</i></a>
    <a lay-event="editCost" shiro:hasPermission="agentCost:updates"><i class="layui-icon febs-edit-area febs-blue" title="资费">&#xe794;</i></a>
    <a lay-event="editMenuLimit" shiro:hasPermission="agentMenuLimit:update"><i class="layui-icon febs-edit-area febs-blue" title="权限">&#xe875;</i></a>
    <a lay-event="google" shiro:hasPermission="agent:google:key"><i class="layui-icon febs-edit-area qrcodeUrl" title="谷歌验证码">&#xe934;</i></a>
</script>

<script data-th-inline="none" type="text/javascript">
    layui.use(['dropdown', 'jquery', 'laydate', 'form', 'table', 'febs'], function () {
        var $ = layui.jquery,
            laydate = layui.laydate,
            febs = layui.febs,
            form = layui.form,
            table = layui.table,
            $view = $('#febs-agent'),
            $query = $view.find('#query'),
            $reset = $view.find('#reset'),
            $searchForm = $view.find('form'),
            tableIns;

        form.render();

        initTable();

        //头工具栏事件
        table.on('toolbar(agentTable)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'add':
                    febs.modal.open('新增代理', 'agent/add', {
                        btn: ['提交', '重置'],
                        area:['950px','600px'],
                        yes: function (index, layero) {
                            $('#agent-add').find('#submit').trigger('click');
                        },
                        btn2: function () {
                            $('#agent-add').find('#reset').trigger('click');
                            return false;
                        }
                    });
                    break;
                case 'resetPassword':
                    if (!checkStatus.data.length) {
                        febs.alert.warn('请选择需要重置密码的代理');
                    } else {
                        var agentAccounts = [];
                        layui.each(checkStatus.data, function (key, item) {
                            agentAccounts.push(item.agentAccount)
                        });
                        febs.post(ctx + 'agent/resetPassword/' + agentAccounts.join(','), null, function () {
                            febs.alert.success('所选用户密码已重置为(当天的年月日，格式: YYYYMMDD)');
                        });
                    }
                    break;
                case 'recharge':
                    if (!checkStatus.data.length) {
                        febs.alert.warn('请选择需要充值的代理');
                    }else if(checkStatus.data.length !=1){
                        febs.alert.warn('每次只能为一个代理充值');
                    } else {
                        febs.modal.open('代理充值', 'agentRechargeOrder/add/' + checkStatus.data[0].id, {
                            btn: ['提交', '重置'],
                            area:['560px','450px'],
                            yes: function (index, layero) {
                                $('#agentRechargeOrder-add').find('#submit').trigger('click');
                            },
                            btn2: function () {
                                $('#agentRechargeOrder-add').find('#reset').trigger('click');
                                return false;
                            }
                        });
                    }
                    break;
            };
        });

        $query.on('click', function () {
            tableIns.reload({where: getQueryParams(), page: {curr: 1}});
        });

        $reset.on('click', function () {
            $searchForm[0].reset();
            tableIns.reload({where: getQueryParams(), page: {curr: 1}});
        });

        table.on('tool(agentTable)', function (obj) {
            var data = obj.data,
                layEvent = obj.event;
            if (layEvent === 'del') {
                febs.modal.confirm('删除代理', '确定删除改代理？', function () {
                    deleteAgents(data.id);
                });
            }
            if (layEvent === 'edit') {
                febs.modal.open('修改代理', 'agent/update/' + data.id, {
                    area:['950px','600px'],
                    btn: ['提交', '取消'],
                    yes: function (index, layero) {
                        $('#agent-update').find('#submit').trigger('click');
                    },
                    btn2: function () {
                        layer.closeAll();
                    }
                });
            }
            if (layEvent === 'editCost') {
                febs.modal.open('修改代理费率', 'agent/updateCost/' + data.id, {
                    area: ['750px','500px'],
                    btn: ['提交', '取消'],
                    yes: function (index, layero) {
                        $('#agent-cost-update').find('#submit').trigger('click');
                    },
                    btn2: function () {
                        layer.closeAll();
                    }
                });
            }
           if (layEvent === 'editMenuLimit') {
                febs.modal.open('修改代理权限', 'agent/updateMenuLimit/' + data.id, {
                    area:['400px','300px'],
                    btn: ['提交', '取消'],
                    yes: function (index, layero) {
                        $('#agent-limit-update').find('#submit').trigger('click');
                    },
                    btn2: function () {
                        layer.closeAll();
                    }
                });
            }
            if (layEvent === 'google') {
                febs.modal.open('绑定谷歌码', 'agent/googleKey/' + data.id, {
                    area:['350px','350px'],
                    btn: ['确定', '取消'],
                    yes: function (index, layero) {
                        layer.closeAll();
                    },
                    btn2: function () {
                        layer.closeAll();
                    }
                });
            }
        });

        function initTable() {
            tableIns = febs.table.init({
                elem: $view.find('table'),
                id: 'agentTable',
                url: ctx + 'agent/list',
                toolbar: '#agent-toolbar',
                cols: [[
                    {type: 'checkbox'},
                    {field: 'agentName', title: '名称', minWidth: 80,hide:true},
                    {field: 'agentAccount', title: '用户名', minWidth: 80},
                    {field: 'amount', title: '充值总额(元)', minWidth: 80 ,templet: function(d){ return d.amount/100 }},
                    {field: 'quotaAmount', title: '可用额度(元)', minWidth: 80,templet: function(d){ return d.quotaAmount/100 }},
                    {field: 'availableAmount', title: '利润金额(元)', minWidth: 80,templet: function(d){ return d.availableAmount/100 }},
                    {field: 'cashAmount', title: '消费金额(元)', minWidth: 80,templet: function(d){ return d.cashAmount/100 }},
                    {field: 'sendSmsTotal', title: '发送条数', minWidth: 80},
                    {title: '用户状态',templet: "#agent-state", width: 90},
                    {field: 'loginFaildCount', title: '登录失败次数',hide:true},
                    {field: 'createDate', title: '创建时间', minWidth: 100, sort: true},
                    {title: '操作',fixed:'right', toolbar: '#agent-option', width: 150}
                ]]
            });
        }

        function getQueryParams() {
            return {
                stateCode: $searchForm.find('select[name="stateCode"]').val().trim(),
                agentAccount: $searchForm.find('input[name="agentAccount"]').val().trim(),
                agentName: $searchForm.find('input[name="agentName"]').val().trim(),
                invalidate_ie_cache: new Date()
            };
        }

        function deleteAgents(agentIds) {
            febs.get(ctx + 'agent/delete/' + agentIds, null, function () {
                febs.alert.success('删除代理成功');
                $query.click();
            });
        }
    })

</script>