<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title th:text="${session.sysConfig.platformName + '【代理后台】'}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css(t=2)}" media="all">
    <link rel="stylesheet" th:href="@{/febs/css/febs.css(t=2)}" media="all">
    <link rel="stylesheet" th:href="@{/febs/css/main.css(t=2)}" media="all">
<!--    <link rel="icon" th:href="@{febs/images/favicon.ico}" type="image/x-icon"/>-->
</head>
<body>
<div id="febs-login" lay-title="绑定Google令牌">
    <div class="login-wrap" style="margin-top: -370px;">
        <div class="layui-container">
            <div class="layui-row">
                <div class="layui-col-xs12 layui-col-lg4 layui-col-lg-offset4 febs-tc" style="margin-left: 58%;width:35%">
                </div>
                <div class="layui-col-xs12 layui-col-lg4 layui-col-lg-offset4" id="login-div" style="margin-left: 22%;width:55%">
                    <div class="layui-form" >
                        <div class="layui-anim layui-anim-upbit">
                            <ul class="login-type-tab">
                                <li class="active">代理【<span id="agentAccount"></span>】绑定Google口令</li>
                            </ul>
                            <form class="layui-form" id="agent-bindGoogl-add-form" action="" lay-filter="agent-bindGoogl-add-form" >
                            <div class="normal-login-form">
                                <div class="layui-form-item" id="showQrcodeDiv">
                                 <input type="hidden" name="googleKey" data-th-value="${googleKey}"/>
                                	<div class="layui-row" id="agentShowQrcodeImg" style="margin-left: 28%;"></div>
                                </div>
                                <div class="layui-form-item">
                                   <label class="layui-form-label active" style="font-size: 18px;color: #cfdeea;width: 100px; ">Google密钥:</label>
	                                <div class="layui-input-inline" style="width: 220px;">
	                                    <input type="text" data-th-value="${googleKey}" class="layui-input" readonly="readonly">
	                                </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-row">
		                                <label class="layui-form-label active" style="font-size: 18px;color: #cfdeea;width: 100px;">Google口令:</label>
		                                <div class="layui-input-inline"  style="width: 220px;">
		                                    <input type="text"  maxlength="6" name="goologoVerifyCode" lay-verify="required|number"
                                           placeholder="Google口令码" class="layui-input" autocomplete="off">
		                                </div>
		                            </div>
                                </div>
                                <div class="layui-form-item">
                                   <div class="layui-row">
		                                <label class="layui-form-label active" style="font-size: 18px;color: #cfdeea;width: 100px;">支付密码:</label>
		                                <div class="layui-input-inline"  style="width: 220px;">
		                                    <input type="password" name="payPassword" lay-verify="required"
                                           placeholder="支付密码" class="layui-input" autocomplete="off">
		                                </div>
		                            </div>
                                </div>
                                <div class="layui-form-item">
                                    <button class="layui-btn layui-btn-normal layui-btn-fluid" type="submit" lay-submit="" lay-filter="agent-bindGoogl-add-form-submit" id="bindGoogleButton" style="background-color: #2c8b2659;width: 45%;">
                                        <i style="display: none"
                                           class="layui-icon layui-icon-loading layui-icon layui-anim layui-anim-rotate layui-anim-loop"></i>
                                        绑定
                                    </button>
                                    <button class="layui-btn layui-btn-normal layui-btn-fluid" 
                                             type="reset" id="returnLogin" style="background-color: #2c8b2659;width: 35%;">
                                        <i style="display: none"
                                           class="layui-icon layui-icon-loading layui-icon layui-anim layui-anim-rotate layui-anim-loop"></i>
                                       返回
                                    </button>
                                </div>
                                <ul class="login-type-tab">
                                <li class="active" style="font-size: 16px;color: #e8c1c1f2;  " id="bindGoogleHint">
                                操作流程：使用手机【Google身份验证器】扫描二维码后，输入对应Google口令及登录密码，点击【绑定】完成Google令牌绑定！下次登录时，需输入相应的Google口令码！谢谢使用！</li>
                            	</ul>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
             <div class="air-balloon ab-1 png"></div>
             <div class="air-balloon ab-4 png"></div>
		    <div class="air-balloon ab-2 png"></div>
			<div class="air-balloon ab-3 png"></div>
			<div class="air-balloon ab-4 png"></div>
		    <div class="air-balloon ab-2 png"></div>
			<div class="air-balloon ab-3 png"></div>
			<div class="air-balloon ab-3 png"></div>
			<div class="air-balloon ab-4 png"></div>
			<div class="air-balloon ab-4 png"></div>
			<div class="air-balloon ab-4 png"></div>
		    <div class="footer"></div>
    </div>
</div>
<script th:src="@{/layui/layui.js}"></script>
<script th:src="@{/febs/jQuery.js}"></script>
<script th:src="@{/febs/fun.base.js}"></script>
<script th:src="@{/febs/script.js}"></script>
<script th:src="@{/layui/layui.all.js}"></script>
<script th:src="@{/febs/lay/extends/qrcode.js}"></script>
<script th:inline="javascript">
	var $ = layui.$,
	febs = layui.febs,
	layer = layui.layer,
	form = layui.form,
	$view = $('#agent-bindGoogl-add-form'),
	qrcodeUrl = [[${googleQrcode}]],
	agentAccount = [[${agentAccount}]],
	haveKey = false,
	qrcode = layui.qrcode;
	validate = layui.validate;
	
	form.verify(validate);
	form.render();
	$('#agentAccount').text(agentAccount);
	
	if(qrcodeUrl){
	haveKey = true;
	$("#showQrcodeDiv").show();
	qrcode.qrcode(document.getElementById("agentShowQrcodeImg"),{
	  width: 200,
	  height: 200,
	  text: qrcodeUrl
	});
	
	}
	
	
	form.on('submit(agent-bindGoogl-add-form-submit)', function (data) {
	if(haveKey){
	  $.ajax({url:'/agent/bindGoogle',type: 'post',data: data.field,success: function (r) {
	      layer.closeAll();
	      if (r.code == 200){
	        layer.alert('Google令牌绑定成功，请重新登录', {icon: 6,title:'修改成功',yes:function () {
	            window.location.href = '/logout';
	          }});
	      }else {
	        layer.msg(r.message);
	      }
	    }});
	}
	return false;
	});
	$view.find('#returnLogin').on('click', function () 
	{
		window.location.href = '/logout';
	 });
</script>
</body>
</html>