<div class="layui-fluid layui-anim febs-anim" id="febs-message" lay-title="工单列表">
    <div class="layui-row febs-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body febs-table-full">
                    <form class="layui-form layui-table-form" lay-filter="user-table-form">
                        <div class="layui-row">
                            <div class="layui-col-md10">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">消息类型</label>
                                        <div class="layui-input-inline">
                                            <select  name="messageType">
                                                <option value=""></option>
                                                <option  th:each="enum:${messageType}"
                                                         th:value ="${enum.code}"
                                                         th:text="${enum.name}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">消息内容</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="messageContact" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">阅读状态</label>
                                        <div class="layui-input-inline">
                                            <select  name="merchReadStatus">
                                                <option value=""></option>
                                                <option  th:each="enum:${readStatus}"
                                                         th:value ="${enum.code}"
                                                         th:text="${enum.name}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                <!--
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="query">
                                    <i class="layui-icon">&#xe848;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="reset">
                                    <i class="layui-icon">&#xe79b;</i>
                                </div>
                                -->
                                <div class="layui-btn layui-btn-sm table-action" id="query">
                                    搜索
                                </div>
                                <!-- 
                                <div class="layui-btn layui-btn-sm table-action" id="reset">
                                    重置
                                </div>
                                -->
                            </div>
                        </div>
                    </form>
                    <table lay-filter="messageTable" lay-data="{id: 'messageTable'}"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="message-toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="add" shiro:hasAnyPermissions="message:add">提交工单</button>
        <button class="layui-btn layui-btn-sm febs-bg-volcano" lay-event="del" shiro:hasAnyPermissions="message:delete">删除</button>
    </div>
</script>
<script th:inline="javascript" type="text/html" id="msg-messageType">
    {{#
    var messageType = {[# th:each="enum : ${messageType}"]
    [( ${enum.code} )]: {title: '[( ${enum.name} )]'},
    [/]}[d.messageType];
    }}
    <span>{{ messageType.title }}</span>
</script>
<script th:inline="javascript" type="text/html" id="msg-readStatus">
    {{#
    var readStatus = {[# th:each="enum : ${readStatus}"]
    [( ${enum.code} )]: {title: '[( ${enum.name} )]' , color:'[( ${enum.color} )]'},
    [/]}[d.merchReadStatus];
    }}
    <span class="layui-badge febs-tag-{{readStatus.color}}">{{ readStatus.title }}</span>
</script>
<script type="text/html" id="message-option">
    <span shiro:lacksPermission="messageReply:list">
        <span class="layui-badge-dot febs-bg-orange"></span> 无权限
    </span>
    <a lay-event="details" shiro:hasPermission="messageReply:list"><i class="layui-icon febs-edit-area febs-blue" title="详情">&#xe7a4;</i></a>
</script>
<script data-th-inline="javascript" type="text/javascript">
    layui.use(['jquery', 'laydate', 'form', 'table', 'febs'], function () {
        var $ = layui.jquery,
            laydate = layui.laydate,
            febs = layui.febs,
            form = layui.form,
            table = layui.table,
            $view = $('#febs-message'),
            $query = $view.find('#query'),
            $reset = $view.find('#reset'),
            $searchForm = $view.find('form'),
            sortObject = {field: 'createTime', type: null},
            messageType =  [[${messageType}]],
            tableIns;

        form.render();

        initTable();

        function getMessageType(code){
            for (item of messageType) {
                if(item.code+"" == code)  return item.name;
            }
        }

        // laydate.render({
        //     elem: '#message-createTime',
        //     range: true,
        //     trigger: 'click'
        // });

        //头工具栏事件
        table.on('toolbar(messageTable)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'add':
                    febs.modal.open('提交工单', 'message/add', {
                        btn: ['提交', '重置'],
                        area:['700px','400px'],
                        yes: function(index, layero) {
                            $('#message-add').find('#submit').trigger('click');
                        },
                        btn2: function() {
                            $('#message-add').find('#reset').trigger('click');
                            return false;
                        }
                    });
                    break;
                case 'del':
                    if (!checkStatus.data.length) {
                        febs.alert.warn('请选择需要删除的记录');
                    } else {
                        febs.modal.confirm('删除记录', '确定删除该记录？', function() {
                            var messageIds = [];
                            layui.each(checkStatus.data, function(key, item) {
                                messageIds.push(item.messageId)
                            });
                            deletemessages(messageIds.join(','));
                        });
                    }
                    break;
            };
        });

        table.on('tool(messageTable)', function (obj) {
            var data = obj.data,
                layEvent = obj.event;
            if (layEvent === 'details') {
                febs.modal.open( getMessageType(data.messageType)+'详情', 'messageReply/list/' + data.id, {
                    area:['900px','760px']
                    ,cancel: function(){
                        isQueryMsg = false;
                        $('#febs-message').find('#query').click();
                    }
                    });
            }
            if(layEvent === 'showImg'){
                layer.photos({
                    photos:{
                        "title": "图片", //相册标题
                        "data": [   //相册包含的图片，数组格式
                            {
                                "src": data.pictureUrl, //原图地址
                            }
                        ]
                    }
                    ,anim: 5
                });
            }
        });

        table.on('sort(messageTable)', function (obj) {
            sortObject = obj;
            tableIns.reload({
                initSort: obj,
                where: $.extend(getQueryParams(), {
                    field: obj.field,
                    order: obj.type
                })
            });
        });

        $query.on('click', function () {
            var params = $.extend(getQueryParams(), {field: sortObject.field, order: sortObject.type});
            tableIns.reload({where: params, page: {curr: 1}});
        });

        $reset.on('click', function () {
            $searchForm[0].reset();
            tableIns.reload({where: getQueryParams(), page: {curr: 1}, initSort: sortObject});
        });

        function initTable() {
            tableIns = febs.table.init({
                elem: $view.find('table'),
                id: 'messageTable',
                url: ctx + 'message/list',
                toolbar: '#message-toolbar',
                cols: [
                    [
                    {type: 'checkbox'},
                    {field: 'messageType', title: '消息类型',templet:'#msg-messageType'},
                    {field: 'messageContact', title: '消息内容'},
                    {field: 'pictureUrl', title: '图片',templet: function(d){
                            if(d.pictureUrl){
                                return "<a lay-event=\"showImg\" ><img style='height: 100%' src='"+d.pictureUrl + "'/></a>";
                            }else {
                                return "暂无图片";
                            }
                        }},
                    {field: 'merchReadStatus', title: '阅读状态',templet:'#msg-readStatus'},
                    { field: 'createDate', title: '创建时间', minWidth: 160  },
                    {title: '操作', toolbar: '#message-option'}
                ]
                ]
            });
        }

        function getQueryParams() {
            return {
                messageType: $searchForm.find('select[name="messageType"]').val().trim(),
                messageContact: $searchForm.find('input[name="messageContact"]').val().trim(),
                merchReadStatus: $searchForm.find('select[name="merchReadStatus"]').val().trim(),
                invalidate_ie_cache: new Date()
            };
        }

        function deletemessages(messageIds) {
            febs.get(ctx + 'message/delete/' + messageIds, null, function () {
                febs.alert.success('删除成功');
                $query.click();
            });
        }
    })
</script>
